  <div class="card "> 
    <div class="card-header card-header-rose card-header-icon">
    <%= form_tag firms_path, method: :get do %>
      <%= text_field 'term', params[:term], class: 'form-control', placeholder: "Busque uma empresa" %>
      <%= submit_tag 'Buscar!', class: 'btn btn-sm' %>
    <% end %>
  </div>
</div>

        <div class="row">
          <% for firm in @firms %>  
          <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <% if firm.firm_photos.present? %>
                    <%= image_tag(firm.firm_photos.first.variant(resize: "300x300!")) %>
                      <% else %>
                      <%= image_tag "https://www.lojasramos.com.br/App_Themes/lojasramos/images/not-found.jpg" %>
                    <% end %>
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><%= h truncate(firm.name, length: 20) %></h4>
                  <p class="card-description" style='height: 150px; color: #000; font-size: 15px'>
                    <%= h truncate(ActionView::Base.full_sanitizer.sanitize(firm.description), :length => 170) %>
                  </p>

                  <button type="button" rel="tooltip" class="btn btn-round" data-original-title="" title="">
                  <%= link_to ("+ Info").html_safe, firm_path(firm),  {style: "color: #fff"}%>
                  </button></br>

                  <button type="button" rel="tooltip" class="btn btn-round" data-original-title="" title="">
                  <%= link_to ("Enviar Email").html_safe, new_email_message_path(),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style: "color: #fff"}%>
                  </button>

                  
                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    </div>
                  </div>
                </div>
                  
                </div>
              </div>
          </div>
          <% end %>
        </div>
