<div class="col-md-12">
	<div class="card "> 
		<div class="card-header card-header-rose card-header-icon">
		<%= form_with model: @product_article, url: product_article_path, method: :put, local: true do |f| %>
  			<div class="form-group">
    		 


    		<%= f.label :title, "Nome do produto" %>
    		<%= f.text_area :title, class: 'form-control' %> <br />    		    					

    		<%= f.label :content, "Faça uma descrição bastante completa, insira todas as informações que quiser. Não há problema em repetir informações" %>
    		<%= f.text_area :content, rows: 5, cols: 25, class: "tinymce" %> <br />    		    					
				


    		<small class="text-muted">De 2 to 1000 caracteres</small>			
  			</div>

v>              


  			<%= f.submit "Enviar", class: 'btn btn-rose btn-sm' %>
			<% end %>
		</div>
	</div>
</div>


<%= tinymce %> 