<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: -50px"></br>
  <div class="row">




    <div class="col-md-8">
      <div class="card ">
        <div class="card-header card-header-rose card-header-icon">
        <% if params[:category_id] %>    
          <div class="card-icon">
            <i class="material-icons" style="color: #ffbc02">info</i>
          </div>
          <h4 class="card-title"><%= category_name params[:category_id]%></h4></br></br>
          <% end %>
        </div>
   



<div class="col-md-12">
  <div class="container">
    <div class="row " style="margin-top: 0px;">
      <div class="col-md-9" ></br>
        <a href="#pablo">
          <img style="width: 100%" src="/assets/saude-terceira-idade-idoso-na-web.jpeg">
        </a>  
      </div>


      <div class="col-md-3" ></br>
        <% @articles.last(8).each do |article| %>    
        <h4 style="border-bottom:1px solid #eee;margin-top: 15px">
        <%= link_to (raw article.title.truncate(500)), product_articles_path(id: article.id), style: "font-size: 24px;font-family: HelveticaNeue-Light;color: #2c2c2c" %>
        </h4>
        <% end %>
      </div>



    </div>
  </div>      




<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px;"></br>
        

<div class="section section-nucleo-icons">
        <div class="container" >
          <div class="row">




<div class="row" style="margin-top: 0px; ">
  




  <% @articles.where(id: 6..8).each do |article| %>    
  <div class="col-md-4">
    <div >
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/fertilizacao-in-vitro.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" >                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold;font-size: 18px">
              <%= article.title %>
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px; ">

              <%= article.content.html_safe %>
                     
            </h2>
          </div>
            
          </div>
      </div>
    <% end %>









           
          </div>
        </div>
      </div>









<div class="container" style="margin-top: 0px">
  <h4 style="font-size: 36px; font-family: HelveticaNeue-Light; border-bottom: 1px solid #eee;"> Últimas notícias </h4>
</div></br>


<div class="container">

<% @articles.last(15).each do |article| %>    

<div class="row " style="margin-top: 0px; text-align: left;border-bottom: 1px solid #eee;" >
  


  <div class="col-md-4" ></br>
    <h4 style="font-size: 22px;font-family: HelveticaNeue-Light" > <%= link_to article.title, product_articles_path(id: article.id), style: "font-size: 22px;font-family: HelveticaNeue-Light;color: #2c2c2c" %> </h4>
  </div>

  <div class="col-md-4" ></br>
    <p style="font-size: 14px; margin-top: -15px"> 

      <%= link_to (raw article.content.truncate(170)), product_articles_path(id: article.id), style: "font-size: 16px;color: #2c2c2c"  %>

    </p>
  </div>


  <div class="card col-md-4" ></br>
      <div class="card-header card-header-image" data-header-animation="false" >
        <a href="#pablo" >
          <% if article.images.present? %>
          <%= image_tag(article.images.first.variant(resize: "100x100")) %>
          <% else %>
          <%= image_tag "https://www.lojasramos.com.br/App_Themes/lojasramos/images/not-found.jpg" %>
          <% end %>            

          </a>
      </div>    
  </div>

</div>

<% end %>



</div>    

</div>  











  </div>   


</div>

 </div>




 </div>
     <div class="col-md-4">
      <div class="card "></br>
        <%= render "/landing/produtos_da_categoria" %>
      </div>
    </div>

  </div>
   </div>

