<div class="col-md-12">
	<div class="card "> 
		<div class="card-header card-header-rose card-header-icon">
		<%= form_with model: @product_article, local: true do |f| %>
            <% @product_article.errors.full_messages.each do |message| %>
                <li>
                    <%= link_to message %>
                </li>
            <% end %>
  			<div class="form-group">
    		

            <%= f.label :category_id, "Categoria" %><br/>
            <%= f.select :category_id, options_for_select(Category.all.collect { | product | [product.name, product.id] }), :prompt => 'Selecione a categoria que pertence a notícia' %><br/> <br/>     

            <%= f.label :assetclass_id, "Assetclass" %><br/>
            <%= f.select :assetclass_id, options_for_select(Assetclass.all.collect { | product | [product.name, product.id] }), :prompt => 'Selecione o grupo que pertence o notícia' %><br/> <br/>     



    		<%= f.label :title, "Título do Artigo" %>
    		<%= f.text_area :title, class: 'form-control' %> <br />    		    					

    		<%= f.label :content, "Escreva o conteúdo do artigo" %>
    		<%= f.text_area :content, rows: 5, cols: 25, class: "tinymce", style: "height:500px" %> <br />    		    					
			
            <div class= "field" >
            <%= f.label :images, "Selecione as imagens do produto" %>
            <%= f.file_field :images, multiple: true, class: 'form-control' %> <br />                   
            </div>  
		




  			<%= f.submit "Enviar", class: 'btn btn-rose btn-sm' %>
			<% end %>
		</div>
	</div>
</div>



<%= tinymce %>

