<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: -50px"></br>
        
        

  <div class="row">





<div class="col-md-8">
  <div class="card ">
    
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">



    <div class="card-body ">
      <% if @product_article != nil %>
      <div >       
        <h1 style="font-size: 20px; border-bottom: 1px solid #ccc;font-family: HelveticaNeue-Light; font-weight: bold; color: #0092a8;padding-bottom: 10PX"><%= @product_article.title %></h1> </br>         
        </div>

    <div class="row" style="margin-left: 0px; text-align: center">
      <% @product_article.images.each do |article_image| %>
      <figure class="col-md-4" style="padding-bottom: 0px">
          <%= image_tag(article_image.variant(resize: "400x400"),height: '75%', width:'100%',alt:@product_article.title) %>
        <figcaption style="line-height: 1.2;margin-top: 5px; border-bottom: 1px solid #eee; text-align: left; font-size:90%">
            <%= article_image.filename.to_s.split('.')[0].tr("-", " ")%>
        </figcaption>
      </figure>

      <% end %>
    </div>

        <%= @product_article.content.html_safe %>
        <%end%>
      </div>  
    </div>



      </div>
    </div></br>
</br>

















  </div>          
<div class="col-md-4">
  <div class="card "></br>
    
   
 
   <%= render "/landing/produtos_da_categoria" %>





 

  </div>          
</div>  
</div>





  </div>  
</div>
      













		










