<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: -50px"></br>
        
        

  <div class="row">





<div class="col-md-8">
  <div class="card ">
    
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">



    <div class="card-body ">
      <% if @product_article != nil %>
        <div >       
          <h1 style="font-size: 26px; font-family: HelveticaNeue-Light"><%= @product_article.title %></h1> </br>
        </div>



          <% if @product_article.images.present? %>
          <%= image_tag(@product_article.images.first.variant(resize: "100%x60%")) %>
          <% else %>
          <%= image_tag "https://www.lojasramos.com.br/App_Themes/lojasramos/images/not-found.jpg" %>
          <% end %>            

</br></br></br>

        <%= @product_article.content.html_safe %>
        <%end%>
      </div>  
    </div>



      </div>
    </div></br>
</br>

















  </div>          
<div class="col-md-4">
  <div class="card "></br>
    
   
 
   <%= render "/landing/produtos_da_categoria" %>





 

  </div>          
</div>  
</div>





  </div>  
</div>
      













		










