<div class="col-md-12">
  <div class="card ">
    <div class="card-header card-header-rose card-header-icon">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= link_to devise_error_messages! %>
        <div class="form-group">


    <%= f.label :full_name, "Nome Completo" %>
    <%= f.text_field :full_name, autofocus: true, class: 'form-control', placeholder: "Insira seu nome completo" %><br/><br/>


    <%= f.label :email, "Email" %>
    <%= f.text_field :email, autofocus: true, autocomplete: "email",class: 'form-control',placeholder: "Seu principal email, é nele que você receberá as notificações" %><br/><br/>


    <%= f.label :password, "Senha" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %><br/><br/>
  </div>

    <%= f.label :password_confirmation, "Confirmação de senha" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %><br/><br/>



        <%= f.submit "Enviar", class: 'btn btn-rose btn-sm' %><br/><br />
      <% end %>

      <div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>



<%= tinymce %> 