    <div class="col-md-12" style="margin-left: 0px; text-align: center">


      <div class="col-md-12 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 0px"></br>

      <h3 style="color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

        <%= form_for ContactMessage.new do |f| %>




          <div class="col-md-12 form-group has-default bmd-form-group" >
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333;">
                  <i class="material-icons" style="color:#fff">face</i>
                </span>
              </div>
              <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
            </div>
          </div> </br>                  
          <div class="col-md-12  form-group has-default bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333">
                  <i class="material-icons" style="color:#fff">mail</i>
                </span>
              </div>
              <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
            </div></br>                  
          </div>
          <div class="col-md-12  form-group has-default bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333">
                  <i class="material-icons"style="color:#fff">phone</i>
                </span>
              </div>
              <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
            </div>
          </div></br>                  



          <div class="text-center" style="margin-top: -20px">
            <%= f.submit "Quero engravidar",  {class: 'btn btn-rose mt-4', style: "background-color:#f79d94; color:#0a2644; font-weight:bold"} %></br></br>

          </div>

        <% end %>







      </div>


        <% if @product.product_articles.present? %>
        <div class="card " style="text-align: left;white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;">

        <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons" style="color: #f79d94">info</i>
                  </div>
                  <h4 class="card-title">Notícias</h4>
         </div> </br>

          <div class="row">
          
          <div class="col-md-12">
            <% @product.product_articles.each do |release| %>
          <div class="col-md-12">
            <%= link_to release.title, product_article_path(id: release), class: "col-md-3", style: "color: gray; font-weight: bold;" %>

          </div>

            <% end %>
          </div> 
          <% end %>
        </div>
      </div>




    </div>
