    <div class="col-md-12" style="margin-left: 0px; text-align: center">


      <div class="col-md-12 mr-auto" style="text-align: left; background-color: #0092a8;height: 100%; margin-top: 0px"></br>

      <h3 style="color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

        <%= form_for ContactMessage.new do |f| %>




          <div class="col-md-12 form-group has-default bmd-form-group" >
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333;">
                  <i class="material-icons" style="color:#fff">face</i>
                </span>
              </div>
              <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
            </div>
          </div> </br>                  
          <div class="col-md-12  form-group has-default bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333">
                  <i class="material-icons" style="color:#fff">mail</i>
                </span>
              </div>
              <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
            </div></br>                  
          </div>
          <div class="col-md-12  form-group has-default bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333">
                  <i class="material-icons"style="color:#fff">phone</i>
                </span>
              </div>
              <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
            </div>
          </div></br>                  



          <div class="text-center" style="margin-top: -20px">
            <%= f.submit "Quero engravidar",  {class: 'btn btn-rose mt-4', style: "background-color:#ffbc02; color:#0092a8; font-weight:bold"} %></br></br>

          </div>

        <% end %>




      </div>

</br></br></br>


<div class="container" style="text-align: left">
  <h4 style="font-size: 32px; font-weight: bold; border-bottom: 1px solid #4a4a4a;"> Últimas notícias </h4>
</div></br>


<div class="container" style="text-align: left">
<div class="row " style="margin-top: 0px;">
  


  <div class="col-md-12"style="border-bottom: 1px solid #4a4a4a;" ></br>
    <h4 style="font-weight: bold; font-size: 18px"> Tenha acesso aos melhores tratamentos para a saúde. Tenha descontos exclusivos em </h3>
  </div>


  <div class="col-md-12"style="border-bottom: 1px solid #4a4a4a;" ></br>
    <h4 style="font-weight: bold; font-size: 18px"> Tenha acesso aos melhores tratamentos para a saúde. Tenha descontos exclusivos em </h3>
  </div>

</div>
</div>


</br></br>

<div class="container" style="text-align: left">
  <h4 style="font-size: 32px; font-weight: bold; border-bottom: 1px solid #4a4a4a;"> Produtos & Serviços </h4>
</div></br>



<div class="row">
  <% if Product.first != nil %>
  <% Product.all.each do |product| %>
  <div class="col-md-12">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <% if product.images.present? %>
          <%= image_tag(product.images.first.variant(resize: "510x265!")) %>
          <% else %>
          <%= image_tag "https://www.lojasramos.com.br/App_Themes/lojasramos/images/not-found.jpg" %>
          <% end %>            
          </a>
      </div>
      <div class="card-body">
        <div class="text-left" >
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">attach_money</i>preço</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">info</i>+info</a>
              </button>            
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h4 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold;font-size: 18px">              
              <%= h truncate(product.name, :length => 32) %>              
            </h4>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              <%= h truncate(ActionView::Base.full_sanitizer.sanitize(product.description), :length => 170) %>                  
            </h2>
            </div>
            <div class="card-footer">
              <div class="price">
                <h4><%= product.key_information%></h4>
              </div>
            <div class="stats">
              <p class="card-category"style='color:#000'><%= product.category.name%></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>





    </div>
