    <div class="col-md-12" style="margin-left: 0px; text-align: center">





 

<div class="container" style="text-align: left">
  <h4 style="font-size: 28px; font-family: HelveticaNeue-Light; border-bottom: 1px solid #eee;font-weight: bold"> Produtos & Serviços </h4>
</div></br>



<div class="row">
  <% if @products != nil %>
  <% @products.each do |product| %>
  <div class="col-md-12">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <% if product.images.present? %>
          <%= image_tag(product.images.first.variant(resize:"400x400"),height: '150') %>
          <% else %>
          <%= image_tag "https://www.lojasramos.com.br/App_Themes/lojasramos/images/not-found.jpg" %>
          <% end %>            
          </a>
      </div>
      <div class="card-body">
        <div class="text-left" >
           
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8;font-size: 22px; font-family: HelveticaNeue-Light">
              <%= h truncate(product.name, :length => 30) %>              
            </h2>
            <p class="card-description" style="color:#616a74;height: 60px; margin-top: 20px; text-align: left; font-size: 14px">

              <%= h truncate(ActionView::Base.full_sanitizer.sanitize(product.description), :length => 170) %>                  
            </p>
            </div>


            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>+Info").html_safe, product_path(id: product.id),{style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>email</i>Email").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:90px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>


        </div>
      </div>
      <% end %>
      <% end %>
    </div>





    </div>
