
                  <h2 style="margin-top: 35px; color: #333; font-size: 20px">Deixe sua mensagem. Nossa equipe retornará</h2></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff" %>
                        </div>
                      </div> </br>                  
                      <div class="form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons">message</i>
                            </span>
                          </div>
                          <%= f.text_field :content, class: 'form-control', placeholder: "Mensagem", style:"color:#fff" %>
                        </div>
                      </div></br>                  

                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero ficar mais bonita", class: 'btn btn-rose btn-round mt-4' %></br></br>

                      </div>

                    <% end %>
