  <div class="card "> 
    <div class="card-header card-header-rose card-header-icon">
    <%= form_tag users_path, method: :get do %>
      <%= text_area 'term', params[:term], class: 'form-control', placeholder: "Procure uma pessoa pelo nome" %>
      <%= submit_tag 'Buscar!', class: 'btn btn-sm' %>
    <% end %>
  </div>
</div>

        <div class="row">
          <% for user in @users %>  
          <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <% if user.profile_photos.present? %>
                    <%= image_tag(user.profile_photos.first.variant(resize: "300x300!")) %>
                    <% end %>
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-title "><%= h truncate(user.job_title, lenght: 20) %></h6>
                  <h4 class="card-title" style="font-size: 16px"><%= h truncate(user.full_name, lenght: 20) %></h4>
                  <p class="card-description" style='height: 150px; color: #000; font-size: 15px' '>
                    <%= h truncate(user.description, :length => 220) %>
                  </p>
                    <%= form_for ChatRoom.new do |f| %>
                    <%= f.hidden_field :senter_id, value: current_user.id %>
                    <%= f.hidden_field :receiver_id, value: user.id %>
                    <%= f.submit "Iniciar chat!", class:"btn btn-round" %>
                  <% end %>
                  <button type="button" rel="tooltip" class="btn btn-round" data-original-title="" title="">
                  <%= link_to ("Enviar Email").html_safe, new_email_message_path(product_associates: user.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#fff;'}%>
                  </button>
                  
                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    </div>
                  </div>
                </div>
                  
                </div>
              </div>
          </div>
          <% end %>
        </div> 
