<div class="col-md-12">
  <div class="card ">
    <div class="card-header card-header-rose card-header-icon">
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
        <div class="form-group">

    <%= f.hidden_field :reset_password_token %>

    <%= f.label :password, "Senha" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>    
    <%= f.text_field :password, autofocus: true, class: 'form-control', placeholder: "Crie uma nova senha" %><br/><br/>

    <%= f.label :password_confirmation, "Confirmação da senha" %><br />
    <%= f.text_field :password_confirmation, autofocus: true, class: 'form-control', placeholder: "Confirme a senha" %><br/><br/>

        <%= f.submit "Enviar", class: 'btn btn-rose btn-sm' %><br/><br />
      <% end %>

      <div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

