


<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">aaaaa</h4>
</div>
<p class=modal-body form-group">ttttt</p>
<div class="modal-body form-group">
<%= form_for @email_message, url: email_messages_path  do |f| %>
  Assunto: <%= f.text_area :subject, class: 'form-control' %><br />
  <%= f.text_area :text_message, class: 'form-control' %><br />
  <small class="text-muted">Mensagem de 2 to 1000 caracteres</small>

  <%= f.hidden_field :product_id, value: params[:product_id]  %><br />
  <%= f.hidden_field :receiver_id, value: params[:product_associates]  %><br />
  

  <%= f.submit%>
</div>
<% end %>




