<div class="col-md-12">
	<div class="card "> 
		<div class="card-header card-header-rose card-header-icon">
		<%= form_for @email_message, url: email_messages_path  do |f| %>
  			<div class="form-group">
    	

    		<%= f.label :subject, "Assunto" %>
    		<%= f.text_area :subject, class: 'form-control', placeholder: "Escreva o assunto" %> <br />    		    		


    		<%= f.label :text_message, "Mensagem" %>
    		<%= f.text_area :text_message, class: 'form-control', placeholder: "Escreva a mensagem" %> <br />    		    		

			<%= f.hidden_field :product_id, value: params[:product_id]  %>
  			<%= f.hidden_field :receiver_id, value: params[:product_associates]  %>


  			<%= f.submit "Enviar", class: 'btn btn-rose btn-sm' %>

			<% end %>
    		</div>
    	</div>
    </div>
</div>





