


<% if params[:email_message_id] %>


      <div class="col-md-12">
              <div class="card ">
                <div class="card-header card-header-rose card-header-text">
                  <div class="card-text">
                    <h4 class="card-title">Envie sua resposta</h4>
                  </div>
                </div>
                <div class="card-body ">
        <%= form_for @email_message  do |f| %>                
                  <form method="get" action="/" class="form-horizontal">
                    <div class="row">
                      <label class="col-sm-2 col-form-label"></label>
                      <div class="col-sm-10">
                        <div class="form-group bmd-form-group">
                          <%= f.hidden_field :subject, value: subject_helper(params[:email_message_id]) %>
                          <span class="bmd-help">A block of help text that breaks onto a new line.</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-2 col-form-label">Mensagem</label>
                      <div class="col-sm-10">
                        <div class="form-group bmd-form-group">
              <%= f.text_area :text_message, class: 'form-control' %><br />

        <p style="color:black"><%= f.check_box :confidential, value: true %> Desejo manter meu nome confidencial</p> <br />                       
              
                        </div>
                      </div>
                    </div>

          <%= f.hidden_field :product_id, value: params[:product_id]  %><br />
          <%= f.hidden_field :email_message_id, value: params[:email_message_id]  %><br />
          <%= f.hidden_field :receiver_id, value: params[:senter_id]  %><br />
          <%= f.hidden_field :senter_id, value: params[:senter_id]  %><br />
          <%= f.hidden_field :message_to_be_answered_id, value: params[:id]  %><br />




          <div class="card-footer ">                        
                      <%= f.submit 'Responder', class: "btn btn-fill"%> 
                  </div>
                  <% end %>

                  </form>
                </div>
              </div>
            </div>





      <div class="col-md-12">


              <div class="card ">
                <div class="card-header card-header-rose card-header-text">
                  <div class="card-text">
                    <h4 class="card-title">Histórico da Conversa</h4>
                  </div>
                </div>


        <% for message in @messages_history %>
        <div class="card card-body ">
          <% if message.confidential %>
          <%= "De: confidencial"%><br /> 
          <% else %>
          De: <%= senter_name(message.senter_id) %><br /> 
          <% end %>
          Data: <%= message.created_at %><br />
          Assunto: <%= message.subject %><br />
          Mensagem: <%= message.text_message %>
        </div>        
        <% end %>       



        </div>
      </div>       



<% end %>