<div class="col-md-12">
  <div class="card ">
    <div class="card-header card-header-rose card-header-icon">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">

        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Insira seu email" %><br/><br/>

        <%= f.label :password, 'Senha' %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Insira sua senha" %><br/><br/>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, 'Lembre-me a próxima vez' %>
          </div>
        <% end -%>

        <%= f.submit "Enviar", class: 'btn btn-rose btn-sm' %>
        <% end %>        


        <div class="field">
          <%= link_to 'Esqueceu sua senha?', new_user_password_path %>
        </div>

      </div>
    </div>
  </div>
</div>


