<div class="col-md-12">
	<div class="card "> 
		<div class="card-header card-header-rose card-header-icon">
		<%= form_with model: @product, url: product_path, method: :put, local: true do |f| %>
  			<div class="form-group">
    		

            <%= f.label :category_id, "Tipo de investimento" %><br/>
            <%= f.select :category_id, options_for_select(Category.all.collect { | category | [category.name, category.id] }), :prompt => 'Selecione o tipo de investimento' %><br/> <br/>     

            <%= f.label :firm_id, "Empresa" %><br/>
            <%= f.select :firm_id, options_for_select(Firm.all.collect { | firm | [firm.name, firm.id] }), :prompt => 'Selecione a empresa proprietária do produto' %><br/> <br/>     


    		<%= f.label :name, "Nome do produto" %>
    		<%= f.text_area :name, class: 'form-control' %> <br />    		    					

    		<%= f.label :description, "Faça uma descrição bastante completa, insira todas as informações que quiser. Não há problema em repetir informações" %>
    		<%= f.text_area :description, rows: 25, cols: 25, class: "tinymce"  %> <br />    		    					
				


    		<small class="text-muted">De 2 to 1000 caracteres</small>			
  			</div>

    		<div class= "field" >
    		<%= f.label :images, "Selecione as imagens do produto" %>
    		<%= f.file_field :images, multiple: true, class: 'form-control' %> <br />    		    	
    		</div>	

    		<div class= "field" >
    		<%= f.label :documents, "Selecione os documentos do produto" %>
    		<%= f.file_field :documents, multiple: true, class: 'form-control' %> <br />    		    
    		</div>	

            <div class= "field" >
            <%= f.label :videos, "Selecione os Videos do produto" %>
            <%= f.file_field :videos, multiple: true, class: 'form-control' %> <br />                
            </div>  

            <div class= "field" >
            <%= f.label :releases, "Selecione as notícias do produto" %>
            <%= f.file_field :releases, multiple: true, class: 'form-control' %> <br />                
            </div>              


  			<%= f.submit "Enviar", class: 'btn btn-rose btn-sm' %>
			<% end %>
		</div>
	</div>
</div>


<%= tinymce %> 