<%= link_to "formato tabela", products_path(table_format: true)%>

<% if params and params[:category_id] == "1" || params["/products"] %>
  <div class="card ">
    <div class="card-body ">
    <h4>Filtre sua busca de CDBs.</h4>
    <div class="card-header card-header-rose card-header-icon">


      <%= form_for products_path, method: :get  do |f| %>
      <div class="bootstrap-tagsinput info-badge">
          <%= f.select(:management_firm, Product.pluck(:management_firm).uniq, {:prompt => 'Emissor'}, {class: "btn btn-sm", style: "background-color: gray"}) %>
          <%= f.select :category_name, Category.pluck(:name).select{|category_name| category_name.include? "CDB"}, {:prompt => 'Tipo de Remuneração'}, {class: "btn btn-sm", style: "background-color: gray"} %>
          <%= f.text_field :target_return_benchmark_to, placeholder: "Acima de - Digite apenas números", style: "border: solid 0.1em; width: 185px; font-size: 12px"  %>  
          <%= f.hidden_field :category_id, value: params[:category_id]  %><br />                
      </div>
      <%= f.submit "Filtrar", class: 'btn btn-rose btn-sm' %>
      <% end %>
        </div>
      </div>
  </div>
  <% end %>




                        <br>
                        <div class="row">
                          <% if @products != nil %>
                          <% @products.each do |product| %>
                          <div class="col-md-4">
                            <div class="card card-profile">
                              <div class="card-avatar" data-header-animation="false">
                                <a href="#pablo">
                                  <% if product.firm.firm_photos.present? %>
                                    <%= image_tag(product.firm.firm_photos.first.variant(resize: "300x300!")) %>
                                  <% else %>
                                    <%= image_tag "https://www.lojasramos.com.br/App_Themes/lojasramos/images/not-found.jpg" %>
                                    <% end %>
                                </a>
                              </div>
                              <div class="card-body">



                                <div class="text-center" >

                                  
                                    <%= link_to ("<i class='material-icons'>email</i>email").html_safe, new_email_message_path(product_id: product, product_associates: product.product_associates.pluck(:user_id)),{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#0094ec;'} %>
                                  

                                  <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">

                                    <%= link_to ("<i class='material-icons'>chat</i>chat").html_safe, new_email_message_path(product_id: product, product_associates: product.product_associates.pluck(:user_id)), {style:'color:#0094ec;'} %>
                                  </button>

                                    <%= link_to ("<i class='material-icons'>info</i>+info").html_safe, product_path(product), {style:'color:#0094ec;'} %>


<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

                                </div>
                                <h4 class="card-title">
                                  <%= h truncate(product.name, :length => 32) %>
                                </h4>
                                <div class="card-description" style='color:#000;height: 150px'>
                                  
                                  <%= h truncate(ActionView::Base.full_sanitizer.sanitize(product.description), :length => 170) %>
                                </div>
                              </div>
                              <div class="card-footer">
                                <div class="price">
                                  <h4><%= product.key_information%></h4>
                                </div>
                                <div class="stats">
                                  <p class="card-category"style='color:#000'><%= product.category.name%></p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% end %>
                          <% end %>



                        </div>


