





<div class="row">
  <% if @products != nil %>
  <% @products.each do |product| %>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <% if product.images.present? %>
          <%= image_tag(product.images.first.variant(resize: "300x300!")) %>
          <% else %>
          <%= image_tag "https://www.lojasramos.com.br/App_Themes/lojasramos/images/not-found.jpg" %>
          <% end %>            
          </a>
      </div>
      <div class="card-body">
        <div class="text-center" >
          <%= link_to ("<i class='material-icons'>email</i>email").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#0094ec;'} %>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <%= link_to ("<i class='material-icons'>chat</i>chat").html_safe, new_contact_message_path, {style:'color:#0094ec;'} %>
              </button>
            <%= link_to ("<i class='material-icons'>info</i>+info").html_safe, product_path(product), {style:'color:#0094ec;'} %>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h4 class="card-title" style="height: 20px">
              <%= h truncate(product.name, :length => 32) %>              
            </h4>
            <div class="card-description" style='color:#000;height: 150px'>
              <%= h truncate(ActionView::Base.full_sanitizer.sanitize(product.description), :length => 170) %>                  
            </div>
            </div>
            <div class="card-footer">
              <div class="price">
                <h4><%= product.key_information%></h4>
              </div>
            <div class="stats">
              <p class="card-category"style='color:#000'><%= product.category.name%></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

