<div class="card " style="background-color: rgba(0, 0, 0, 0); margin-top: 0px">
  <div class="card-body ">
    <h1 style="text-align: left; font-size: 20px; color: #2c2c2c; font-family: HelveticaNeue-Light">Filtre por cidade tipo de produto e serviço</h1>
    <div class="card-header card-header-rose card-header-icon" style="text-align: left">


      <%= form_for :product, :url => products_path(:product), :html => {:method => :get} do |f| %>


      <div class="bootstrap-tagsinput info-badge">
        <%= f.select(:city, options_for_select(list_of_cities), {:prompt => 'Local'}, {class: "btn btn-sm", style: "background-color: gray; background-color:#0092a8; font-size:15px; width:200px"}) %>
        <%= f.select :category_id,  options_for_select(Category.all.collect { | category | [category.name, category.id] }), {:prompt => "Categoria"}, {class: "btn btn-sm", style: "background-color: gray; background-color:#0092a8;font-size:15px"}  %>
      </div>
      <%= f.submit "Filtrar", class: 'btn btn-rose btn-sm', style:"font-size:15px; background-color: #f58a00" %>
      <% end %>
    </div>
  </div>
</div>

 




<div class="row">
  <% if @products != nil %>
  <% @products.each do |product| %>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <% if product.images.present? %>
          <%= image_tag(product.images.first.variant(resize: "400x400"),height: '170') %>
          <% else %>
          <%= image_tag "https://www.lojasramos.com.br/App_Themes/lojasramos/images/not-found.jpg" %>
          <% end %>            
          </a>
      </div>
      <div class="card-body">
        <div class="text-left" >
           
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8;font-size: 22px; font-family: HelveticaNeue-Light">
              <%= h truncate(product.name, :length => 36) %>              
            </h2>
            <p class="card-description" style="color:#616a74;height: 60px; margin-top: 20px; text-align: left; font-size: 14px">

              <%= h truncate(ActionView::Base.full_sanitizer.sanitize(product.description), :length => 170) %>                  
            </p>
            </div>


            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>+Info").html_safe, product_path(id: product),{style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>email</i>email").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:90px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>


        </div>
      </div>
      <% end %>
      <% end %>
    </div>

