<div class="col-md-12">
	<div class="card "> 
		<div class="card-header card-header-rose card-header-icon">
		<%= form_with model: @product, local: true do |f| %>
  			<div class="form-group">
    		

            <%= f.label :category_id, "Tipo de investimento" %><br/>
            <%= f.select :category_id, options_for_select(Category.all.collect { | category | [category.name, category.id] }), :prompt => 'Selecione o tipo de investimento' %><br/> <br/>     

            <%= f.label :firm_id, "Empresa" %><br/>
            <%= f.select :firm_id, options_for_select(Firm.all.collect { | firm | [firm.name, firm.id] }), :prompt => 'Selecione a empresa proprietária do produto' %><br/> <br/>     


    		<%= f.label :admin_fee, "Taxa de administração" %>
    		<%= f.text_area :admin_fee, class: 'form-control' %> <br />    		    		

    		<%= f.label :performance_fee, "Taxa de performance" %>
    		<%= f.text_area :performance_fee, class: 'form-control' %> <br />    		    				
    		<%= f.label :status, "Status" %>
    		<%= f.text_area :status, class: 'form-control' %> <br />    		    		    	

    		<%= f.label :other_obs, "Outras observações" %>
    		<%= f.text_area :other_obs, class: 'form-control' %> <br />    		    		    	

    		<%= f.label :target_return_benchmark_from, "Retorno mínimo em relação ao benchmark esperado" %>
    		<%= f.text_area :target_return_benchmark_from, class: 'form-control' %> <br />    		    		    	

    		<%= f.label :target_return_benchmark_to, "Retorno máximo em relação ao benchmark esperado" %>
    		<%= f.text_area :target_return_benchmark_to, class: 'form-control' %> <br />    		    		    		    			
    		<%= f.label :country, "País que está baseada a empresa proprietária do produto" %>
    		<%= f.text_area :country, class: 'form-control' %> <br />    		    				

    		<%= f.label :investment_period_from, "Período mínimo projetado de maturação no investimento" %>
    		<%= f.text_area :investment_period_from, class: 'form-control' %> <br />    		

    		<%= f.label :investment_period_to, "Período máximo projetado de maturação no investimento" %>
    		<%= f.text_area :investment_period_to, class: 'form-control' %> <br />    		



    		<%= f.label :manager, "Nome do gestor do produto" %>
    		<%= f.text_area :manager, class: 'form-control' %> <br />    		    					

    		<%= f.label :administrator, "Nome do administrador do fundo ou produto" %>
    		<%= f.text_area :administrator, class: 'form-control' %> <br />    		    					
    		<%= f.label :destribuitor, "Nome do distribuidor do produto" %>
    		<%= f.text_area :destribuitor, class: 'form-control' %> <br />    		    				

    		<%= f.label :cnpj, "CNPJ da empresa proprietária do produto" %>
    		<%= f.text_area :cnpj, class: 'form-control' %> <br />    		    				

    		<%= f.label :inception_date, "Data de início do fundo ou produto" %>
    		<%= f.text_area :inception_date, class: 'form-control' %> <br />    		    			

    		<%= f.label :minimal_investment, "Investimento mínimo" %>
    		<%= f.text_area :minimal_investment, class: 'form-control' %> <br />    		    		

    		<%= f.label :maximum_investment, "Investimento máximo" %>
    		<%= f.text_area :maximum_investment, class: 'form-control' %> <br />    		    		

    		<%= f.label :target_investor, "Perfil exigido do investidor" %>
    		<%= f.text_area :target_investor, class: 'form-control' %> <br />    		    		

    		<%= f.label :benchmark, "Benchmark do produto. Ex: CDI, Ibovespa" %>
    		<%= f.text_area :benchmark, class: 'form-control' %> <br />    		    		

    		<%= f.label :name, "Nome do produto" %>
    		<%= f.text_area :name, class: 'form-control' %> <br />    		    					

    		<%= f.label :description, "Faça uma descrição bastante completa, insira todas as informações que quiser. Não há problema em repetir informações" %>
    		<%= f.text_area :description, rows: 5, cols: 25, class: "tinymce" %> <br />    		    					
			
  			<%= f.fields_for :product_specific, ProductSpecific.new do |form| %>

    		<%= form.label :closing_expected, "Expectativa de fechamento da captação" %>
    		<%= form.text_field :closing_expected, class: 'form-control'  %><br/>  

    		<%= form.label :net_debt, "Dívida líquida" %>
    		<%= form.text_field :net_debt, class: 'form-control'  %>  <br/>

    		<%= form.label :investment_structure, "Estrutura de investimento" %>
    		<%= form.text_field :investment_structure, class: 'form-control'  %>  <br/>

    		
    		<%= form.label :irr_from, "TIR mínima projetada" %>
    		<%= form.text_field :irr_from  %>  
    		
    		<%= form.label :irr_to, "TIR máxima projetada" %>
    		<%= form.text_field :irr_to  %><br/>  <br/>  

    		<%= form.label :coc_from, "CoC mínima projetada" %>
    		<%= form.text_field :coc_from  %>  
    		
    		<%= form.label :coc_to, "CoC máxima projetada" %>
    		<%= form.text_field :coc_to  %>  <br/><br/>  

    		<%= form.label :deal_size_from, "Patrimonio mínimo projetado" %>
    		<%= form.text_field :deal_size_from  %>  
    		
    		<%= form.label :deal_size_to, "Patrimonio máximo projetado" %>
    		<%= form.text_field :deal_size_to  %>  <br/><br/>  

    		<%= form.label :stake_offered_from, "Participação mínima do negócio oferecida" %>
    		<%= form.text_field :stake_offered_from  %>  
    		
    		<%= form.label :stake_offered_to, "Participação máxima do negócio oferecida" %>
    		<%= form.text_field :stake_offered_to  %>  <br/><br/>  

    		<%= form.label :revenue_from, "Receita mínima projetada" %>
    		<%= form.text_field :revenue_from  %>  
    		
    		<%= form.label :revenue_to, "Receita máxima projetada" %>
    		<%= form.text_field :revenue_to  %>  <br/><br/>  

    		<%= form.label :ebtida_from, "Ebtida mínima projetada" %> %>
    		<%= form.text_field :ebtida_from  %>  
    		
    		<%= form.label :ebtida_to, "Ebtida máxima projetada" %>
    		<%= form.text_field :ebtida_to  %>  <br/><br/>  


    		<% end %>  		


    		<small class="text-muted">De 2 to 1000 caracteres</small>			
  			</div>

    		<div class= "field" >
    		<%= f.label :images, "Selecione as imagens do produto" %>
    		<%= f.file_field :images, multiple: true, class: 'form-control' %> <br />    		    	
    		</div>	

    		<div class= "field" >
    		<%= f.label :documents, "Selecione os documentos do produto" %>
    		<%= f.file_field :documents, multiple: true, class: 'form-control' %> <br />    		    
    		</div>	

            <div class= "field" >
            <%= f.label :videos, "Selecione os documentos do produto" %>
            <%= f.file_field :videos, multiple: true, class: 'form-control' %> <br />                
            </div>  


  			<%= f.submit "Enviar", class: 'btn btn-rose btn-sm' %>
			<% end %>
		</div>
	</div>
</div>


<%= tinymce %> 