


<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: -50px"></br>
        
        

  <div class="row">


<div class="col-md-4">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">photo_came</i>
      </div>
      <h4 class="card-title">Fotos</h4></br></br>
    </div>
   
  <% if @product.name == "Colocar Silicone - Preço - Antes e Depois - Cirurgião Plástico" %>

   <%= render "/landing/antes_depois_silicone" %>

  <%end%>



  <% if @product.name == "Otoplastia cirurgia orelha de abano - Preço - antes e depois - Cirurgião Plástico\r\n"   %>

   <%= render "/landing/preco_antes_depois_otoplastia" %>

  <%end%>


  <% if @product.name == "Mamoplastia Redutora - Preço - Informações - Cirurgião Plástico\r\n"    %>

   <%= render "/landing/antes_depois_preco_mamoplastia_redutora" %>

  <%end%>


  <% if @product.name == "Mastopexia com Prótese Preço - antes e depois e +info\r\n"    %>

   <%= render "/landing/preco_antes_depois_mastopexia" %>

  <%end%>


  <% if @product.name == "Mastopexia sem Prótese - Valor - informações - cirurgião plástico\r\n"    %>

   <%= render "/landing/preco_antes_depois_mastopexia" %>

  <%end%>


  <% if @product.name == "Lipoaspiração Lipo - preço - informações - cirurgião plástico" %>

   <%= render "/landing/preco_antes_depois_lipoaspiracao" %>

  <%end%>

  <% if @product.name == "Toxina Botulínica - Rugas Preço Antes Depois Informações\r\n"  %>

   <%= render "/preco_antes_depois_botox_toxina_botulinica" %>

  <%end%>

  <% if @product.name == "Bioplastia ou Preenchimento Facial Preço Antes Depois Informações\r\n"  %>

   <%= render "/preco_antes_depois_acido_hialuronico_preenchimento_facial" %>

  <%end%>

  <% if @product.name == "Rinoplastia cirurgia nariz - preço - antes e depois - informações \r\n"   %>

   <%= render "/preco_antes_depois_rinoplastia" %>

  <%end%>

  <% if @product.name == "Lifting Facial – Ritidoplastia - preço - antes e depois - cirurgião plástico\r\n"    %>

   <%= render "/antes_depois_preco_lifting_facial_ritidoplastia" %>

  <%end%>

  <% if @product.name == "Abdominoplastia - valor - antes e depois e informações\r\n"     %>

   <%= render "/preco_antes_depois_abdominoplastia" %>

  <%end%>

  <% if @product.name == "Cirurgia Íntima / Ninfoplastia - Preço - antes e depois - +info\r\n"      %>

   <%= render "/preco_antes_depois_ninfoplastia" %>

  <%end%>

  <% if @product.name == "Blefaroplastia Cirúrgia Plástica Pálpebras - Preço - Antes e Depois \r\n"       %>

   <%= render "/preco_antes_depois_blefaroplastia" %>

  <%end%>

  <% if @product.name ==  "Silicone bumbum / bunda - Preço - Cirurgião Plástico\r\n"        %>

   <%= render "/preco_antes_depois_gluteoplastia" %>

  <%end%>


  <% if @product.name ==  "Mentoplastia - Preço - Antes e Depois - Cirurgia Plástica"         %>

   <%= render "/preco_antes_depois_mentoplastia" %>

  <%end%>


  </div>          
</div>


<div class="col-md-8">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">info</i>
      </div>
      <h4 class="card-title">Informações</h4></br></br>
    </div>
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">



      <% if @product != nil %>
             
      <h1 style="font-size: 20px"><%= @product.name %></h1></br>        
      
      <%= @product.description.html_safe %>
      <%end%>




      </div>
    </div></br>
</br>







<div class="container-fluid">
  <div class="row">

          
          <div class="col-md-6">
              <div class="card card-product" >
                <div class="card-header card-header-image">
                  <a href="#pablo">
                    <%= image_tag "https://st.depositphotos.com/1039548/4459/v/600/depositphotos_44598575-stock-video-cheerful-woman-video-chatting.jpg" %>              
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-title " style="text-align: left">Especista em plástica</h6>
                  <h4 class="card-title" style="text-align: left; color:#75ff02; font-weight: bold">Tatiana</h4>
                  <p class="card-description" style='height: 150px; color: #000; font-size: 15px; text-align: left' >
                    Meu nome é Marcela e irei tirar todas as suas dúvidas sobre cirurgia plástica, envie sua mensagem que em breve entrarei em contato para conversarmos via whatsapp
                  </p>
                  <button type="button" rel="tooltip" class="btn btn-round" data-original-title="" title="" style="margin-top: -30px">
                  <%= link_to ("Enviar Email").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#FFFFFF;'}%>
                  </button>
                  
                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0a2644">
                    </div>
                  </div>
                </div>
                  
                </div>
              </div>
          </div>


          <div class="col-md-6">
              <div class="card card-product" >
                <div class="card-header card-header-image">
                  <a href="#pablo">
                    <%= image_tag "https://ak8.picdn.net/shutterstock/videos/5099918/thumb/1.jpg" %>              
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-title " style="text-align: left">Especista em plástica</h6>
                  <h4 class="card-title" style="text-align: left; color:#75ff02; font-weight: bold">Tatiana</h4>
                  <p class="card-description" style='height: 150px; color: #000; font-size: 15px; text-align: left' >
                    Meu nome é Marcela e irei tirar todas as suas dúvidas sobre cirurgia plástica, envie sua mensagem que em breve entrarei em contato para conversarmos via whatsapp
                  </p>
                  <button type="button" rel="tooltip" class="btn btn-round" data-original-title="" title="" style="margin-top: -30px">
                  <%= link_to ("Enviar Email").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#FFFFFF;'}%>
                  </button>
                  
                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    </div>
                  </div>
                </div>
                  
                </div>
              </div>
          </div>

          


        <% if @product.product_articles.present? %>
        <div class="col-md-12">
              <div class="card ">

        <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons" style="color: #75ff02">info</i>
                  </div>
                  <h4 class="card-title">Notícias</h4>
         </div> </br>

            <div class="row">
          
          <div class="col-md-12">
            <% @product.product_articles.each do |release| %>
          <div class="col-md-12">
            <%= link_to release.title, product_article_path(id: release), class: "col-md-3", style: "color: gray; font-weight: bold;" %>

          </div>

            <% end %>
          </div> 

          <div class="card">
          </div>


            </div>
          </div>          
        </div>          
        <% end %>

















  </div>
</div>









  </div>          
</div>







  </div>
</div>
      
</div>
