



<div class="container-fluid">
	<div class="row">

				<%= render @product_associates %>

        <div class="col-md-12">
            <div class="card ">
              <div class="card-body ">

                  <p>Não encontrou quem deseja? Envie uma mensagem para toda a equipe</p>
                  <button type="button" rel="tooltip" class="btn btn-round" style="background-color: gray"data-original-title="" title="">
                  <%= link_to ("Enviar mensagem para toda a equipe do produto ").html_safe, new_email_message_path(product_id: @product, product_associates: @product_associates.pluck(:user_id)),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#FFFFFF;'}%>
                  </button>         
                </div>
              </div>
            </div>
        	
       	<div class="col-md-12">
              <div class="card ">

				<div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                  </div>
                  <h4 class="card-title">+Info</h4>
                </div>

                <div class="card-body ">
					<% if @product != nil %>
              		<div class="card ">				
						<%= @product.name %>
					</div>

						<%= @product.description.html_safe %>

					<%end%>
                </div>	

              </div>
        </div> 





       	<div class="col-md-12">
              <div class="card ">

				<div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                  </div>
                  <h4 class="card-title">Fotos</h4>
         </div>

 		       	<div class="row">
        	
          <div class="col-md-12">
						<% @product.images.each do |image| %>

						<%= link_to image_tag(image.variant(resize: "200x200!")), rails_blob_path(image, disposition: "attachment"), class: "col-md-3" %>

						<% end %>
          </div>

        		</div>
        	</div>          
        </div>




        <div class="col-md-12">
              <div class="card ">

        <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                  </div>
                  <h4 class="card-title">Documentos</h4>
         </div> </br>

            <div class="row">
          
          <div class="col-md-12">
            <% @product.documents.each do |document| %>

            <%= link_to document.filename, rails_blob_path(document, disposition: "attachment" ), class: "col-md-3", style: "color: gray; font-weight: bold" %>

            <% end %>
          </div> 


          <div class="card">
          </div>


            </div>
          </div>          
        </div>



<% if current_user_is_product_associate @product, current_user.id %>
<div class="col-md-12">
  <div class="card ">
    <div class="card-header card-header-rose card-header-icon">
    <%= form_for Post.new do |f| %>
        <div class="form-group">
        <%= f.label :content, "Poste um conteúdo sobre o produto para que os investidores possam ficar atualizados" %>
        <%= f.text_area :content, class: 'form-control' %>       
      <%= f.hidden_field :postable_id, value: @product.id  %><br />                
      <%= f.hidden_field :postable_type, value: "Product"  %><br />                      
        <small class="text-muted">De 2 to 1000 caracteres</small>     
        </div>
        <%= f.submit "Enviar", class: 'btn btn-rose btn-sm' %>
      <% end %>
    </div>
  </div>
</div>
<% end %>






            <div class="col-md-12">
              <ul class="timeline timeline-simple">
                <% for post in @posts %>
                <li class="timeline-inverted">
                  <div class="timeline-badge danger >
                    <i class="material-icons">card_travel</i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="badge badge-pill badge-danger">Some title</span>
                    </div>
                    <div class="timeline-body">
                      <p><%= post.content %></p>
                    </div>
                    <h6>
                      <i class="ti-time"></i> 11 hours ago via Twitter
                    </h6>
                  </div>
                </li>
                <% end %>

              </ul>
            </div>













	</div>
</div>




		














<%= link_to "entrar em contato", new_email_message_path(product_id: @product, product_associates: @product_associates.pluck(:user_id))%>



<% if current_user == User.last %>
  <%= link_to "relacionar associados ao produto",  new_product_associate_path(product_id: @product.id) %>
<% end %>
