      





<% if @product.images.present? %>
<div class="col-md-12">
  <div class="card ">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #0a2644">info</i>
      </div>
      <h4 class="card-title">Fotos</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% @product.images.each do |image| %>
        <% if image.previewable? %>
        <%= link_to image.filename, rails_blob_path(image, disposition: "attachment"), class: "col-md-3" %>
        <% else %>
        <%= link_to image_tag(image.variant(resize: "200x200!"),style: "margin-top:20px;"), rails_blob_path(image, disposition: "attachment"), class: "col-md-3" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>          
</div>
<% end %>



<div class="col-md-12">
  <div class="card ">
    <div class="card-header card-header-rose card-header-icon" >
      <div class="card-icon">
        <i class="material-icons" style="color: #02dbff">info</i>
      </div>
      <h4 class="card-title">+Info</h4>
    </div>
    <div class="card-body ">
      <% if @product != nil %>
      <div class="card ">       
        <%= @product.name %>          
        </div>
        <%= @product.description.html_safe %>
        <%end%>
      </div>  
    </div>
  </div> 





<% if @product.youtube_videos.present? %>

        <div class="col-md-12">
              <div class="card ">

        <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                  </div>
                  <h4 class="card-title">Videos</h4>
         </div>

            <div class="row">
          
          <div class="col-md-12">

        <div class="row col-md-12">
          <% for video in @product.youtube_videos %>  
          <div class="col-md-3" >
              <div class="card" >
                <div class="card-avatar" style="background-color: #212529">                    
                    <%# link_to image_tag("http://weblinks.sigmachi.org/preview/grand_consul_message/Noblest_Best/images/YouTube_Play_Icon.png"), rails_blob_path(video, disposition: "attachment") %>              


                <%= link_to image_tag("http://weblinks.sigmachi.org/preview/grand_consul_message/Noblest_Best/images/YouTube_Play_Icon.png"), video.url %>


                </div>
                <div class="card-body">
                  <p class="card-title" style="height: 110px; font-size: 15px"><%= truncate(video.title, length:70) %></p>

                  <p class="card-title" style="font-size: 12px; font-weight: bold">publicado <%= truncate(video.created_at.to_s, length:14) %></p>
                  
                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    </div>
                  </div>
                </div>
                  
                </div>
              </div>
          </div>
          <% end %>
        </div>
          </div>

            </div>
          </div>          
        </div>        

<% end %>
    
      







<div class="container-fluid">
	<div class="row">

          <div class="col-md-4">
              <div class="card card-product">
                <div class="card-header card-header-image">
                  <a href="#pablo">
                    <%= image_tag "https://st.depositphotos.com/1039548/4459/v/600/depositphotos_44598575-stock-video-cheerful-woman-video-chatting.jpg" %>              
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-title ">Especista em plástica</h6>
                  <h4 class="card-title">Marcela</h4>
                  <p class="card-description" style='height: 150px; color: #000; font-size: 15px' >
                    Meu nome é Marcela e irei tirar todas as suas dúvidas sobre cirurgia plástica, envie sua mensagem que em breve entrarei em contato para conversarmos via whatsapp
                  </p>
                  <button type="button" rel="tooltip" class="btn btn-round" data-original-title="" title="">
                  <%= link_to ("Enviar Email").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#FFFFFF;'}%>
                  </button>
                  
                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    </div>
                  </div>
                </div>
                  
                </div>
              </div>
          </div>





        <% if @product.product_articles.present? %>
        <div class="col-md-12">
              <div class="card ">

        <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                  </div>
                  <h4 class="card-title">Notícias</h4>
         </div> </br>

            <div class="row">
          
          <div class="col-md-12">
            <% @product.product_articles.each do |release| %>
          <div class="col-md-12">
            <%= link_to release.title, product_article_path(id: release), class: "col-md-3", style: "color: gray; font-weight: bold;" %>

          </div>

            <% end %>
          </div> 

          <div class="card">
          </div>


            </div>
          </div>          
        </div>          
        <% end %>





















	</div>
</div>



<div class="fixed-plugin" style="background-color: #0a2644;">
                <div class="dropdown show-dropdown show" >
                  <a href="#" data-toggle="dropdown" aria-expanded="true" >
                    <i class="fa fa-cog fa-2x" style="color:#02dbff"></i>

                  </a>
                  <ul class="dropdown-menu show" x-placement="top-start" style="position: absolute; top: -630px; left: -231px; will-change: top; background-color: #0a2644">


                  <%= render 'contact_messages/modal' %>



                  </ul>
                </div>
              </div>


		










