<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136930452-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136930452-1');
</script>

    <title>Antes Depois Preço Mamoplastia Redutora Seios</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://ec2-18-222-94-248.us-east-2.compute.amazonaws.com" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
          <p style="font-size: 40px; text-transform: lowercase; color: #0a2644; font-weight: bold; 
"> plástica </p>
          <h4 style="text-align: right; margin-top: -10px; color:#75ff02;font-weight: bold"> NA WEB </h4>
          <%# image_tag(("http://ec2-18-217-155-28.us-east-2.compute.amazonaws.com/assets/logo_liquibay_branco-fd00d8005b22ef903bbf567ea3de8e28b5d9548e29a827a14fd3920f7ed6ab8f.png"), style:"width:235px; height: 50px") %>
        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#0a2644; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#0a2644; font-weight:bold; font-size:16px; ">Plástica Parcelada</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#0a2644; font-weight:bold">Eventos</a></p>
          </li>          

          <li class="nav-item" style="margin-right: 30px; ">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Antes Depois</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          


        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%" >
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://lovelacemedicalgroup.com/sites/default/files/service-images/plastic_surgery_iStock-685846144.jpg') ; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";" >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0a2644">
                    </div>
                  </div>
                </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h1 class="mt-3" style="color: #0a2644; font-weight: bold;font-size: 27px; text-align: left;"> Antes e Depois e Preço - Mamoplastia Redutora Mama</h1>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#0a2644;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h3 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">De R$7.650 até R$27.000(Tudo)</h3>
                        <h4 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px; margin-top: -12px">Depende do cirurgião escolhido</h4>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Plástica parcelada 36x</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Consulta Gratuíta</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero ficar mais bonita",  {class: 'btn btn-rose mt-4', style: "background-color:#02dbff; color:#0a2644; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        
        

<div class="container">
  <div class="row">






<div class="col-md-4">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">photo_came</i>
      </div>
      <h4 class="card-title">Fotos</h4></br></br>
    </div>
   

   <%= render "antes_depois_mastopexia" %>


  </div>          
</div>




<div class="col-md-8">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">info</i>
      </div>
      <h4 class="card-title">Informações</h4></br></br>
    </div>
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">
        



<section><h2>Cirurgia estética mamária de redução</h2>
<p>Indicada para a redução de mamas muito grandes.</p>
<h3>A MAMOPLASTIA REDUTORA DEIXA CICATRIZES NO PÓS-OPERATÓRIO?</h3>
<p>Podem ser em formato de “T” invertido ou em “L”. Vai depender do tamanho e grau de flacidez de cada mama. Porém qualquer cicatriz passará por diferentes fases:<br>
a) PERÍODO IMEDIATO: Vai até o 30º dia. Apresenta-se pouco visível e algumas apresentam uma reação discreta aos pontos ou ao curativo.<br>
b) PERÍODO MEDIATO: Vai do primeiro ao 12º mês. Neste período acontece um espessamento normal da cicatriz, e mudança na tonalidade da sua cor. Pode passar do “vermelho”para o “marrom” mas, aos poucos, vai clareando.<br>
c) PERÍODO TARDIO: Vai de 1 ano a 1 ano e meio. A cicatriz tornar-se mais clara e menos consistente atingindo, assim, o seu aspecto definitivo. A avaliação do resultado definitivo da cicatriz das mamas deverá ser feita após este período.</p>
<h3>ALGUMAS PACIENTES FICAM COM CICATRIZES BEM VISÍVEIS APÓS A MAMOPLASTIA REDUTORA. POR QUE ISSO ACONTECE?</h3>
<p>Certas pacientes apresentam uma tendência à cicatrização hipertrófica ou queloide. Pessoas de pele clara têm menor probabilidade de sofrer desta complicação cicatricial. Porém existem diversas opções para a prevenção e o tratamento destas cicatrizes que serão prescritos no seu devido tempo de cicatrização.</p>
<h3>EXISTE CORREÇÃO PARA ESTAS CICATRIZES GROSSAS?</h3>
<p>Existem recursos clínicos e cirúrgicos nos permitem prevenir e melhorar cicatrizes inestéticas, na época adequada. Porém não se deve confundir o “período mediato” da cicatrização normal (do 30º dia até o 12º mês) com uma complicação cicatricial.</p>
<h3>COMO FICARÃO AS NOVAS MAMAS, EM RELAÇÃO AO TAMANHO E CONSISTÊNCIA APÓS A MAMOPLASTIA REDUTORA?</h3>
<p>As mamas terão seu volume reduzido, entretanto, o resultado final dependerá das características iniciais desta mama (tipo de pele, presença de estrias, constituição gordurosa ou glandular do tecido mamário…) e passarão por vários períodos evolutivos:<br>
a) PERÍODO IMEDIATO: Vai do primeiro ao 30º dia. As mamas já apresentam um aspecto bem melhorado, sua forma estará aquém do resultado planejado. Nenhuma mama ficará “perfeita” no pós-operatório nesta fase.<br>
b) PERÍODO MEDIATO: Vai do 30º dia até o 8º mês. A mama estará mais próxima da forma definitiva. É comum alguma insensibilidade ou hipersensibilidade do mamilo.<br>
c) PERÍODO TARDIO: Vai do 8º ao 18º mês. Período que a mama atinge seu aspecto definitivo (cicatriz, forma, consistência, volume, sensibilidade). Espera-se sempre uma acomodação da mama (chamamos de báscula) e o grau de elasticidade da pele das mamas tem grande importância no resultado final.</p>
<h3>QUANDO ATINGIREI O RESULTADO DEFINITIVO APÓS A MAMOPLASTIA REDUTORA?</h3>
<p>Entre o 12º e 18º mês</p>
<h3>NO CASO DE UMA GRAVIDEZ, O RESULTADO DA MAMOPLASTIA REDUTORA PERMANECERÁ OU SERÁ PREJUDICADO?</h3>
<p>O resultado, poderá ser preservado, desde que não haja um aumento de peso excessivo na nova gestação, nem um aumento excessivo das mamas. Também dependerá do grau de elasticidade desta pele. Quanto à lactação e amamentação, poderá ser prejudicada se a redução da mama na cirurgia tiver sido muito acentuada, ou dependendo da técnica utilizada.</p>
<h3>O PÓS-OPERATÓRIO DA MAMOPLASTIA REDUTORA DÓI?</h3>
<p>Geralmente não, mas sempre deve ser evitada a movimentação excessiva dos braços e esforços.</p>
<h3>QUAIS OS RISCOS DA MAMOPLASTIA REDUTORA?</h3>
<p>Raramente a plástica mamária tem complicações sérias, mas intercorrências inerentes a qualquer procedimento cirúrgico podem acontecer como hematomas, seromas, infecção, necrose de pele e de aréola, deiscência de pontos…</p>
<h3>QUAL A ANESTESIA USADA NA CIRURGIA DE MAMOPLASTIA REDUTORA?</h3>
<p>Local com sedação assistida ou anestesia geral</p>
<h3>QUANTO TEMPO DURA A CIRURGIA DE MAMOPLASTIA REDUTORA?</h3>
<p>Depende do tipo e tamanho de cada mama. Em média 2 a 3 horas.</p>
<h3>QUAL O PERÍODO DE INTERNAÇÃO PARA A CIRURGIA DE MAMOPLASTIA REDUTORA?</h3>
<p>12 horas.</p>
<h3>SÃO USADOS CURATIVOS APÓS A MAMOPLASTIA REDUTORA?</h3>
<p>Sim. Curativos adaptados a cada tipo de mama que são retirados após 24hs, e uma microporagem da cicatriz que permanecerá por mais tempo, além do soutien adequado para o pós-operatório por 30 dias.</p>
<h3>SÃO USADOS DRENOS APÓS A MAMOPLASTIA REDUTORA?</h3>
<p>Geralmente não. Mas nos casos de reduções importantes do volume podemos lançar mão deles para evitarmos hematomas e seromas (acúmulo de sangue e líquidos)</p>
<h3>OS PONTOS SÃO RETIRADOS APÓS A MAMOPLASTIA REDUTORA?</h3>
<p>Não. Eles são dados apenas internamente e serão absorvidos.</p>
<h3>APÓS A MAMOPLASTIA REDUTORA, QUANDO PODEREI TOMAR BANHO COMPLETO?</h3>
<p>Após 24hs.</p>
<h3>APÓS A MAMOPLASTIA REDUTORA QUANDO PODEREI RETORNAR A ACADEMIA?</h3>
<p>Após 30 dias, com recomendações.</p>
<h3>DEVO FAZER DRENAGENS LINFÁTICAS APÓS A MAMOPLASTIA REDUTORA?</h3>
<p>Sim. Liberamos iniciar as drenagens linfáticas na primeira semana para auxiliar na redução do inchaço e remodelação das cicatrizes.</p>
<h3>A) RECOMENDAÇÕES PRÉ-OPERATÓRIAS APÓS A MAMOPLASTIA REDUTORA:</h3>
<p>Em caso de gripe ou indisposição, avise-nos o quanto antes.<br>
Comparecer ao hospital para internação em jejum de 8hs, inclusive de água, obedecendo ao horário estabelecido.<br>
Evite bebidas alcoólicas, drogas ou refeições muito pesadas na véspera da cirurgia.<br>
Programe-se para um repouso relativo de 15 dias.</p>
<h3>B) RECOMENDAÇÕES PÓS-OPERATÓRIAS DA MAMOPLASTIA REDUTORA:</h3>
<p>Evitar esforços nos 15 primeiros dias.<br>
Usar o soutien cirúrgico por 30 dias.<br>
Por 30 dias é proibido: movimentos bruscos com os braços, pegar peso, deitar de lado ou de bruços e elevar os braços acima da linha dos ombros.<br>
Não se exponha ao sol nem retorne as atividades físicas sem liberação médica<br>
Evite as atividades físicas por no mínimo 15 dias.<br>
Alimentação normal<br>
Suas mamas ainda não estarão com o formato definitivo, por isso aguarde o tempo de no mínimo 3 meses para esta melhor definição.</p>
<h3>Cirurgia estética mamária de redução</h3>
<p><em>Saiba como é realizada a mamoplastia redutora e quais os cuidados do pré e pós-operatório!</em></p>
<p>A <strong>mamoplastia redutora</strong> é um procedimento cirúrgico indicado para reduzir mamas muito volumosas, estando associada a questões estéticas, mas também de saúde da paciente.</p>
<p>Para realização da <strong>mamoplastia redutora</strong> é importante procurar um cirurgião plástico de confiança e buscar informações completas sobre o procedimento e pós-operatório. Saiba mais a seguir.</p>
<h3>Quando a mamoplastia redutora é indicada?</h3>
<p>A cirurgia de redução das mamas é indicada quando os seios muito grandes prejudicam o bem-estar, a saúde e a autoestima da paciente, podendo ocasionar uma série de problemas físicos e psicológicos devido ao tamanho excessivo.</p>
<p>O peso do tecido mamário pode causar dores nas costas, ombros e pescoço, desconforto, feridas nos ombros devido às alças dos sutiãs e má postura, resultando em problemas graves na coluna.</p>
<p>Dessa forma, o procedimento pode ser realizado tanto para atender fins estéticos quanto problemas de saúde da paciente.</p>
<h3>Como funciona o procedimento?</h3>
<p>Inicialmente, a consulta pré-operatória é indicada para alinhar às expectativas da paciente com os resultados realistas que podem ser obtidos com o procedimento. Essa instrução será dada pelo cirurgião plástico responsável.</p>
<p>Também serão solicitados exames clínicos para verificar se a paciente está saudável e apta a realizar a cirurgia. A <strong>mamoplastia redutora</strong> pode durar entre 2 ou 3 horas, de acordo com o tamanho das mamas, exigindo um período de 12 horas de internação.</p>
<p>Para iniciar o procedimento, será administrada a anestesia que pode ser peridural, geral ou local com sedação. Em seguida será feita a incisão que pode ser em formato de “T” invertido, areolar ou em “L”, dependendo do tamanho e grau de flacidez de cada mama.</p>
<p>Durante a mamoplastia, o cirurgião plástico realizará a remoção do excesso de gordura, pele e tecido glandular que sejam sobressalentes, obtendo seios mais proporcionais ao corpo da mulher.</p>
<p>Quando necessário, pode ser realizada a redução da aréola ou mesmo a remoção e transplante do mamilo e aréola para a parte superior das mamas. O tecido mamário é reduzido, levantado e modelado, visando obter um resultado natural e simétrico.</p>
<p>Antes de realizar o fechamento das incisões, o profissional faz a reestruturação e reposicionamento das mamas. Por fim, as incisões são fechadas nas camadas profundas do tecido mamário, melhorando a sustentação dos seios.</p>
<p>No geral, a cirurgia não apresenta complicações sérias, no entanto, podem ocorrer algumas condições inerentes de qualquer procedimento cirúrgico, como hematomas, seromas, infecção, necrose de pele e de aréola e deiscência de pontos.</p>
<p>Os exames realizados anteriormente, a execução correta do procedimento e os devidos cuidados no pós-operatório minimizam as chances de que problemas ocorram durante ou após a cirurgia.</p>
<h3>Como é a recuperação da mamoplastia?</h3>
<p>Normalmente, o pós-operatório da <strong>mamoplastia redutora</strong> não é dolorido, entretanto, devem ser evitados movimentos excessivos nesse momento. Após a realização do procedimento, a paciente deve ficar de observação por 12 horas, sendo que um banho completo deve esperar, ao menos, 24 horas.</p>
<p>Após esse período os curativos usados para dar sustentação aos seios e reduzir as chances de problemas de infecção na incisão devem ser retirados. Entretanto, uma microporagem da cicatriz deve ser mantida por mais tempo e também o sutiã pós-cirúrgico que deve ser usado por 30 dias.</p>
<p>Em geral, mas nem sempre, o cirurgião dispensa o uso de drenos na recuperação da mamoplastia. O recurso pode ser usado em casos de grandes reduções do volume visando evitar hematomas e seromas (acúmulo de sangue e líquidos).</p>
<p>Na primeira semana após o procedimento, é indicado realizar sessões de drenagem linfática para auxiliar na redução do inchaço e remodelação das cicatrizes. Outras recomendações incluem:</p>
<ul>
<li>evitar esforço físico nos 15 primeiros dias;</li>
<li>não retomar atividades como academia sem autorização médica, principalmente no primeiro mês;</li>
<li>usar o sutiã cirúrgico por 30 dias após a realização do procedimento;</li>
<li>evitar movimentos bruscos com os braços, deitar de lado ou de bruços e elevar os braços acima da linha dos ombros por, ao menos, 30 dias;</li>
<li>reduzir a exposição solar durante a recuperação e usar protetor;</li>
<li>ter uma alimentação normal, mas balanceada;</li>
</ul>
<p>O cirurgião plástico passará uma série de cuidados a serem tomados após a cirurgia, sendo que o cumprimento deles garante uma melhor recuperação e resultados mais satisfatórios.</p>
<h3>Quais resultados esperar da cirurgia?</h3>
<p>Os resultados definitivos podem ser observados entre 12 e 18 meses após o procedimento. As mamas terão o volume reduzido, entretanto, o resultado final dependerá das características iniciais, como tipo de pele, presença de estrias, constituição gordurosa ou glandular do tecido mamário. Em todos os casos a recuperação depende de algumas etapas:</p>
<ul>
<li><strong>período imediato: </strong>considerado do primeiro ao 30º dia, sendo que as mamas já apresentam um aspecto melhor, mas ainda distante dos resultados finais esperados pela paciente;</li>
<li><strong>período mediato: </strong>inclui do 2º ao 8º mês, quando a mama estará mais próxima da forma definitiva, mas é comum que se observe uma insensibilidade ou hipersensibilidade do mamilo;</li>
<li><strong>período tardio: </strong>ocorre do 8º ao 18º mês, que é quando a mama atinge o aspecto definitivo no que diz respeito a cicatriz, forma, consistência, volume e sensibilidade. Os resultados dependem da acomodação da mama e da elasticidade da pele.</li>
</ul>
<p>No fechamento da incisão da <strong>mamoplastia redutora</strong> são usados pontos internos que são absorvidos pelo organismo. A cicatrização, assim como a recuperação, envolve diferentes fases:</p>
<ul>
<li><strong>período imediato:</strong> fase que vai até o 30º dia e pode apresentar uma leve reação aos pontos ou ao curativo;</li>
<li><strong>período mediato: </strong>do 2º ao 12º mês é o período no qual há um espessamento normal da cicatriz e mudança na cor, podendo ir do vermelho para o marrom e, posteriormente, clareando;</li>
<li><strong>período tardio:</strong> ocorre entre o 12º e 18º mês, com a cicatriz tornando-se mais clara e menos consistente e obtendo o aspecto definitivo.</li>
</ul>
<p>Qualquer avaliação definitiva da cicatriz deve ser realizada após esse período. Em alguns casos, a paciente possui uma predisposição à cicatrização hipertrófica ou ao queloide.</p>
<p>Esses processos só podem ser verificados após o período tardio e, nesses casos, podem ser indicados tratamentos para amenizar a aparência da cicatriz, pois existem recursos clínicos e cirúrgicos que podem ser utilizados.</p>
<p>Os resultados da <strong>mamoplastia redutora</strong> são permanentes, entretanto, situações como uma gestação ou ganho excessivo de peso podem provocar alterações, dependendo, em grande medida, da elasticidade da pele.</p>
<p>Em geral, em gestações nas quais a gestante não ganha muito peso, não há alterações significativas nas mamas. A lactação e amamentação, por sua vez, podem ser influenciadas pelo grau de intervenção e técnica que foi realizada.</p>
<p>A <strong>mamoplastia redutora</strong> é um procedimento seguro e, em alguns casos, necessário para a qualidade de vida da paciente. Entretanto, é importante que se verifique a especialização do cirurgião plástico responsável visando resultados mais satisfatórios.</p>
<h2>Ainda com dúvidas sobre Mamoplastia Redutora?</h2>
<p>Entre em contato conosco que responderemos todas as suas perguntas.</p>









      </div>
    </div>
  </div>          
</div>


  </div>
</div>
      
</div>
  

    <!-- Sart Modal -->
 










     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0a2644" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#75ff02; text-align: left; font-size: 40px">PlásticaNaWeb Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre cirurgias plásticas e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Plástica. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        






    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Plástica Parcelada 36x</h2>
                <p style="height: 150px; font-size: 17px; color:#616a74;"> Plástica parcelada em até 36x. Temos produtos como financiamento plástica, consórcio plástica e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor Valor na Plástica</h2>
                <p style="height: 150px; font-size: 16px; color:#616a74">Batemos seu preço. A Plástica que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor cirurgião plástico</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74">Você encontra o melhor cirurgião plástico. Compare preços, veja fotos de antes e depois de vários cirurgiões, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#75ff02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com cirurgiões plásticos de excelente reputação.
      </p></br>
        </div>
      </div>
    </div>





<footer class="Footer Footer--global" style="background-color: #0a2644; line-height: 70px">
    <div class="container" >
        <div class="row" ">
            <div style="height: 5px">
                <a>
                    <svg class="Iperceptions--icon Icon"><use xlink:href="/build/sprite-critical.svg?c0e4f53c7fb86c64dea3b33c9fc4fbb6#speechBubblePink"></use></svg>
                </a>
            </div>
        </div>

            <div class="col-sm-12" style="color: #fff; text-align: center">
              <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

            </div></br></br>
        <div class="row" style="margin-top: -120px">
            <div class="col-sm-3" style="color: #fff">
                
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Acesso Rápido</h5>
                <nav style="color: #0a2644; margin-top: -120px" >
                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px;">Como Funciona</h2></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Eventos</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">antes e depois cirurgia plástica</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Empréstimo para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Consórcio para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Plástica Parcelada</a></h2>
                  </li>                    


                </nav>


                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02; margin-top: 100px" >Perguntas</h5>
                <nav style="color: #0a2644; margin-top: -120px " >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px">Quanto custa para colocar silicone</h2></p>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Preço para colocar botox no rosto</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Qual valor da cirurgia plástica no nariz</a></h2>
                  </li>                                   

                </nav>

            </div>

            <div class="col-sm-3" style="color: #fff">
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Procedimentos</h5>
                <nav style="color: #0a2644; margin-top: -120px" >

                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/206" style="color:#fff;font-size: 14px">Colocar Silicone</a></h2>
                  </li>          
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/207" style="color:#fff;font-size: 14px">Lipoaspiração</a></h2>
                  </li>                            

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/208" style="color:#fff;font-size: 14px">Toxina Botulínica</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/209" style="color:#fff;font-size: 14px">Preenchimento Facial</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/210" style="color:#fff;font-size: 14px">Rinoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/211" style="color:#fff;font-size: 14px">Lifting Facial</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/212" style="color:#fff;font-size: 14px">Mamoplastia Redutora</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/213" style="color:#fff;font-size: 14px">Mastopexia com Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/214" style="color:#fff;font-size: 14px">Mastopexia sem Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/215" style="color:#fff;font-size: 14px">Abnominoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/216" style="color:#fff;font-size: 14px">Cirurgia Íntima</a></h2>
                  </li>               

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Valor / Preço Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Antes e Depois Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois  Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>


        </div>
    </div>

                <div>
        </div>
    

    <div class="Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 PlásticaNaWeb, Inc. Todos os direitos reservados.
        
    </div>

</footer>










  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="./assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // the body of this function is in assets/js/now-ui-kit.js
      nowuiKit.initSliders();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>











