<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138589882-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138589882-1'); 
</script>
    
    <% if @product.present? %>
    <title><%= @product.name %></title>
    <% elsif @product_article.present? %>
    <title><%= @product_article.title %></title>  
    <% else %>
    <title>Fertilização in vitro e inseminação artificial, parcelamento e preço acessível </title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>

  <body>

<body class="sidebar-mini" style="background-color: #fff">
  <div class="wrapper ">
    <div class="sidebar" data-color="rose" data-background-color="black" data-image="../assets/img/sidebar-1.jpg" style="background-color: #0092a8">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a class="navbar-brand" href="" rel="tooltip" title="Plastica na WEB" data-placement="bottom" target="_blank">

        </a>

      </div>
      

      <%# if current_user %>
      
      <div class="sidebar-wrapper" style="margin-top: 20px">
        <div class="user">
          <div class="photo">
            <% if current_user and current_user.profile_photos.present? %>
            <%=image_tag(current_user.profile_photos.first.variant(resize: "100x100!"))%>
            <% end %>
          </div>
          <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
                <% if user_signed_in? %>
                <%= h truncate(current_user.full_name, length: 16) %>
                <%end%>
                <b class="caret"></b>
              </span>
            </a>
            <div class="collapse" id="collapseExample">
              <ul class="nav">
                <li class="nav-item">
                    <%= link_to 'Meu perfil', class: "nav-link"%> 
                </li>                    
                <li class="nav-item">
                    <%= link_to 'Minhas mensagens', email_messages_path, class: "nav-link" %> 
                </li>    
                <li class="nav-item">
                    <%= link_to 'Minhas cotações', quotations_path, class: "nav-link" %> 
                </li>                                
              </ul>
            </div>
          </div>
        </div>



        <ul class="nav">
          

          <li class="nav-item " style="background-color: #2c2c2c;height: :300px">
            <a class="nav-link collapsed" data-toggle="collapse" href= '' >
              <i class="material-icons" style="color: #0092a8">schedule</i>
              <p> 
                <b ></b>
              </p>
            </a>

            <%= link_to "", new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class:"nav-link", style:"color:#0092a8; margin-top:-10px; font-weight:bold; font-size:14px"} %>              
              <p style="margin-top: -13px; color:#fff; font-weight: bold; font-size: 14px"> AGENDE SUA CONSULTA
              </p>

           </li>



          <li class="nav-item ">
            <a class="nav-link collapsed" data-toggle="collapse" href= '#<%=Assetclass.first.id%>' >
              <i class="material-icons">info</i>
              <p> <%= Assetclass.first.name %>
                <b class="caret"></b>
              </p>
            </a>

            <div class="collapse" id= '<%=Assetclass.first.id%>' >
              <ul class="nav">
              

                <% Assetclass.first.categories.each do |category| %>              
                <li class="nav-item ">
                  <%= link_to category.name, products_path(category_id: category.id), class:"nav-link" %>
                </li>
              
                <% end %>

              </ul>
            </div>            
          </li>




          <% Assetclass.where(id: 44..58).order(id: :asc).each do |assetclass| %>
          <li class="nav-item ">
            <a class="nav-link collapsed" data-toggle="collapse" href= '#<%=assetclass.id%>' >
              <i class="material-icons">info</i>
              <p> <%= assetclass.name %>
                <b class="caret"></b>
              </p>
            </a>

            <div class="collapse" id= '<%=assetclass.id%>' >
              <ul class="nav">
              

                <% assetclass.categories.each do |category| %>              
                <li class="nav-item ">
                  <%= link_to category.name, product_articles_path(category_id: category.id), class:"nav-link" %>
                </li>
              
                <% end %>

              </ul>
            </div>            
          </li>
          <% end %>
        </ul>
      </div>
      </div>
      
      <%# end %>






    <div class="main-panel">
      <!-- Navbar -->



  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://plasticanaweb.com.br" rel="tooltip" title="Plastica na Web" data-placement="bottom" target="_blank">

          <p style="font-size: 40px; text-transform: lowercase; color: #ffbc02; font-weight: bold; 
"> idoso </p>
          <h4 style="text-align: right; margin-top: -10px; color:#0092a8;font-weight: bold"> NA WEB </h4>

        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #0092a8; margin-right: : 0px;">
            <%= link_to ("Torne-se Membro").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#fff; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px; text-transform: uppercase;">
              <p><%= link_to 'Home', root_path, {style:"color:#2c2c2c; font-family: HelveticaNeue-Light;"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px; text-transform: uppercase;">
              <p><a href="#como_funciona" style="color:#2c2c2c; font-family: HelveticaNeue-Light; font-size:16px; ">Como Funciona</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px; text-transform: uppercase;">
              <p><a href="#peca_seu_cartao"style="color:#2c2c2c; font-family: HelveticaNeue-Light;">Peça seu cartão</a></p>
          </li>          








              <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#2c2c2c; font-family: HelveticaNeue-Light; font-size:16px; margin-top: 4px;   ">
                  Descontos
                  
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to 'Bem Estar', edit_user_registration_path(change_profile: true), {class:"dropdown-item"} %>
                  <%= link_to 'Beleza', edit_user_registration_path(change_password: true), {class:"dropdown-item"} %>


                  <%= link_to "Alimentação", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
                  <%= link_to "Gastronomia", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Saúde", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Cuidados em Casa", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Emprego e Negócios", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Aposentadoria", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Viagem", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Crédito & Finanças", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Advogado & Outros", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Vida Social", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Lazer & Entretenimento", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Automóveis", new_user_session_path, {class:"dropdown-item"} %>                  
                  <%= link_to "Games", new_user_session_path, {class:"dropdown-item"} %>                                    
                </div>





              </li>



              <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#2c2c2c; font-family: HelveticaNeue-Light; font-size:16px; margin-top: 4px;   ">
                  Notícias
                  
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to 'Bem Estar', edit_user_registration_path(change_profile: true), {class:"dropdown-item"} %>
                  <%= link_to 'Beleza', edit_user_registration_path(change_password: true), {class:"dropdown-item"} %>


                  <%= link_to "Alimentação", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
                  <%= link_to "Gastronomia", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Saúde", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Cuidados em Casa", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Emprego e Negócios", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Aposentadoria", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Viagem", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Crédito & Finanças", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Advogado & Outros", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Vida Social", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Lazer & Entretenimento", new_user_session_path, {class:"dropdown-item"} %>
                  <%= link_to "Automóveis", new_user_session_path, {class:"dropdown-item"} %>                  
                  <%= link_to "Games", new_user_session_path, {class:"dropdown-item"} %>                                    
                </div>





              </li>





        </ul>
      </div>
    </div>
  </nav>    



      <!-- End Navbar -->
      <div class="content">
        <div class="content">
          <div class="container-fluid">



  
  
</div>



<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert" style="background-color: #0092a8; color: #fff;font-weight: bold;">
      <a class="close" data-dismiss="alert">x</a>      
      <%= msg  %>
    </div>
  <% end %>
  <!-- Rest of content -->
</div>



    <%= yield %>

<footer id="como_funciona" style="text-align: center; color:#fff; background-color: #2c2c2c; margin-bottom:  -30px; ">
      <div class="container"></br></br>

        <div class="col-sm-12" style="text-align: center;">
          <%= link_to ("<i class='material-icons'>chat</i>Fale conosco e peça seu cartão de benefício").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#ffbc02;font-size:30px;font-family: HelveticaNeue-Light; '} %>

        </div></br></br></br>

        <div class="team">
          <div class="row" style="margin-top: -80px;">

            <div class="col-md-4" style="text-align: left;">
              <div class="team-player" >
                
                

                <h2 class="title description" style="color:#0092a8;  font-size: 24px; height: 50px; font-family: HelveticaNeue-Light;">Acesso rápido</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Como Funciona</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Eventos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Empréstimo para Fertilização</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Consórcio para Fertilização</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Fertilização Parcelada</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Notícias Fertilização</h2>

              </div>
  

          </div>




            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h4 class="title description" style="color:#0092a8;  font-size: 24px; height: 50px; font-family: HelveticaNeue-Light;">Notícias Terceira Idade</h4>

                <h2 href="/preco_fertilizacaoinvitro" style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Bem estar Terceira Idade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Beleza Terceira Idade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Alimentação idoso</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Gastronomia Terceira Idade</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Saúde Idoso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Cuidados em Casa</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Empregos e Negócios Terceira Idade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Aposentadoria Idoso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Viagem Idoso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Crédito & Finanças Idoso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Advogado & outros idoso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Vida Social Idosos</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Lazer & Entretenimento Terceira Idade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Automóveis Idoso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Games Idoso</h2>



              </div>
  

          </div>


            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h4 class="title description" style="color:#0092a8;  font-size: 24px; height: 50px; font-family: HelveticaNeue-Light;">Descontos Terceira Idade</h4>

                <h2 href="/preco_fertilizacaoinvitro" style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Bem estar Terceira Idade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Beleza Terceira Idade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Alimentação idoso</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Gastronomia Terceira Idade</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Saúde Idoso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Cuidados em Casa</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Empregos e Negócios Terceira Idade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Aposentadoria Idoso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Viagem Idoso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Crédito & Finanças Idoso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Advogado & outros idoso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Vida Social Idosos</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Lazer & Entretenimento Terceira Idade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Automóveis Idoso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Games Idoso</h2>



              </div>
  

          </div>


    <div class="col-md-12 Footer-copyright" style="text-align: center; color: #ffbc02; margin-top: 100px">
        © 2019 IdosoNaWeb, Inc. Todos os direitos reservados.
        
    </div>





        </div></br>
      </div>
    </footer>


  </body>

</html>
