<!DOCTYPE html>
<html>
  <head>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138589882-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138589882-1');
</script>

    
    <title>Fertilização in vitro e inseminação artificial, parcelamento e preço acessível </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%;">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://plasticanaweb.com.br" rel="tooltip" title="Plastica na Web" data-placement="bottom" target="_blank">

          <p style="font-size: 40px; text-transform: lowercase; color: #ffbc02; font-weight: bold; 
"> idoso </p>
          <h4 style="text-align: right; margin-top: -10px; color:#0092a8;font-weight: bold"> NA WEB </h4>

        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #0092a8; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#fff; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#4a4a4a; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#4a4a4a; font-weight:bold; font-size:16px; ">Tratamentos Parcelados</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#4a4a4a; font-weight:bold">Eventos</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#4a4a4a; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          


        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%; background-color: rgba(0, 0, 0, 0.2);">
      <div class="page-header-image" data-parallax="true" style="background-image:url('http://joincera.com/wp-content/uploads/2019/01/eldera-A-comfortable-place-for-elders-Cera.jpg') ; " >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0092a8">
                    </div>
                  </div>
                </div>



  <div class="container" >
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" >
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h2 class="mt-3" style="color: #fff; font-weight: bold;font-size: 27px; text-align: left;"> Especialistas em Soluções </br>para a Terceira Idade</h2>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#fff;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">Descontos em produtos e serviços</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">Notícias, Informações e Eventos </h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">Coach Gratuíto</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #0092a8; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#fff; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0092a8;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero engravidar",  {class: 'btn btn-rose mt-4', style: "background-color:#ffbc02; color:#fff; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px;"></br>
        

<h5 class="title description" style="text-align: center; color:#0092a8; font-weight: bold; background-color: #fff;  font-size: 27px;" >NOSSAS SOLUÇOES</h5>
<div class="section section-nucleo-icons">
        <div class="container">
          <div class="row">




<div class="row" style="margin-top: 0px; border-bottom: 5px solid #4a4a4a;">
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/fertilizacao-in-vitro.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">attach_money</i>preço</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">info</i>+info</a>
              </button>            
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" >                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold;font-size: 18px">
              Descontos em Serviços
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px; ">

                     Tenha descontos em restaurantes, viagens, seguros, planos de saúde, automóveis, advogados, serviços para casa e muito mais.
                     
            </h2>
          </div>
            <div class="card-footer">
              <div class="stats">

                <i class="material-icons" style="color:#0092a8; font-weight: bold">thumb_up_alt</i>
                <p class="card-category" style="color:#0092a8; font-weight: bold; margin-top: -6px">4 mil pessoas recomendam</p>
              </div>
            </div>
            
          </div>
      </div>



  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/taxa-de-sucesso-inseminacao-artificial.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">attach_money</i>preço</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">info</i>+info</a>
              </button>            
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold;font-size: 18px">
              Saúde
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Tenha acesso aos melhores tratamentos para a saúde. Tenha descontos exclusivos em tratamentos, medicamentos e planos de saúde. Acompanhe as últimas notícias relacionadas a saúde.  
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">

                <i class="material-icons" style="color:#0092a8; font-weight: bold">thumb_up_alt</i>
                <p class="card-category" style="color:#0092a8; font-weight: bold; margin-top: -6px">4 mil pessoas recomendam</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/inseminacao-artificial.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">attach_money</i>preço</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">info</i>+info</a>
              </button>            
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold;font-size: 18px">
              Cuidados em casa
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              Tenha acesso aos melhores provedores de soluções de home care, cuidadores de idosos, residenciais para idosos. 
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">

                <i class="material-icons" style="color:#0092a8; font-weight: bold">thumb_up_alt</i>
                <p class="card-category" style="color:#0092a8; font-weight: bold; margin-top: -6px">4 mil pessoas recomendam</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/relacao-sexual-programada.jpeg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">attach_money</i>preço</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">info</i>+info</a>
              </button>            
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold; font-size: 18px">

              Empregos e Negócios
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left;font-size: 14px">

              Tenha acesso a vagas de emprego para a terceira idade e oportunidades de negócio. Tenha acesso a informações que vão ajudar no seu desempenho profissional. 
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">

                <i class="material-icons" style="color:#0092a8; font-weight: bold">thumb_up_alt</i>
                <p class="card-category" style="color:#0092a8; font-weight: bold; margin-top: -6px">4 mil pessoas recomendam</p>
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/transferencia-embriao-congelado.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0092a8;" data-remote="true" href="/email_messages/new?product_id=2-project-shoes-multi-brand-s"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0092a8;" href="/preco_transferencia_de_embriao_congelado"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0092a8;" href="/preco_transferencia_de_embriao_congelado"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold;font-size: 18px">
              Aposentadoria
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              Receba exclusivamente consultorias de investimento que irão ajudar no planejamento financeiro. Tenha acesso aos melhores investimentos. Fique atualizado sobre as principais notícias econômicas e financeiras. 
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">

                <i class="material-icons" style="color:#0092a8; font-weight: bold">thumb_up_alt</i>
                <p class="card-category" style="color:#0092a8; font-weight: bold; margin-top: -6px">4 mil pessoas recomendam</p>
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/doacao-de-ovulos.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0092a8;" data-remote="true" href="/email_messages/new?product_id=3-project-shoes-multi-brand-s"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0092a8;" href="/preco_doacao_de_ovulos"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0092a8;" href="/preco_doacao_de_ovulos"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold;font-size: 18px">
              Viagem
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Receba dicas de viagem. Conheça as melhores idéias de destinos de viagens. Tenha acesso a descontos exclusivos em hotéis, passagens aéreas, aluguél de carros, passeios, seguro viagem e muito mais. 
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">

                <i class="material-icons" style="color:#0092a8; font-weight: bold">thumb_up_alt</i>
                <p class="card-category" style="color:#0092a8; font-weight: bold; margin-top: -6px">4 mil pessoas recomendam</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/doacao-de-semen.jpeg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0092a8;" data-remote="true" href="/email_messages/new?product_id=4-project-shoes-multi-brand-s"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0092a8;" href="/preco_doacao_de_semen"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0092a8;" href="/preco_doacao_de_semen"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold; font-size: 18px">
              Dinheiro
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              Fizemos um Guia sobre doação de sémen
              1.) Como funciona a doação de sémen 
              2.) Inseminação com doador conhecido
              3.) Contrato de doação de semêm
              4.) Doação de sémen método natural
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">

                <i class="material-icons" style="color:#0092a8; font-weight: bold">thumb_up_alt</i>
                <p class="card-category" style="color:#0092a8; font-weight: bold; margin-top: -6px">4 mil pessoas recomendam</p>
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/doacao-de-embriao.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">attach_money</i>preço</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">info</i>+info</a>
              </button>            
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold; font-size: 18px">
              Vida Social
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              Fizemos um guia sobre doação de embrião
              1.) Quais são os valores de doação de embriões?
              2.) Adoção de embriões excedentários 
              3.) Quanto custa adoção de embrião
              4.) Embriodoação
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">

                <i class="material-icons" style="color:#0092a8; font-weight: bold">thumb_up_alt</i>
                <p class="card-category" style="color:#0092a8; font-weight: bold; margin-top: -6px">4 mil pessoas recomendam</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/barriga-de-aluguel.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">attach_money</i>preço</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">info</i>+info</a>
              </button>            
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold; font-size: 18px">
              Lazer
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              Fizemos um guia sobre barriga de aluguel
              1.) Qual o valor de uma barriga de aluguel?
              2.) O que é uma barriga de aluguel? 
              3.) Como é feito o processo de barriga de aluguel?
              4.) Como é a barriga solidária? 
              5.) O que significa útero de substituição? 
              6.) Preço barriga de aluguel

            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">

                <i class="material-icons" style="color:#0092a8; font-weight: bold">thumb_up_alt</i>
                <p class="card-category" style="color:#0092a8; font-weight: bold; margin-top: -6px">4 mil pessoas recomendam</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/casais-homoafetivos.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">attach_money</i>preço</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">info</i>+info</a>
              </button>            
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold; font-size: 18px">              
              Automóveis
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia para casais homoafetivos
              1.) Reprodução assistida 
              2.) Tratamentos com embriões 
              3.) Fertilização de óvulos doados 
              4.) Transferência do embrião
            </div>
            </div>

            <div class="card-footer">
              <div class="stats">

                <i class="material-icons" style="color:#0092a8; font-weight: bold">thumb_up_alt</i>
                <p class="card-category" style="color:#0092a8; font-weight: bold; margin-top: -6px">4 mil pessoas recomendam</p>
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/preservacao-da-fertilidade.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">attach_money</i>preço</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0092a8;" href="/preco_relacao_sexual_programada"><i class="material-icons">info</i>+info</a>
              </button>            
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold;font-size: 18px">              
              Games
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              Fizemos um guia sobre preservação de fertilidade
              1.) O que é a preservação de fertilidade 
              2.) Para quem é indicada? 
              3.) Estilo de vida
              4.) Uso de vitaminas

            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">

                <i class="material-icons" style="color:#0092a8; font-weight: bold">thumb_up_alt</i>
                <p class="card-category" style="color:#0092a8; font-weight: bold; margin-top: -6px">4 mil pessoas recomendam</p>
              </div>
            </div>



        </div>
      </div>




           
          </div>
        </div>
      </div>
      


  

    <!-- Sart Modal -->
 







<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        

<h5 class="title description" style="text-align: center; color:#0092a8; font-weight: bold; background-color: #fff;  font-size: 27px;" >Notícias</h5>
<div class="section section-nucleo-icons">
        <div class="container">
          <div class="row">




<div class="row" style="margin-top: 0px; border-bottom:3px solid #4a4a4a;">
  <div class="col-md-3">
    <div >
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/fertilizacao-in-vitro.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" >                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold;font-size: 18px">
              Descontos em Serviços
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px; ">

                     Tenha descontos em restaurantes, viagens, seguros, planos de saúde, automóveis, advogados, serviços para casa e muito mais.
                     
            </h2>
          </div>
            
          </div>
      </div>



  <div class="col-md-3">
    <div >
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/taxa-de-sucesso-inseminacao-artificial.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold;font-size: 18px">
              Saúde
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Tenha acesso aos melhores tratamentos para a saúde. Tenha descontos exclusivos em tratamentos, medicamentos e planos de saúde. Acompanhe as últimas notícias relacionadas a saúde.  
            </h2>
            </div>




        </div>
      </div>
  <div class="col-md-3">
    <div class="">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/inseminacao-artificial.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold;font-size: 18px">
              Cuidados em casa
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              Tenha acesso aos melhores provedores de soluções de home care, cuidadores de idosos, residenciais para idosos. 
            </h2>
            </div>



        </div>
      </div>
  <div class="col-md-3">
    <div class="">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/relacao-sexual-programada.jpeg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#ffbc02; font-weight: bold; font-size: 18px">

              Empregos e Negócios
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left;font-size: 14px">

              Tenha acesso a vagas de emprego para a terceira idade e oportunidades de negócio. Tenha acesso a informações que vão ajudar no seu desempenho profissional. 
            </h2>
            </div>




        </div>
      </div>





           
          </div>
        </div>
      </div>


</br></br></br>

<div class="container">
  <h4 style="font-size: 32px; font-weight: bold; border-bottom: 1px solid #4a4a4a;"> Últimas notícias </h4>
</div></br>


<div class="container">
<div class="row " style="margin-top: 0px;">
  


  <div class="col-md-3"style="border-bottom: 1px solid #4a4a4a;" ></br>
    <h4 style="font-weight: bold; font-size: 22px"> Tenha acesso aos melhores tratamentos para a saúde. Tenha descontos exclusivos em </h3>
  </div>

  <div class="col-md-3" style="border-bottom: 1px solid #4a4a4a;"></br>
    <p style="font-size: 14px"> 
      Tenha acesso aos melhores tratamentos para a saúde. Tenha descontos exclusivos em tratamentos, medicamentos e planos de saúde. Acompanhe as últimas notícias relacionadas a saúde.  
    </p>
  </div>


  <div class="col-md-3" style="border-bottom: 1px solid #4a4a4a;"></br>
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/relacao-sexual-programada.jpeg">
          </a>
      </div>    
  </div>

</div>
</div>



















<div class="container">
<div class="row" style="margin-top: 0px; border-bottom: 1px solid #4a4a4a;">
  
  <div class="col-md-3"></br>
    <h4 style="font-weight: bold; font-size: 22px"> Tenha acesso aos melhores tratamentos para a saúde. Tenha descontos exclusivos em </h3>
  </div>

  <div class="col-md-3"></br>
    <p style="font-size: 14px"> 
      Tenha acesso aos melhores tratamentos para a saúde. Tenha descontos exclusivos em tratamentos, medicamentos e planos de saúde. Acompanhe as últimas notícias relacionadas a saúde.  
    </p>
  </div>


  <div class="col-md-3"></br>
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/relacao-sexual-programada.jpeg">
          </a>
      </div>    
  </div>


</div>

</div>


</br></br>









     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0092a8" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#ffbc02; text-align: left; font-size: 40px">EUfértil Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre tratamentos para engravidar e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Fertilizão In Vitro. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        






    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h4 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Tratamentos Parcelados 36x</h4>
                <p style="height: 150px; font-size: 17px; color:#616a74; margin-top: 35px"> Tratamentos parcelados em até 36x. Temos produtos como financiamento, consórcio e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h4 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Batemos seu preço</h4>
                <p style="height: 150px; font-size: 16px; color:#616a74; margin-top: 35px">O tratamento que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhores clínicas e médicos</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74;  margin-top: 35px">Você encontra a melhor clínica de reprodução huma. Compare preços, converse com médicos, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#ffbc02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com clínicas e médicos de excelência.
      </p></br>
        </div>
      </div>
    </div>






    








<footer id="como_funciona" style="text-align: center; color:#fff; background-color: #0092a8; margin-top: 0px">
      <div class="container"></br>

        <div class="col-sm-12" style="color: #fff; text-align: center">
          <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

        </div></br></br>

        <div class="team">
          <div class="row" style="margin-top: -80px">

            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#ffbc02;  font-size: 16px; height: 50px; font-weight: bold">Acesso rápido</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Como Funciona</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Eventos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Empréstimo para Fertilização</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Consórcio para Fertilização</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Fertilização Parcelada</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Notícias Fertilização</h2>

              </div>
  

          </div>




            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#ffbc02;  font-size: 16px; height: 50px; font-weight: bold">Tratamentos</h2>

                <h2 href="/preco_fertilizacaoinvitro" style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Fertilização in Vitro</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Taxa de Sucesso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Inseminação Artificial</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Relação Sexual Programada</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Transferência de Embrião Congelado</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Évulos</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Sémen</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Embrião</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Barriga de Aluguel</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Casais Homoafetivos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preservação de Fertilidade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Congelamento de Óvulos</h2>

              </div>
  

          </div>


            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#ffbc02;  font-size: 16px; height: 50px; font-weight: bold">Tratamentos</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Fertilização in Vitro</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Taxa de Sucesso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Inseminação Artificial</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Relação Sexual Programada</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Transferência de Embrião Congelado</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Évulos</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Sémen</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Embrião</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Barriga de Aluguel</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Casais Homoafetivos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Preservação de Fertilidade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Congelamento de Óvulos</h2>

              </div>
  

          </div>


    <div class="col-md-12 Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 IdosoNaWeb, Inc. Todos os direitos reservados.
        
    </div>





        </div></br>
      </div>
    </footer>









