<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136930452-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136930452-1');
</script>
    
    <title>Cirúrgia plástica parcelada com o melhor cirurgião plástico - Silicone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%;">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://plasticanaweb.com.br" rel="tooltip" title="Plastica na Web" data-placement="bottom" target="_blank">
          <p style="font-size: 40px; text-transform: lowercase; color: #0a2644; font-weight: bold; 
"> plástica </p>
          <h4 style="text-align: right; margin-top: -10px; color:#75ff02;font-weight: bold"> NA WEB </h4>
        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#0a2644; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#0a2644; font-weight:bold; font-size:16px; ">Plástica Parcelada</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#0a2644; font-weight:bold">Eventos</a></p>
          </li>          

          <li class="nav-item" style="margin-right: 30px; ">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Antes Depois</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          


        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%" >
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://lovelacemedicalgroup.com/sites/default/files/service-images/plastic_surgery_iStock-685846144.jpg') ; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";" >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0a2644">
                    </div>
                  </div>
                </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h2 class="mt-3" style="color: #0a2644; font-weight: bold;font-size: 27px; text-align: left;"> Especialistas em cirurgia plástica</h2>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#0a2644;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Batemos seu preço na plástica</h2>
                        <h4 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px; margin-top: -12px">Economize até R$5.000</h4>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Plástica parcelada 36x</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Consulta Gratuíta</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero ficar mais bonita",  {class: 'btn btn-rose mt-4', style: "background-color:#02dbff; color:#0a2644; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        

<h1 class="title description" style="text-align: center; color:#0a2644; font-weight: bold; background-color: #fff;  font-size: 27px;" >ANTES E DEPOIS E PREÇO CIRURGIA PLASTICA</h1>
<div class="section section-nucleo-icons">
        <div class="container">
          <div class="row">




<div class="row" style="margin-top: 0px">
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/colocar_silicone/peito-de-silicone-antes-depois" alt="peito de silicone antes e depois">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=7-project-shoes-multi-brand-s"><i style="color:#0a2644" class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_peito_silicone"><i style="color:#0a2644" class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/products/206"><i style="color:#0a2644" class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" >                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">
              Colocar Prótese de Silicone
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

                     Fizemos um guia de prótese de silicone:
                     1.) Motivos para colocar Prótese de Silicone
                     2.) Os cuidados básicos 
                     3.) A escolha dos tamanhos da protese de Silicone
                     4.) Formato dos seios e os tipos de próteses de silicone           
                     5.) Cirúrgia de prótese de silicone: preço Mamoplastia? 
            </div>
          </div>
            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#616a74; ">De R$7.155 a R$30.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>
            
          </div>
      </div>



  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/lipoaspiracao/cirurgia-plastica-preco-lipo" alt="antes depois lipoaspiracao resultados lipo">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=7-project-shoes-multi-brand-s"><i style="color:#0a2644" class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_lipoaspiracao"><i style="color:#0a2644" class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/products/207"><i style="color:#0a2644" class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">
              Lipoaspiração
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">
              Fizemos um guia de Lipoaspiração. 
              1.) O que é Lipoaspiração
              2.) Lipo x flacidez na barriga 
              3.) Como é feita a lipoaspiração 
              4.) O que é Lipoaspiração tumescente
              5.) Pós de lipoaspiração abdominal
              6.) Lipo na barriga com drenagem linfática
              7.) Preço Lipoaspiração
            </div>
            </div>


            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#616a74;">De R$6.615 a R$28.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/abdominoplastia/abdominoplastia" alt="fotos antes e depois resultado cirurgia plastica de abdominoplastia">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=7-project-shoes-multi-brand-s"><i style="color:#0a2644" class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_abdominoplastia"><i style="color:#0a2644" class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/products/215"><i style="color:##0a2644" class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">
              Abdominoplastia
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de abdominoplastia.
              1) O que é abdominoplastia?
              2.) Precisa emagrecer para fazer abdominoplastia?
              3.) Cuidados fundamentais antes de fazer sua abdominoplastia
              4.) Como é feita a abdominoplastia?
              5.) Tipos de abdominoplastia
              6.) Cicatriz abdominoplastia
              7.) Preço abdominoplastia
            </div>
            </div>

            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#616a74;">De R$6.885 a R$28.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/rinoplastia/quanto-custa-rinoplastia" alt="fotos antes depois rinoplastia resultado cirurgia plastica nariz">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=16-9"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_rinoplastia"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/products/210"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold; font-size: 18px">

              Rinoplastia
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left;">

              Fizemos um guia de rinoplastia.
              1.) O que é rinoplastia?
              2.) Rinoplastia fechada
              3.) Rinoplastia aberta
              4.) Como remodelar a Ponta do Nariz?
              5.) Cirurgia rinoplastia: Recuperação
              6.) Preço da rinoplastia
              6.) Antes e depois rinoplastia
            </div>
            </div>

            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#616a74;">De R$5.535 a R$23.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/mastopexia/valor-cirurgia-plastica-flacidez-mama" alt="antes depois foto resultados mastopexia ">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=2-project-shoes-multi-brand-s"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/antes_depois_preco_mamoplastia_redutora"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/212"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">
              Mamoplastia Redutora
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de mamoplastia redutora.
              1.) Cirurgia de Mamoplastia de Redução?
              2.) Dreno na Mamoplastia?
              3.) É possível fazer uma Mamoplastia Redutora com Prótese?
              4.) Benefícios da Mamoplastia Redutora?
              5.) Preço Mamoplastia Redutora.
              6.) Antes e depois Mamoplastia Redutora.
            </div>
            </div>

            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#616a74;">De R$7.650 a R$27.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/botox/botox-toxina-botulinica" alt="antes depois resultados botox toxina botulinica">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=3-project-shoes-multi-brand-s"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_botox_toxina_botulinica"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/products/208"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">
              Botox - Toxina Botulínica
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de Toxina Botulínica.
              1.) Preparação Toxina Botulínica
              2.) Injeções Toxina Botulínica
              3.) Como Funciona o BOTOX
              4.) Recuperação Toxina Botulínica
              5.) Resultados Toxina Botulínica
              6.) Preço Toxina Botulínica
              7.) Antes e depois Toxina Botulínica
            </div>
            </div>


            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#616a74;">De R$750 a R$3.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/preenchimento_facial/antes-depois-preco-acido-hialuronico-preenchimento-facial" alt="antes depois preenchimento facial resultado acido hialuronico">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=4-project-shoes-multi-brand-s"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_acido_hialuronico_preenchimento_facial"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/products/209"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold; font-size: 18px">
              Preenchimento Facial
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um Guia de Bioplastia ou Preenchimento facial (Ácido Hialurônico)
              1.) Pode ser feito no nariz, orelhas, lábios, maças do rosto, queixo-mento.
              2.) A Bioplastia Também é Indicada Para:  Tratamento de sulcos e Depressões.
              3.) Preço do Preenchimento facial 
              4.) Antes e Depois do Preenchimento facial
            </div>
            </div>

            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#616a74;">De R$800 a R$2.300 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/ritidoplastia/valor-cirurgia-face-lifting_facial_ritidoplastia" alt="antes depois lifting facial resultados cirurgia plastica rosto ">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=9-project-shoes-multi-brand-s"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/antes_depois_preco_lifting_facial_ritidoplastia"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/products/211"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold; font-size: 18px">
              Lifting Facial – Ritidoplastia
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de Lifting Facial – Ritidoplastia.
              1.) O que Provoca Mudanças na Sobrancelha?
              2.) Como Funciona o Lifting Endoscópico?
              3.) Preparo Cirúrgico
              4.) Incisões Endoscópicas
              5.) Preço do Lifting Facial
              6.) Antes e depois Lifting Facial
            </div>
            </div>


            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#616a74;">De R$9.855 a R$45.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/otoplastia/otoplastia" alt="otoplastia antes depois cirurgia plastica orelha de abano">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=17"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_otoplastia"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/products/218"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold; font-size: 18px">
              Otoplastia - Cirurgia Orelha         
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de Otoplastia.
              1.) O que é cirurgia de Otoplastia?
              2.) Tipos de Otoplastia
              3.) Preço da Otoplastia
              4.) Como é feita a cirurgia de Otoplastia?
              5.) Otoplastia riscos?
              6.) Otoplastia: recuperação
              7.) Otoplastia Antes e Depois

            </div>
            </div>


            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#0a2644;">De R$4.635 a R$25.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/gluteoplastia/resultados-fotos-antes-depois-gluteoplastia" alt="colocar bumbum de silicone gluteoplastia antes e depois resultados">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=10-project-shoes-multi-brand-s"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_gluteoplastia"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/products/220"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold; font-size: 18px">              Silicone no bumbum
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de implante de glúteo.
              1.) Tipos de Implante de glúteo
              2.) Escolhendo o Implante de glúteo
              3.) Incisão de Bioplastia de Glúteo e Formação de Bolsa
              4.) Colocação do Implante e Fechamento da Incisão
              5.) Preço Implante de glúteo
              6.) Antes e depois implante de glúteo
            </div>
            </div>

            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#0a2644;">De R$9.855 a R$40.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="https://fi.realself.com/545/8bd84807ba51b9014357b7a409f62402/6/c/e/1494008-2745059.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=11-project-shoes-multi-brand-s"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/email_messages/new?product_id=11-project-shoes-multi-brand-s"><i class="material-icons">chat</i>chat</a>
              </button>
            <a style="color:#0a2644;" href="/products/217"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">              Implante Capilar
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de Transplante Capilar.
              1.) Como Funcionam os Transplantes Capilares.
              2.) Tipos de Transplantes Capilares.
              3.) Cicatrizes Transplantes Capilares.
              4.) Preço Transplantes Capilares.
              5.) Antes e Depois Transplantes Capilares.
            </div>
            </div>

            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#0a2644;"></p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/queloide/preco-cirurgia-remocao-cicatriz" alt="cirurgia plastica remover cicatriz queloide antes depois">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_associates%5B%5D=2&amp;product_associates%5B%5D=1&amp;product_id=14-hdskjdhkjhdkjdhkjdksjhdkjsdhk"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_queloide"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="#como_funciona"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">              Como tirar Queloide
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de como tratar queloide.
              1.) O que é queloide?
              2.) O que causa queloide?
              3.) Aplicação de corticoide em queloide
              4.) Pomada para queloide
              5.) Cirurgia de queloide
              6.) Preço cirurgia de queloide
              7.) Antes e depois Cirurgia de queloide
            </div>
            </div>

            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#0a2644;"></p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/ninfoplastia/preco-cirurgia-plastica-intima" alt="ninfoplastia antes depois resultados cirurgia plastica intima labios inferiores">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=19-8"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_ninfoplastia"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/products/216"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">              Cirurgia Íntima / Ninfoplastia

            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia Cirurgia Íntima / Ninfoplastia.
              1.) Como funciona a cirurgia íntima.
              2.) Redução dos pequenos lábios. 
              3.) Lipoaspiração do Monte de Vênus
              4.) Fica cicatriz cirurgia íntima?
              5.) Preço Cirurgia Íntima / Ninfoplastia
              6.) Antes e Depois Cirurgia Íntima / Ninfoplastia              
            </div>
            </div>

            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#0a2644;">De R$4.635 a 18.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/blefaroplastia/valor-blefaroplastia" alt="blefaroplastia antes depois resultados cirurgia plastica palpebras diminuicao olheiras">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_associates%5B%5D=7&amp;product_associates%5B%5D=2&amp;product_id=20-tesouraria-julius-baer"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_blefaroplastia"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/products/219"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">              Cirurgia Plástica para as Pálpebras
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de Plástica para as Pálpebras - Blefaroplastia. 
              1.) Blefaroplastia das Pálpebras Inferiores.
              2.) Blefaroplastia – Pálpebras Inferiores – Parte Interna
              3.) Blefaroplastia – Pálpebras Superiores
              4.) Preço cirurgia plástica pálpebras
              5.) Antes e depois cirurgia plástica pálpebras
            </div>
            </div>


            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#0a2644;">De R$4.815 a R$30.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/mastopexia/mastopexia" alt="mastopexia antes depois cirurgia plastica">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=21-3"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_mastopexia"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/products/213"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">              Mastopexia com Prótese            
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de Mastopexia com Prótese.
              1.) O que é mastopexia com prótese?
              2.) Quando o médico indica Mastopexia com prótese?
              3.) O que é ptose mamária?
              4.) O passo a passo da prótese de silicone com Mastopexia
              5.) Cicatriz da Mastopexia com silicone?
              6.) Mastopexia antes e depois
              7.) Preço Mastopexia           
            </div>
            </div>


            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#0a2644;">De R$7.155 mil a R$28.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/mentoplastia/cirurgia-do-queixo" alt="mentoplastia antes depois cirurgia plastica implante queixo">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=22-3"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_mentoplastia"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="#como_funciona"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">              Implante de Mento - Plástica Queixo
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de Implante de Mento.
              1.) Tipos de Implantes Faciais AART.
              2.) Incisões e Formação de Bolsa
              3.) Colocação do Implante de Mento e Fechamento
              4.) Recuperação
              5.) Antres e Depois Implante de Mento
              6.) Preço Implante de Mento

            </div>
            </div>

            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#0a2644;">De R$4.635 a R$27.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/mastopexia/cirurgia-flacidez-seios-mastopexia" alt="mastopexia antes depois">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=23-8"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_mastopexia"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/preco_antes_depois_mastopexia"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">              Mastopexia sem Prótese            
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de Mastopexia sem Prótese.
              1.) Levantar os seios sem silicone é possível!
              2.) O que é a Mastopexia sem Prótese?
              3.) Como é feita a Mastopexia sem Prótese?
              4.) A cirurgia de Mastopexia sem Prótese
              5.) Como é a cicatriz da Mastopexia sem Prótese?
              6.) Preço da Mastopexia sem Prótese?
              7.) Antes e depois da Mastopexia
            </div>
            </div>


            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#0a2644;"></p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/ginecomastia/cirurgia-plastico-ginecomastia" alt="ginecomastia antes depois resultados cirurgia plastica peito homem">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          <a data-toggle="modal" data-target="#modal-window" style="color:#0a2644;" data-remote="true" href="/email_messages/new?product_id=26-teste203"><i class="material-icons">email</i>email</a>
          <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Remove">
            <a style="color:#0a2644;" href="/preco_antes_depois_ginecomastia"><i class="material-icons">attach_money</i>preço</a>
              </button>
            <a style="color:#0a2644;" href="/preco_antes_depois_ginecomastia"><i class="material-icons">info</i>+info</a>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#75ff02; font-weight: bold;font-size: 18px">              Ginecomastia - Peito Homens
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Fizemos um guia de Ginecomastia - Plástica no peito dos homens.
              1.) O que é Ginecomastia Masculina?
              2.) Causas que aumentam peito masculino
              3.) Como saber se tenho Ginecomastia?
              4.) Cirurgia de Ginecomastia
              5.) Como é feita a Cirurgia de Ginecomastia
              6.) Preço Ginecomastia                             
              7.) Antes e depois Ginecomastia
            </div>
            </div>


            <div class="card-footer">
              <div class="stats">
                <p class="card-category" style="color:#0a2644;">De R$5.085 a R$22.000 </p></br>
              </div>            
              <div class="stats">
                <p class="card-category" style="color:#0a2644; font-weight: bold">Antes e Depois</p>
              </div>
            </div>


        </div>
      </div>




           
          </div>
        </div>
      </div>
      


  

    <!-- Sart Modal -->
 










     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0a2644" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#75ff02; text-align: left; font-size: 40px">PlásticaNaWeb Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre cirurgias plásticas e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Plástica. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        






    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Plástica Parcelada 36x</h2>
                <p style="height: 150px; font-size: 17px; color:#616a74;"> Plástica parcelada em até 36x. Temos produtos como financiamento plástica, consórcio plástica e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor Valor na Plástica</h2>
                <p style="height: 150px; font-size: 16px; color:#616a74">Batemos seu preço. A Plástica que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor cirurgião plástico</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74">Você encontra o melhor cirurgião plástico. Compare preços, veja fotos de antes e depois de vários cirurgiões, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#75ff02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com cirurgiões plásticos de excelente reputação.
      </p></br>
        </div>
      </div>
    </div>









<footer class="Footer Footer--global" style="background-color: #75ff02; line-height: 70px">
    <div class="container" >
        <div class="row" ">
            <div style="height: 5px">
                <a>
                    <svg class="Iperceptions--icon Icon"><use xlink:href="/build/sprite-critical.svg?c0e4f53c7fb86c64dea3b33c9fc4fbb6#speechBubblePink"></use></svg>
                </a>
            </div>
        </div>

            <div class="col-sm-12" style="color: #0a2644; text-align: center">
              <%= link_to ("<i class='material-icons'>info</i>Veja matérias sobre cirurgia plástica").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

            </div></br></br>
        <div class="row" style="margin-top: -120px">
            <div class="col-sm-4" style="color: #0a2644">
                
                <h5 style="font-weight: bold; font-size: 14px; color:#0a2644" >Peito de Silicone</h5>
                <nav style="color: #75ff02; margin-top: -120px" >
                  <% Product.first.product_articles.each do |article| %>
                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="#como_funciona" style="color:#0a2644;font-size: 14px;"><%= article.title %></h2></h2>
                  </li>  
                  <% end %>        



                </nav>


                <h5 style="font-weight: bold; font-size: 14px; color:#0a2644; margin-top: 100px" >Rinoplastia</h5>
                <nav style="color: #75ff02; margin-top: -120px " >
                  <% Product.find_by(id:210).product_articles.each do |article| %>                  
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#como_funciona" style="color:#0a2644;font-size: 14px"><%= article.title %></h2></p>
                  </li>   
                  <%end%>       

                                

                </nav>

            </div>


            <div class="col-sm-4" style="color: #0a2644">
                <h2 style="font-weight: bold; font-size: 14px; color:#0a2644" >Valor / Preço Cirurgia Plástica</h2>
                <nav style="color: #75ff02; margin-top: -90px" >
                  <% Product.find_by(id:207).product_articles.each do |article| %>                                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#0a2644;font-size: 14px"><%=article.title%></a></h2>
                  </li>          
                  <% end %>

                </nav>
            </div>

            <div class="col-sm-4" style="color: #0a2644">
                <h2 style="font-weight: bold; font-size: 14px; color:#0a2644" >Mamoplastia Redutora</h2>
                <nav style="color: #75ff02; margin-top: -90px" >
                  <% Product.find_by(id:212).product_articles.each do |article| %>                                                      
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#0a2644;font-size: 14px"><%=article.title %></a></h2>
                  </li>          
                  <% end %>

                </nav>


                <h2 style="font-weight: bold; font-size: 14px; color:#0a2644; margin-top: 100px" >Rinoplastia</h2>
                <nav style="color: #75ff02; margin-top: -120px " >
                  <% Product.find_by(id:215).product_articles.each do |article| %>                  
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#como_funciona" style="color:#0a2644;font-size: 14px"><%= article.title %></h2></p>
                  </li>   
                  <%end%>       

                                

                </nav>                
            </div>


        </div>
    </div>

                <div>
        </div>
    

    <div class="Footer-copyright" style="text-align: center; color: #0a2644; margin-top: 100px">
         Fique sempre por dentro. Sempre postamos matérias novas
        
    </div>

</footer>












<footer class="Footer Footer--global" style="background-color: #0a2644; line-height: 70px">
    <div class="container" >
        <div class="row" ">
            <div style="height: 5px">
                <a>
                    <svg class="Iperceptions--icon Icon"><use xlink:href="/build/sprite-critical.svg?c0e4f53c7fb86c64dea3b33c9fc4fbb6#speechBubblePink"></use></svg>
                </a>
            </div>
        </div>

            <div class="col-sm-12" style="color: #fff; text-align: center">
              <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

            </div></br></br>
        <div class="row" style="margin-top: -120px">
            <div class="col-sm-3" style="color: #fff">
                
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Acesso Rápido</h5>
                <nav style="color: #0a2644; margin-top: -120px" >
                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px;">Como Funciona</h2></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Eventos</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">antes e depois cirurgia plástica</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Empréstimo para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Consórcio para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Plástica Parcelada</a></h2>
                  </li>                    


                </nav>


                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02; margin-top: 100px" >Perguntas</h5>
                <nav style="color: #0a2644; margin-top: -120px " >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px">Quanto custa para colocar silicone</h2></p>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Preço para colocar botox no rosto</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Qual valor da cirurgia plástica no nariz</a></h2>
                  </li>                                   

                </nav>

            </div>

            <div class="col-sm-3" style="color: #fff">
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Procedimentos</h5>
                <nav style="color: #0a2644; margin-top: -120px" >

                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="/products/206" style="color:#fff;font-size: 14px">Colocar Silicone</a></h2>
                  </li>          
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="/products/207" style="color:#fff;font-size: 14px">Lipoaspiração</a></h2>
                  </li>                            

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="/products/208" style="color:#fff;font-size: 14px">Toxina Botulínica</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="/products/209" style="color:#fff;font-size: 14px">Preenchimento Facial</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="/products/210" style="color:#fff;font-size: 14px">Rinoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="/products/211" style="color:#fff;font-size: 14px">Lifting Facial</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="/products/212" style="color:#fff;font-size: 14px">Mamoplastia Redutora</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="/products/213" style="color:#fff;font-size: 14px">Mastopexia com Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="/products/214" style="color:#fff;font-size: 14px">Mastopexia sem Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="/products/215" style="color:#fff;font-size: 14px">Abnominoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="/products/216" style="color:#fff;font-size: 14px">Cirurgia Íntima</a></h2>
                  </li>               

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Valor / Preço Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Antes e Depois Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois  Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>


        </div>
    </div>

                <div>
        </div>
    

    <div class="Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 PlásticaNaWeb, Inc. Todos os direitos reservados.
        
    </div>

</footer>










  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="./assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // the body of this function is in assets/js/now-ui-kit.js
      nowuiKit.initSliders();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>


