<!DOCTYPE html>
<html>
  <head>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138589882-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138589882-1');
</script>

    
    <title>Notícias e descontos para a terceira idade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%;">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/" rel="tooltip" title="Plastica na Web" data-placement="bottom" target="_blank">

          <p style="font-size: 40px; text-transform: lowercase; color: #ffbc02; font-weight: bold; 
"> idoso </p>
          <h4 style="text-align: right; margin-top: -10px; color:#0092a8;font-weight: bold"> NA WEB </h4>

        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #0092a8; margin-right: : 0px;">
            <%= link_to ("Torne-se Membro").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#fff; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px; text-transform: uppercase;">
              <p><%= link_to 'Home', root_path, {style:"color:#2c2c2c; font-family: HelveticaNeue-Light;"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px; text-transform: uppercase;">
              <p><a href="#como_funciona" style="color:#2c2c2c; font-family: HelveticaNeue-Light; font-size:16px; ">Como Funciona</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px; text-transform: uppercase;">
              <p><a href="#peca_seu_cartao"style="color:#2c2c2c; font-family: HelveticaNeue-Light;">Peça seu cartão</a></p>
          </li>          








              <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#2c2c2c; font-family: HelveticaNeue-Light; font-size:16px; margin-top: 4px;   ">
                  Notícias
                  
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <% Assetclass.where(id: 44..58).order(id: :asc).each do |assetclass| %>

                  <%= link_to assetclass.name, product_articles_path(assetclass_id: assetclass.id), {class:"dropdown-item"} %>

                  <% end %>

                                    
                </div>





              </li>



              <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#2c2c2c; font-family: HelveticaNeue-Light; font-size:16px; margin-top: 4px;   ">
                  Descontos
                  
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <% Category.where(id: 73..88).order(id: :asc).each do |category| %>


                  <%= link_to category.name, products_path(category_id: category.id), {class:"dropdown-item"} %>
                  <% end %>

                </div>





              </li>





        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%; background-color: rgba(0, 0, 0, 0.2);">
      <div class="page-header-image" data-parallax="true" style="background-image:url('/assets/background') ; " >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0092a8">
                    </div>
                  </div>
                </div>



  <div class="container" >
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" >
            <div class="row">
              <div class="col-md-8 mr-auto" style="text-align: left;margin-top: 0px;">
                <div class="social text-center"  >
                  <h2 class="mt-3" style="color: #fff; font-size: 36px; text-align: left;font-family: HelveticaNeue-Light;"> Especialistas em Soluções </br>para a Terceira Idade</h2>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px;">
                    <div class="icon icon-rose" style="color:#fff; ">
                      <i class="material-icons">attach_money</i>
                    </div>
                        <h2 class="info-title" style=" color: #fff; text-align: left; font-size: 24px;font-family: HelveticaNeue-Light;width: 500px; margin-top: 24px">Descontos em produtos e serviços </h2>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px;">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">credit_card</i>
                        </div>
                        <h2 class="info-title" style=" color: #fff; text-align: left; font-size: 24px;font-family: HelveticaNeue-Light;width: 500px; margin-top: 24px">Notícias, Informações e Eventos </h2>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; text-align: left; font-size: 21px;font-family: HelveticaNeue-Light;">Coach Gratuíto</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #0092a8; margin-left: -8px; width: 300px">
            <%= link_to ("Peça seu Cartão Fidelidade Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#fff; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-1 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0092a8;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">Peça seu cartão fidelidade</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero descontos!",  {class: 'btn btn-rose mt-4', style: "background-color:#f58a00; color:#fff; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px;"></br>
        

<h5 class="title description" style="text-align: center; font-family: HelveticaNeue-Light ;color:#2c2c2c;background-color: #fff;  font-size: 34px;" >Nossas Soluções</h5>
<div class="section section-nucleo-icons" >
        <div class="container">
          <div class="row">




<div class="row" style="margin-top: 0px; border-bottom: 2px solid #eee;">





  <div class="col-md-4" >
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/bem-estar-terceira-idade-idoso-na-web.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light">
              Bem Estar
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Tenha acesso a descontos em academias. Participe de aulas de diversos esportes como Yoga, Pilates, Tenis, Tai Chi. Tenha descontos em spas, massagens e outras atividades de relaxamento. Tenha acesso a guias completos de metodologias diversas de como se exercitar de forma saudável. 
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 44),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>

                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 73),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>

        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/beleza-terceira-idade-idoso-na-web.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8;font-size: 24px; font-family: HelveticaNeue-Light">
              Beleza
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Tenha descontos nos melhores cosméticos para a terceira idade. Leia guias e matérias completas com tudo que existe de cosméticos para homens e mulheres da terceira idade. Descubra o melhor produto para você.
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 46),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 75),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>


        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/nutricao-terceira-idade-idoso-na-web.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light">
              Nutrição
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Acesse matérias e guias completos sobre alimentação saudável. Tenha acesso a descontos na compra de alimentos orgânicos e conheça boas opções de restaurantes saudáveis em sua cidade. 
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 47),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 76),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>



        </div>
      </div>








  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/gastronomia-terceira-idade-idoso-na-web">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" >                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">
              Gastronomia
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px; ">

                     Tenha descontos em restaurantes, programas gastronômicos, degustações de vinho, aulas de culinária. Leia matérias e guias sobre os melhores restaurantes, aulas de culinária, agenda de degustações e muito mais. 
                     
            </h2>
          </div>
            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 48),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 77),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>
            
          </div>
      </div>



  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/saude-terceira-idade-idoso-na-web.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">


            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">
              Saúde
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Tenha acesso aos melhores tratamentos para a saúde. Tenha descontos exclusivos em tratamentos, medicamentos e planos de saúde. Acompanhe as últimas notícias relacionadas a saúde.  
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 45),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 74),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/cuidador-idoso-terceira-idade-idoso-na-web.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">
              Cuidados em casa
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              Tenha acesso aos melhores provedores de soluções de home care, cuidadores de idosos, residenciais para idosos. 
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 49),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 79),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/emprego-terceira-idade-idoso-na-web.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 22px; font-family: HelveticaNeue-Light;">

              Empregos & Negócios
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left;font-size: 14px">

              Tenha acesso a vagas de emprego para a terceira idade e oportunidades de negócio. Tenha acesso a informações que vão ajudar no seu desempenho profissional. 
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 50),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 80),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>




        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/aposentadoria-terceira-idade-idoso-na-web.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">
              Aposentadoria
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              Receba exclusivamente consultorias de investimento que irão ajudar no planejamento financeiro. Tenha acesso aos melhores investimentos e produtos de previdência. Fique atualizado sobre as principais notícias econômicas e financeiras. 
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 51),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 81),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>




        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/viagem-terceira-idade-idoso-na-web.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">
              Viagem
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Receba dicas de viagem. Conheça as melhores idéias de destinos de viagens. Tenha acesso a descontos exclusivos em hotéis, passagens aéreas, aluguél de carros, passeios, seguro viagem e muito mais. 
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 52),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 82),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/credito-terceira-idade-idoso-na-web.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">
              Crédito & Finanças
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Tenha acesso aos melhores cartões de crédito com milhagem e as menores taxas de crédito consiginado e crédito ao consumidor, financiamento de veículos e imóveis. 
              Saiba como controlar seu orçamento e fazer seu imposto de renda. 
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 53),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 83),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>




        </div>
      </div>


  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/advogado-terceira-idade-idoso-na-web">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">
              Advogados e outros
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Tenha acesso fácil a advogados, contadores e despachantes. Encontre notícias sobre esses temas e saiba como se prevenir e resolver seus problemas. 
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 54),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 84),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>




        </div>
      </div>



  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/paquera-terceira-idade-idoso-na-web">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light">
              Vida Social
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Aplicativos de paquera, grupos de família e amigos, cuidados na relação sexual, descontos em motéis. 
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 55),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 85),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/entretenimento-terceira-idade-idoso-na-web">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
         
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 22px; font-family: HelveticaNeue-Light;">
              Lazer & Entretenimento
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              Tenha acesso a descontos exclusivos e fique por dentro de tudo que acontece nos teatros, cinemas, shows, livros TV por assinatura, Netflix, música, programas de TV para a terceira idade e muito mais. 
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 56),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 86),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>



        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/autmoveis-terceira-idade-idoso-na-web">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
           
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">
              Automóveis
            </h2>
            <div class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left">

              Tenha acesso as melhores taxas de financiamento, saiba como conseguir descontos do governo na compra do seu carro, tenha acesso a descontos nas melhores oficinas, compre peças de veículos com desconto, dicas de como dirigir com segurança. 
            </div>
            </div>

            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 57),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe,products_path(category_id: 87),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>




        </div>
      </div>
  <div class="col-md-3">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/games-terceira-idade-idoso-na-web">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">
              Games
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

            Dicas de jogos no celular, acesso a descontos na compra de jogos, siaba quais são os jogos mais procurados e as principais novidades. 
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 58),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Descontos").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#fff;font-size:12px;margin-top:10px; background-color: #f58a00;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>




        </div>
      </div>




           
          </div>
        </div>
      </div>
      


  

    <!-- Sart Modal -->
 







<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        

<h5 class="title description" style="text-align: center; font-family: HelveticaNeue-Light ;color:#2c2c2c;background-color: #fff;  font-size: 34px;" >Notícias</h5>

<div class="section section-nucleo-icons">
        <div class="container">
          <div class="row">




<div class="row" style="margin-top: 0px; border-bottom:1px solid #eee;">
  <div class="col-md-3">
    <div >
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/fertilizacao-in-vitro.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" >                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">
              Gastronomia
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px; ">

                     Tenha descontos em restaurantes, programas culinários, aulas 
                     
            </h2>
          </div>
            
          </div>
      </div>



  <div class="col-md-3">
    <div >
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/taxa-de-sucesso-inseminacao-artificial.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">
              Saúde
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Tenha acesso aos melhores tratamentos para a saúde. Tenha descontos exclusivos em tratamentos, medicamentos e planos de saúde. Acompanhe as últimas notícias relacionadas a saúde.  
            </h2>
            </div>




        </div>
      </div>
  <div class="col-md-3">
    <div class="">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="https://www.blogsenacsp.com.br/wp-content/uploads/2017/03/cuidador_idosos_3.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">
              Cuidados em casa
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              Tenha acesso aos melhores provedores de soluções de home care, cuidadores de idosos, residenciais para idosos. 
            </h2>
            </div>



        </div>
      </div>
  <div class="col-md-3">
    <div class="">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="https://i0.wp.com/www.felizmelhoridade.com.br/wp-content/uploads/2018/08/iStock-476795544.jpg?fit=1024%2C683&ssl=1">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#0092a8; font-size: 24px; font-family: HelveticaNeue-Light;">

              Emprego & Negócios
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left;font-size: 14px">

              Tenha acesso a vagas de emprego para a terceira idade e oportunidades de negócio. Tenha acesso a informações que vão ajudar no seu desempenho profissional. 
            </h2>
            </div>




        </div>
      </div>





           
          </div>
        </div>
      </div>

 
</br></br></br>

<div class="container">
  <h4 style="font-size: 36px; border-bottom: 1px solid #eee;font-family: HelveticaNeue-Light"> Últimas notícias </h4>
</div></br>


<div class="container">

<% ProductArticle.last(15).each do |article|%>
<div class="row " style="margin-top: 0px;">
  

  <div class="col-md-3"style="border-bottom: 1px solid #eee;" ></br>
    <h4 style="font-size: 22px;font-family: HelveticaNeue-Light" > <%= link_to article.title, product_articles_path(id: article.id), style: "font-size: 22px;font-family: HelveticaNeue-Light;color: #2c2c2c" %> </h4>
  </div>


  <div class="col-md-3" style="border-bottom: 1px solid #eee;"></br>
    <p style="font-size: 14px; margin-top: -15px"> 

      <%= link_to (raw article.content.truncate(170)), product_articles_path(id: article.id), style: "font-size: 16px;color: #2c2c2c"  %>

    </p>
  </div>



  <div class="col-md-3" style="border-bottom: 1px solid #eee;"></br>
      <div class="card-header card-header-image" data-header-animation="false" >
        <a href="#pablo" >
          <% if article.images.present? %>
          <%= image_tag(article.images.first.variant(resize: "400x400"),height: '170') %>
          <% else %>
          <%= image_tag "https://www.lojasramos.com.br/App_Themes/lojasramos/images/not-found.jpg" %>
          <% end %>            

          </a>
      </div>    
  </div>



</div>
<% end %>

</div>





</br></br>









     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0092a8;" id="peca_seu_cartao" >

              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px;">
                    <div class="info info-horizontal">
                      <div class="description">
                        
                        <h4 class="info-title" style=" color:#ffbc02; text-align: left; font-size: 46px; font-family: HelveticaNeue-Light;">Cartão Fidelidade</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left;">
                          Peça agora mesmo o seu Cartão Fidelidade para ter acesso a descontos exclusivos em restaurantes, viagens, teatros, medicamentos, supermercados, automóveis, serviços de advogados, despachantes, contadores, residenciais de terceira idade, serviços de home care e muito mais.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px;">
                    <p class="mt-3" style="color: #fff; font-size: 24px;text-align: center"> Peça agora seu Cartão Fidelidade!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        






    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: 50px;">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Como Funciona</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#ffbc02; font-size: 50px">credit_card</i>
                

                <h4 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Peça seu cartão fidelidade</h4>
                <p style="height: 150px; font-size: 17px; color:#616a74; margin-top: 35px"> Preencha o formulário de contato e solicite o seu cartão fidelidade. Nossa equipe solicitará um cartão que será enviado ao seu endereço. Lembre-se é grátis! </p>
                <p></p>
              </div> 
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#ffbc02; font-size: 50px">attach_money</i>

                <h4 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Produtos & Serviços</h4>
                <p style="height: 150px; font-size: 16px; color:#616a74; margin-top: 35px">Em nosso site, você poderá encontrar todos os estabelecimentos por cidade que temos descontos. Você poderá escolher por categoria e cidade. Restaurantes, viagens, teatros, advogados, planos de saúde, academias, tratamentos estéticos, serviços de home care, residenciais de idosos e muito mais.</p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#ffbc02; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px;">Como usar o desconto</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74;  margin-top: 35px">Basta apresentar o seu cartão ou informar o número do cartão fidelidade, o estabelecimento irá dar o desconto.</p>
              </div>
            </div>

          </div>
        <p  style="color:#0092a8;  font-size: 30px; margin-top: 50px;font-family: HelveticaNeue-Light ; margin-bottom: -60px"> 
          Segurança e Qualidade! Trabalhamos apenas com parceiros de excelência.
      </p>
        </div>
      </div>
    </div>



</div>
</div>
</div>
    








<footer id="como_funciona" style="text-align: center; color:#fff; background-color: #2c2c2c; margin-top: 0px; ">
      <div class="container"></br></br>

        <div class="col-sm-12" style="text-align: center;">
          <%= link_to ("<i class='material-icons'>chat</i>Fale conosco e peça seu cartão de benefício").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#ffbc02;font-size:30px;font-family: HelveticaNeue-Light; '} %>

        </div></br></br></br>

        <div class="team">
          <div class="row" style="margin-top: -80px;">

            <div class="col-md-4" style="text-align: left;">
              <div class="team-player" >
                
                

                <h2 class="title description" style="color:#0092a8;  font-size: 24px; height: 50px; font-family: HelveticaNeue-Light;">Acesso rápido</h2>

                <a style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;" href="#como_funciona"> Como Funciona</a></br>

                  <a style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;" href="#peca_seu_cartao"> Cartão Fidelidade</a>


              </div>
  

          </div>




            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                               
                <h4 class="title description" style="color:#0092a8;  font-size: 24px; height: 50px; font-family: HelveticaNeue-Light;margin-left: 15px">Notícias Terceira Idade</h4>
              
                <% Assetclass.where(id: 44..58).order(id: :asc).each do |assetclass| %>

                <h3 style="font-size: 14px; color:#fff; height: 30px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis; margin-bottom: -25px"> 

                  <%= link_to assetclass.name, product_articles_path(assetclass_id: assetclass.id), class:"nav-link", style:"font-size: 14px; color:#fff; height: 30px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;" %>
                </h3>
                <% end %>
              </div>
          </div>



            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                               
                <h4 class="title description" style="color:#0092a8;  font-size: 24px; height: 50px; font-family: HelveticaNeue-Light;margin-left: 15px">Descontos Terceira Idade</h4>
              
                <% Category.where(id: 73..88).order(id: :asc).each do |category| %>

                <h3 style="font-size: 14px; color:#fff; height: 30px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis; margin-bottom: -25px"> 

                  <%= link_to category.name, products_path(category_id: category.id), class:"nav-link", style:"font-size: 14px; color:#fff; height: 30px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;" %>
                </h3>
                <% end %>
              </div>
          </div>          





    <div class="col-md-12 Footer-copyright" style="text-align: center; color: #ffbc02; margin-top: 100px">
        © 2019 IdosoNaWeb, Inc. Todos os direitos reservados.
        
    </div>




        </div></br>
      </div>
    </footer>


