<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136930452-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136930452-1');
</script>


    <title>Antes Depois e Preço Mentoplastia cirurgia queixo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://ec2-18-222-94-248.us-east-2.compute.amazonaws.com" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
          <p style="font-size: 40px; text-transform: lowercase; color: #0a2644; font-weight: bold; 
"> plástica </p>
          <h4 style="text-align: right; margin-top: -10px; color:#75ff02;font-weight: bold"> NA WEB </h4>
          <%# image_tag(("http://ec2-18-217-155-28.us-east-2.compute.amazonaws.com/assets/logo_liquibay_branco-fd00d8005b22ef903bbf567ea3de8e28b5d9548e29a827a14fd3920f7ed6ab8f.png"), style:"width:235px; height: 50px") %>
        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#0a2644; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#0a2644; font-weight:bold; font-size:16px; ">Plástica Parcelada</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#0a2644; font-weight:bold">Eventos</a></p>
          </li>          

          <li class="nav-item" style="margin-right: 30px; ">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Antes Depois</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          


        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%" >
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://lovelacemedicalgroup.com/sites/default/files/service-images/plastic_surgery_iStock-685846144.jpg') ; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";" >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0a2644">
                    </div>
                  </div>
                </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h1 class="mt-3" style="color: #0a2644; font-weight: bold;font-size: 27px; text-align: left;"> Antes e Depois e Preço - Mentoplastia - Cirurgia Queixo</h1>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#0a2644;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h3 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">De R$4.635 até R$27.000(Tudo)</h3>
                        <h4 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px; margin-top: -12px">Depende do cirurgião escolhido</h4>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Plástica parcelada 36x</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Consulta Gratuíta</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero ficar mais bonita",  {class: 'btn btn-rose mt-4', style: "background-color:#02dbff; color:#0a2644; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        
        

<div class="container">
  <div class="row">




<div class="col-md-4">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">photo_came</i>
      </div>
      <h4 class="card-title">Fotos</h4></br></br>
    </div>
   

   <%= render "antes_depois_mentoplastia" %>


  </div>          
</div>



<div class="col-md-8">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">info</i>
      </div>
      <h4 class="card-title">Informações</h4></br></br>
    </div>
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">
        



<h2>Mentoplastia - Implante de Mento - Cirurgia Queixo</h2>
<ol>

<li>
<h2 style="font-size: 14px; font-weight: bold"><strong>Quanto custa uma Mentoplastia cirurgia plástica de implante de mento - queixo ? </strong></h2>
<p>O preço da Mentoplastia - cirurgia plástica de implante de mento no queixo varia de R$4.635 a R$27.000. Tudo vai depender do cirurgião plástico da Mentoplastia. Se você quer um cirurgião plástico de Mentoplastia pelo preço de R$4.635, nó temos. Agora se você quer um cirurgião plástico que cobra R$27.000 para fazer sua plástica na orelha de implante de mento, nós também temos. Temos excelentes cirurgiões plásticos que cobram em torno de R$12.000, já incluindo preço de hospital e outras despesas (preço total). Você pode agendar uma consulta gratuíta para conhecer um cirurgião de implante de mento - Mentoplastia. Nossas clínicas possuem uma excelente infra-estrutura, são modernas, bonitas e transmitem uma sensação de bem estar e segurança para as pacientes! A chance de você gostar é bem alta, pois trabalhamos apenas com cirurgiões plástico com reputação elevada. O bom é que conosco você pode conversar com vários cirurgiões plásticos gratuitamente até tomar a sua decisão!</p></li>



<li>
<h2 style="font-size: 14px; font-weight: bold"><strong>O que é a mentoplastia
?</strong></h2>
<p>A mentoplastia é o nome da cirurgia realizada para tratar a forma do mento, isto é, o queixo dos pacientes (parte que envolve mandíbula, pescoço e o um terço inferior da face) seja para aumentá-lo ou diminuí-lo. </br>
As mentoplastia de aumento são muito mais comuns que as de redução, até porque o procedimento que envolve a segunda é muito mais complexo. Pode ocorrer a avanço ou retração da mandíbula ou avanço ósseo apenas do osso do queixo. Mas é uma cirurgia bem mais complicada com indicação que vai além da estética.</p></li>
<li>
<h2 style="font-size: 14px; font-weight: bold"><strong>Existem outros nomes para essa cirurgia
?</strong></h2>
<p>Cirurgia do queixo, cirurgia do contorno cervical, genioplastia
<li>
<h2 style="font-size: 14px; font-weight: bold"><strong>Quando é indicado a mentoplastia
?</strong></h2>
<p>A mentoplastia é utilizada para correção das mais diversas deformidades funcionais ou estéticas. A indicação do procedimento adequado para corrigir uma deformidade do mento é baseada no tipo e na extensão da deformidade, podendo este ser considerado proeminente (macrogenia), deficiente (microgenia) ou assimétrico. Ainda pode ser indicada para auxiliar no tratamento da apneia obstrutiva..</p></li>
<li>
<h2 style="font-size: 14px; font-weight: bold"><strong>Critérios para o novo queixo
?<br>
</strong></h2>
<p>A mentoplastia deve ser feita analisando o rosto como um todo, para que o resultado final seja mais harmônico com o conjunto. Primeiro deve-se observar como e a forma da mandíbula. É realizada uma análise facial que identifica o perfil de um paciente com desarmonia facial. É imperativo determinar se o que ocorre é uma deformidade de oclusão e/ou esquelética ou se o mento encontra-se apenas projetado ou retraído. Então, a partir dessa análise será determinada o que necessitará para um queixo mais harmônico com o restante da face.</br>
Normalmente, quando ocorre um desenvolvimento ósseo levemente menor do que o esperado, é necessário uma inclusão de uma prótese no queixo, infiltração com gordura ou pmma, dependendo de cada caso. Muito importante também e o contorno da mandíbula. Muitas vezes ocorre adiposidade no pescoço e flacidez do músculo platisma. Nestes casos a lipoaspiração ou ate mesmo uma cervicoplastia e muito bem vinda para definir bem a mandíbula, principalmente no angulo lateral.
</p></li>
<li>
<h2 style="font-size: 14px; font-weight: bold"><strong>Há alguma associação com a Rinoplastia?</strong></h2>
<p>Há uma relação direta entre o nariz e o queixo na harmonia do rosto. Portanto, algumas vezes é necessário aliar estes dois procedimentos para que o paciente tenha um resultado mais satisfatório, pois quando ambos a mentoplastia e a riniplastia são indicadas e uma não é feita, haverá a sensação de que algo ainda não está correto. Essa associação é tão comum que merece até uma nomenclatura própria: perfiloplastia.</p></li>
<li>
<h2 style="font-size: 14px; font-weight: bold"><strong>Como é o Pré-operatório da mentoplastia
?</strong></h2>
<p>O pré-operatório passa por uma análise facial, como já citado, bem como uma história médica e odontológica completas. Na análise facial, a face é dividida em três partes, com a boca e o queixo ficam no terço inferior. O cirurgião necessita comparar as proporções em cada terço, a fim de determinar o procedimento mais adequado para restabelecer o equilíbrio. O paciente irá ser fotografado de vários ângulos para documentar a condição do queixo antes da cirurgia. O tratamento ortodôntico muitas vezes deve ser feito antes da mentoplastia. Isso porque os dentes influenciam a posição dos lábios e estes determinam a estética do perfil, por isso é essencial corrigir as más posições dentárias.</p></li>
<li>
<h2 style="font-size: 14px; font-weight: bold"><strong>Como é feita a mentoplastia?
</strong></h2>
<p>Alguns cirurgiões gostam de iniciar esse procedimento com uma lipoaspiração do pescoço, o que define melhor o contorno mandibular e faz com que seus ângulos ficam mais visíveis. Depois, na mentoplastia de aumento, é colocado um implante ou um novo osso, que pode ser posicionado tanto através de uma incisão na parte inferior do queixo, quanto por dentro da boca.</p></br>
Quando utilizado implante, cria-se o que os cirurgiões chamam de "loja", para inclusão da mesma. Esse implante pode ser de silicone ou mesmo enxerto de gordura. Já quando há um reposicionamento do osso (seja para aumento ou redução do queixo), ele precisa ser serrado e reposicionado, depois é fixado com placas e parafusos na nova posição desejada. Ou seja, é um procedimento bem mais invasivo.</br>
Não existe obrigatoriedade quanto ao tipo de anestesia para esse procedimento, mas pode ser aconselhado que se use anestesia local associada com sedação quando vai se proceder apenas a mentoplastia. Quando serão associadas outras cirurgias, pode-se optar pela anestesia geral. Entretanto, isso deve ser uma combinação entre o cirurgião e o paciente.
</li>

<li>
<h2 style="font-size: 14px; font-weight: bold"><strong>Qual a duração da cirurgia?</strong></h2>
<p>Quando se opta pela inclusão de implante para aumentar o mento, a cirurgia dura em cerca de uma hora. Se é feito avanço ósseo, o procedimento tem uma duração maior, entre 90 e 120 minutos.</p></li>
<li>
<h2 style="font-size: 14px; font-weight: bold"><strong>Como é o pós operatório?<br>
</strong></h2>
<p>A alta é dada no mesmo dia. Quando um implante é colocado, a prótese é mantida imobilizada por cerca de uma semana. Caso tenha sido feita uma lipoaspiração do pescoço em conjunto, ele também fica protegido por uma faixa. Na primeira semana procure não fazer esforço e evite movimentos bruscos no local. A retirada dos pontos, o curativo e uma avaliação pós-operatória é realizada em torno de uma semana depois da cirurgia. Prescreve-se medicação analgésica e antibiótico para reduzir o risco de infecção.</p></br>
O período de reabilitação após a mentoplastia pode levar várias semanas. Os primeiros 10 a 14 dias são caracterizado pelo edema, ou seja, o inchaço da região. Após esse período os pacientes retornam as suas atividades laborais. Pode ocorrer dormência do lábio e queixo, mesmo que temporário. Ainda se faz necessária cabeceira elevada e evitar dormir deitado de lado. Como em outros procedimentos cirúrgicos, deve-se evitar a exposição solar enquanto houver hematomas, exercícios físicos, bem como suspender o tabagismo já no pré-operatório.</br>
No início do período de recuperação é preferível optar por diet líquida, progredindo, gradualmente, para alimentos mais macios e, normalmente, ao final de uma semana, libera-se a ingestão de alimentos normais. A higiene oral é importante ser reforçada com soluções antissépticas, principalmente caso a incisão tenha sido feita intraoral.</br>
Por um mês é indicado fazer drenagem linfática no pescoço três vezes na semana. Em dois a três meses, o edema irá desaparecer e em seguida, o resultado final vai ser notado.

</li>
<li>
<h2 style="font-size: 14px; font-weight: bold"><strong>Existe risco na cirurgia? Quais são as possíveis complicações</strong></h2>
<p>Como qualquer cirurgia, complicações como infecção, hemorragia e alergias à anestesia podem ocorrer. Os riscos de inserção de um implante de queixo incluem: a deformidade do queixo; lesão do nervo mentoniano, levando à perda de sensibilidade ou paralisia dos músculos do queixo; erosão óssea abaixo do implante; alteração posicional do implante e extrusão do implante. Já os riscos específicos associados à mentoplastia por deslizamento ósseo incluem: sub ou supercorreção do defeito; falha do segmento de osso a "cicatrizar" adequadamente com as outras partes da mandíbula; danos nas raízes dos dentes e hematoma.</p></li>
</ol>









      </div>
    </div>
  </div>          
</div>



  </div>
</div>
      
</div>
  

    <!-- Sart Modal -->
 










     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0a2644" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#75ff02; text-align: left; font-size: 40px">PlásticaNaWeb Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre cirurgias plásticas e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Plástica. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        






    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Plástica Parcelada 36x</h2>
                <p style="height: 150px; font-size: 17px; color:#616a74;"> Plástica parcelada em até 36x. Temos produtos como financiamento plástica, consórcio plástica e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor Valor na Plástica</h2>
                <p style="height: 150px; font-size: 16px; color:#616a74">Batemos seu preço. A Plástica que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor cirurgião plástico</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74">Você encontra o melhor cirurgião plástico. Compare preços, veja fotos de antes e depois de vários cirurgiões, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#75ff02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com cirurgiões plásticos de excelente reputação.
      </p></br>
        </div>
      </div>
    </div>





<footer class="Footer Footer--global" style="background-color: #0a2644; line-height: 70px">
    <div class="container" >
        <div class="row" ">
            <div style="height: 5px">
                <a>
                    <svg class="Iperceptions--icon Icon"><use xlink:href="/build/sprite-critical.svg?c0e4f53c7fb86c64dea3b33c9fc4fbb6#speechBubblePink"></use></svg>
                </a>
            </div>
        </div>

            <div class="col-sm-12" style="color: #fff; text-align: center">
              <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

            </div></br></br>
        <div class="row" style="margin-top: -120px">
            <div class="col-sm-3" style="color: #fff">
                
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Acesso Rápido</h5>
                <nav style="color: #0a2644; margin-top: -120px" >
                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px;">Como Funciona</h2></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Eventos</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">antes e depois cirurgia plástica</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Empréstimo para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Consórcio para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Plástica Parcelada</a></h2>
                  </li>                    


                </nav>


                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02; margin-top: 100px" >Perguntas</h5>
                <nav style="color: #0a2644; margin-top: -120px " >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px">Quanto custa para colocar silicone</h2></p>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Preço para colocar botox no rosto</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Qual valor da cirurgia plástica no nariz</a></h2>
                  </li>                                   

                </nav>

            </div>

            <div class="col-sm-3" style="color: #fff">
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Procedimentos</h5>
                <nav style="color: #0a2644; margin-top: -120px" >

                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/206" style="color:#fff;font-size: 14px">Colocar Silicone</a></h2>
                  </li>          
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/207" style="color:#fff;font-size: 14px">Lipoaspiração</a></h2>
                  </li>                            

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/208" style="color:#fff;font-size: 14px">Toxina Botulínica</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/209" style="color:#fff;font-size: 14px">Preenchimento Facial</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/210" style="color:#fff;font-size: 14px">Rinoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/211" style="color:#fff;font-size: 14px">Lifting Facial</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/212" style="color:#fff;font-size: 14px">Mamoplastia Redutora</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/213" style="color:#fff;font-size: 14px">Mastopexia com Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/214" style="color:#fff;font-size: 14px">Mastopexia sem Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/215" style="color:#fff;font-size: 14px">Abnominoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/216" style="color:#fff;font-size: 14px">Cirurgia Íntima</a></h2>
                  </li>               

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Valor / Preço Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Antes e Depois Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois  Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>


        </div>
    </div>

                <div>
        </div>
    

    <div class="Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 PlásticaNaWeb, Inc. Todos os direitos reservados.
        
    </div>

</footer>










  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="./assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // the body of this function is in assets/js/now-ui-kit.js
      nowuiKit.initSliders();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>











