<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136930452-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136930452-1');
</script>

    <title>Antes Depois Preço Ninfoplastia Cirurgia Intima</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://ec2-18-222-94-248.us-east-2.compute.amazonaws.com" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
          <p style="font-size: 40px; text-transform: lowercase; color: #0a2644; font-weight: bold; 
"> plástica </p>
          <h4 style="text-align: right; margin-top: -10px; color:#75ff02;font-weight: bold"> NA WEB </h4>
          <%# image_tag(("http://ec2-18-217-155-28.us-east-2.compute.amazonaws.com/assets/logo_liquibay_branco-fd00d8005b22ef903bbf567ea3de8e28b5d9548e29a827a14fd3920f7ed6ab8f.png"), style:"width:235px; height: 50px") %>
        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#0a2644; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#0a2644; font-weight:bold; font-size:16px; ">Plástica Parcelada</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#0a2644; font-weight:bold">Eventos</a></p>
          </li>          

          <li class="nav-item" style="margin-right: 30px; ">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Antes Depois</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          


        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%" >
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://lovelacemedicalgroup.com/sites/default/files/service-images/plastic_surgery_iStock-685846144.jpg') ; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";" >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0a2644">
                    </div>
                  </div>
                </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h1 class="mt-3" style="color: #0a2644; font-weight: bold;font-size: 27px; text-align: left;"> Antes e Depois e Preço - Ninfoplastia - Cirurgia Intima</h1>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#0a2644;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h3 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">De R$4.635 até R$18.000(Tudo)</h3>
                        <h4 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px; margin-top: -12px">Depende do cirurgião escolhido</h4>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Plástica parcelada 36x</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Consulta Gratuíta</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero ficar mais bonita",  {class: 'btn btn-rose mt-4', style: "background-color:#02dbff; color:#0a2644; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        
        

<div class="container">
  <div class="row">






<div class="col-md-4">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">photo_came</i>
      </div>
      <h4 class="card-title">Fotos</h4></br></br>
    </div>
   

   <%= render "antes_depois_ninfoplastia" %>


  </div>          
</div>




<div class="col-md-8">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">info</i>
      </div>
      <h4 class="card-title">Informações</h4></br></br>
    </div>
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">
        



        
        <h2 style="font-size: 14px; font-weight: bold"><strong>Quanto custa uma Ninfoplastia cirurgia plástica intima para correção dos pequenos lábios da vulva?  </strong></h2>
        <p>O preço da Ninfoplastia varia de R$4.635 a R$18.000. Tudo vai depender do cirurgião plástico da Ninfoplastia. Se você quer um cirurgião plástico de Ninfoplastia pelo preço de R$4.635, nó temos. Agora se você quer um cirurgião plástico que cobra R$18.000 para fazer sua plástica par a correção dos pequenos lábios da vulva, nós também temos. Temos excelentes cirurgiões plásticos que cobram em torno de R$12.000, já incluindo preço de hospital e outras despesas (preço total). Você pode agendar uma consulta gratuíta para conhecer um cirurgião plástico para corrigir os pequenos lábios - Ninfoplastia. Nossas clínicas possuem uma excelente infra-estrutura, são modernas, bonitas e transmitem uma sensação de bem estar e segurança para as pacientes! A chance de você gostar é bem alta, pois trabalhamos apenas com cirurgiões plástico com reputação elevada. O bom é que conosco você pode conversar com vários cirurgiões plásticos gratuitamente até tomar a sua decisão!</p>
        <h2>O QUE É A NINFOPLASTIA?</h2>
        <p>Cirurgia realizada nas bordas dos pequenos lábios da vulva, com a retirada da pele excedente.</p>
        <h3>QUANDO PODE SER INDICADA A NINFOPLASTIA?</h3>
        <p>Quando o tamanho dos pequenos lábios excede os grandes lábios, trazendo incômodo durante a relação sexual ou quando somente atrapalhar esteticamente.</p>
        <p><strong><br>
        </strong></p>
        <h3>QUAL A ANESTESIA UTILIZADA NA CIRURGIA ÍNTIMA?</h3>
        <p>Anestesia local com sedação.<br>
        Isso evita a internação da paciente, que é liberada algumas horas depois o procedimento.</p>
        <h3>O PÓS-OPERATÓRIO DA NINFOPLASTIA DÓI?</h3>
        <p>Não. O pós-operatório é muito tranquilo e praticamente sem dor cursando apenas com inchaço.<br>
        </p>
        <p><span style="font-weight: 400;">A alta médica, geralmente, ocorre no mesmo dia do procedimento. São raros os casos nos quais há complicações, porém podem ocorrer hematomas, algum tipo de infecção e a abertura dos pontos, ocorrências possíveis em qualquer cirurgia.</span></p>
        <p><span style="font-weight: 400;">O procedimento deve ser agendado logo após a menstruação, garantindo que a mulher não menstrue no pós-cirúrgico, o que poderia prejudicar o processo de cicatrização devido à umidade na região.</span></p>
        <h3>VOU PODER ME SENTAR APÓS A CIRURGIA ÍNTIMA?</h3>
        <p>Sim. A cirurgia não atrapalhará em nada a posição de sentada.</p>
        <h3>VOU PERDER A SENSIBILIDADE APÓS A NINFOPLASTIA?</h3>
        <p>Não. A cirurgia não atrapalhará a sensibilidade dos pequenos lábios nem do clitóris.</p>
        <h3>QUANDO TEREI O RESULTADO DEFINITIVO APÓS A CIRURGIA?</h3>
        <p>Da mesma forma que em várias outras cirurgias plásticas, o resultado definitivo poderá ser observado do sexto mês em diante, tempo razoável para o amadurecimento da cicatriz. No segundo mês após a cirurgia já se observa um resultado bastante significativo.</p>
        <h3>SÃO COMUNS COMPLICAÇÕES APÓS A CIRURGIA ÍNTIMA?</h3>
        <p>São muito raras as complicações neste tipo de cirurgia, porém podem ocorrer hematomas, algum tipo de infecção e a abertura dos pontos.</p>
        <p><span style="font-weight: 400;">Não. A cirurgia não atrapalha a sensibilidade dos pequenos lábios, nem do Clitóris.</span></p>
        <h3><strong>QUAIS AS RESTRIÇÕES NO PÓS-OPERATÓRIO DA NINFOPLASTIA?</strong></h3>
        <p><span style="font-weight: 400;">Evitar relações sexuais por 30 dias.<br>
        Não usar calças, bermudas e shorts justos.<br>
        Evitar banho de mar e piscina nos primeiros 15 a 21 dias.<br>
        </span></p>
        <h3>QUAIS SÃO OS CUIDADOS NO PÓS-OPERATÓRIO DA NINFOPLASTIA?</h3>
        <p>Usar as pomadas indicadas.<br>
        Compressas de gelo nos primeiros dias (evita um inchaço maior da região).<br>
        Fazer a higiene local adequadamente com ducha, sempre que necessário.</p>
        <h3>Quando a ninfoplastia é indicada?</h3>
        <p>Os pequenos lábios podem ter diferentes aparências, sendo que em alguns casos podem causar constrangimento e baixa autoestima na mulher, devido serem excessivamente grandes, com muita pele ou assimétricos.</p>
        <p>Além de questões estéticas, quando os pequenos lábios são maiores que os grandes lábios podem causar dores e desconforto durante as relações sexuais, fazendo com que a mulher não desfrute do momento ou mesmo que tenha vergonha do parceiro.</p>
        <p>Diversos fatores podem fazer com que os pequenos lábios adquiram uma aparência indesejada pela mulher, como:</p>
        <ul>
        <li>flacidez causada durante uma gravidez;</li>
        <li>tecido cicatricial causado durante um procedimento cirúrgico;</li>
        <li>questões hormonais na adolescência ou menopausa;</li>
        <li>uso inadequado de anabolizantes ou esteroides, desregulando a função hormonal.</li>
        </ul>
        <p>Essas e outras ocorrências podem ser centrais no crescimento anormal dos pequenos lábios ou assimetrias que causam desconforto às mulheres. A ninfoplastia permite diversos benefícios nesses casos, como:</p>
        <ul>
        <li>melhora a aparência da vagina e da vulva;</li>
        <li>eleva a autoconfiança e bem estar da paciente;</li>
        <li>reduz os desconfortos causados pelos atritos de tecido na região;</li>
        <li>elimina dores que possam ocorrer durante a prática de exercícios físicos;</li>
        <li>melhora o desempenho sexual e evita dores que possam ser causadas pelo atrito com os pequenos lábios.</li>
        </ul>
        <p>Dessa forma, as mulheres que têm incômodo ou desconforto causados pela aparência dos pequenos lábios pode corrigi-los por meio de um procedimento rápido e seguro.</p>
        <h4>Quais os cuidados do pré-operatório?</h4>
        <p>O primeiro passo para quem deseja realizar uma ninfoplastia é procurar por um cirurgião plástico de confiança que possa avaliar o caso e realizar o procedimento. O profissional deve ser membro da Sociedade Brasileira de Cirurgia Plástica (SBCP), o que comprova a especialização na área.</p>
        <p>No pré-operatório, além da avaliação da área a ser operada e alinhamento das expectativas da paciente, o médico solicitará exames complementares para verificar o quadro de saúde. Essa etapa é fundamental para que a paciente esteja apta a realizar um procedimento cirúrgico.</p>
        <p>Nessa fase, o médico ainda faz as recomendações pré-operatórias, como jejum de 8 horas antes do procedimento, interromper o uso de medicamentos específicos, não beber álcool ou fumar nos dias que antecedem a técnica, entre outras.</p>
        <h4>Como é realizado o procedimento?</h4>
        <p>Normalmente, na ninfoplastia é usada a anestesia local com sedação para que não haja necessidade de internação e a paciente possa ser liberada algumas horas depois o procedimento.</p>
        <p>A cirurgia tem duração entre 40 minutos e uma hora e meia, em média, desde que não seja associada com outras técnicas. Na técnica, o cirurgião corta os pequenos lábios e remove a parte excedente, em seguida costura as bordas com o objetivo de deixar a cicatriz mais discreta.</p>
        <p>É comum que a retirada do tecido em excesso limite-se aquele que se projeta para fora, visto que o corte além do necessário pode prejudicar funções como lubrificação e proteção contra infecções.</p>
        <p>A sutura é realizada com fios absorvíveis de forma que a paciente não precisa retornar ao hospital para realizar a remoção dos pontos que são absorvidos pelo organismo. Em alguns casos, o médico pode optar por pontos comuns, sendo necessário retirá-los após oito dias, em média.</p>
        <p>A alta médica, geralmente, ocorre no mesmo dia do procedimento. São raros os casos nos quais há complicações, porém podem ocorrer hematomas, algum tipo de infecção e a abertura dos pontos, ocorrências possíveis em qualquer cirurgia.</p>
        <p>O procedimento deve ser agendado logo após a menstruação, garantindo que a mulher não menstrue no pós-cirúrgico, o que poderia prejudicar o processo de cicatrização devido à umidade na região.</p>
        <h4>Como é a recuperação do procedimento?</h4>
        <p>O pós-operatório da ninfoplastia costuma ser tranquilo e praticamente indolor, causando apenas um inchaço. Ainda assim, as pacientes submetidas à técnica têm dúvidas sobre a recuperação. Confira algumas dicas a seguir, mas nunca deixe de conversar com o cirurgião plástico sobre o assunto.</p>
        <h4>Pós-operatório imediato</h4>
        <p>Nos primeiros dias após a cirurgia é indicado que a paciente use pomadas prescritas pelo médico, melhorando a cicatrização. Para minimizar o inchaço o indicado é utilizar compressas frias na região, em média, três vezes ao dia.</p>
        <p>Não há restrições quanto à paciente ficar sentada nessa fase, mas devem ser evitadas as atividades físicas, principalmente aquelas que pressionam o local operado, como andar de bicicleta e também o uso de roupas justas na região, como shorts, calça ou bermuda.</p>
        <h4>Relações sexuais</h4>
        <p>As relações sexuais só podem ser retomadas 30 a 45 dias após o procedimento, evitando o atrito na região que pode causar problemas na cicatrização e prejudicar os pontos.</p>
        <h4>Vestuário</h4>
        <p>Após a realização da ninfoplastia a paciente deve usar calcinha folgada e de algodão para que a região fique arejada para contribuir para a cicatrização que demora cerca de 30 dias.</p>
        <h4>Higienização</h4>
        <p>No pós-operatório a higienização é muito importante para a recuperação. Para isso é indicado que a paciente lave a região com água morna e sabão neutro ao urinar, mantendo a área livre de bactérias que poderiam ocasionar uma infecção.</p>
        <p>Nesse período também não é indicado que a mulher tome banhos de mar ou piscina por, ao menos, 21 dias.</p>
        <h4>Resultados da Ninfoplastia</h4>
        <p>Os resultados definitivos da ninfoplastia podem ser vistos a partir do sexto mês, tempo razoável para o amadurecimento da cicatriz. No segundo mês após a cirurgia já se observa um resultado bastante significativo, entretanto, ele ainda poderá sofrer mudanças.</p>
        <p>Uma dúvida frequente é quanto à sensibilidade na região, no entanto, o procedimento não interfere nesse fator.</p>
        <p>A ninfoplastia é uma técnica segura e prática que visa devolver a autoestima e bem-estar à paciente, dessa forma pode ser realizada quando a mulher tiver um incômodo em relação ao tamanho dos pequenos lábios vaginais. Deve-se atentar apenas a escolha de um cirurgião plástico de confiança para realização do procedimento.</p>
        <p>Conheça a Dr. Luciana Pepino e entre em contato com nossa equipe para mais informações sobre a Ninfoplastia.</p>
        










      </div>
    </div>
  </div>          
</div>


  </div>
</div>
      
</div>
  

    <!-- Sart Modal -->
 










     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0a2644" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#75ff02; text-align: left; font-size: 40px">PlásticaNaWeb Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre cirurgias plásticas e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Plástica. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        






    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Plástica Parcelada 36x</h2>
                <p style="height: 150px; font-size: 17px; color:#616a74;"> Plástica parcelada em até 36x. Temos produtos como financiamento plástica, consórcio plástica e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor Valor na Plástica</h2>
                <p style="height: 150px; font-size: 16px; color:#616a74">Batemos seu preço. A Plástica que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor cirurgião plástico</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74">Você encontra o melhor cirurgião plástico. Compare preços, veja fotos de antes e depois de vários cirurgiões, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#75ff02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com cirurgiões plásticos de excelente reputação.
      </p></br>
        </div>
      </div>
    </div>





<footer class="Footer Footer--global" style="background-color: #0a2644; line-height: 70px">
    <div class="container" >
        <div class="row" ">
            <div style="height: 5px">
                <a>
                    <svg class="Iperceptions--icon Icon"><use xlink:href="/build/sprite-critical.svg?c0e4f53c7fb86c64dea3b33c9fc4fbb6#speechBubblePink"></use></svg>
                </a>
            </div>
        </div>

            <div class="col-sm-12" style="color: #fff; text-align: center">
              <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

            </div></br></br>
        <div class="row" style="margin-top: -120px">
            <div class="col-sm-3" style="color: #fff">
                
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Acesso Rápido</h5>
                <nav style="color: #0a2644; margin-top: -120px" >
                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px;">Como Funciona</h2></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Eventos</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">antes e depois cirurgia plástica</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Empréstimo para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Consórcio para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Plástica Parcelada</a></h2>
                  </li>                    


                </nav>


                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02; margin-top: 100px" >Perguntas</h5>
                <nav style="color: #0a2644; margin-top: -120px " >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px">Quanto custa para colocar silicone</h2></p>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Preço para colocar botox no rosto</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Qual valor da cirurgia plástica no nariz</a></h2>
                  </li>                                   

                </nav>

            </div>

            <div class="col-sm-3" style="color: #fff">
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Procedimentos</h5>
                <nav style="color: #0a2644; margin-top: -120px" >

                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/206" style="color:#fff;font-size: 14px">Colocar Silicone</a></h2>
                  </li>          
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/207" style="color:#fff;font-size: 14px">Lipoaspiração</a></h2>
                  </li>                            

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/208" style="color:#fff;font-size: 14px">Toxina Botulínica</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/209" style="color:#fff;font-size: 14px">Preenchimento Facial</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/210" style="color:#fff;font-size: 14px">Rinoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/211" style="color:#fff;font-size: 14px">Lifting Facial</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/212" style="color:#fff;font-size: 14px">Mamoplastia Redutora</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/213" style="color:#fff;font-size: 14px">Mastopexia com Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/214" style="color:#fff;font-size: 14px">Mastopexia sem Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/215" style="color:#fff;font-size: 14px">Abnominoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/216" style="color:#fff;font-size: 14px">Cirurgia Íntima</a></h2>
                  </li>               

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Valor / Preço Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Antes e Depois Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois  Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>


        </div>
    </div>

                <div>
        </div>
    

    <div class="Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 PlásticaNaWeb, Inc. Todos os direitos reservados.
        
    </div>

</footer>










  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="./assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // the body of this function is in assets/js/now-ui-kit.js
      nowuiKit.initSliders();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>











