<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136930452-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136930452-1');
</script>

    <title>Antes Depois Preço Cirurgia Abdominoplastia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://ec2-18-222-94-248.us-east-2.compute.amazonaws.com" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
          <p style="font-size: 40px; text-transform: lowercase; color: #0a2644; font-weight: bold; 
"> plástica </p>
          <h4 style="text-align: right; margin-top: -10px; color:#75ff02;font-weight: bold"> NA WEB </h4>
          <%# image_tag(("http://ec2-18-217-155-28.us-east-2.compute.amazonaws.com/assets/logo_liquibay_branco-fd00d8005b22ef903bbf567ea3de8e28b5d9548e29a827a14fd3920f7ed6ab8f.png"), style:"width:235px; height: 50px") %>
        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#0a2644; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#0a2644; font-weight:bold; font-size:16px; ">Plástica Parcelada</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#0a2644; font-weight:bold">Eventos</a></p>
          </li>          

          <li class="nav-item" style="margin-right: 30px; ">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Antes Depois</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          


        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%" >
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://lovelacemedicalgroup.com/sites/default/files/service-images/plastic_surgery_iStock-685846144.jpg') ; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";" >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0a2644">
                    </div>
                  </div>
                </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h1 class="mt-3" style="color: #0a2644; font-weight: bold;font-size: 27px; text-align: left;"> Antes e Depois e Preço - Abdominoplastia</h1>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#0a2644;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h3 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">De R$6.685 até R$28.000(Tudo)</h3>
                        <h4 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px; margin-top: -12px">Depende do cirurgião escolhido</h4>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Plástica parcelada 36x</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Consulta Gratuíta</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero ficar mais bonita",  {class: 'btn btn-rose mt-4', style: "background-color:#02dbff; color:#0a2644; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        
        

<div class="container">
  <div class="row">






<div class="col-md-4">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">photo_came</i>
      </div>
      <h4 class="card-title">Fotos</h4></br></br>
    </div>
   

   <%= render "antes_depois_abdominoplastia" %>


  </div>          
</div>




<div class="col-md-8">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">info</i>
      </div>
      <h4 class="card-title">Informações</h4></br></br>
    </div>
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">
        



<section><h2>CIRURGIA PLÁSTICA ABDOMINAL – ABDOMINOPLASTIA</h2>
<p>Tire aqui suas dúvidas sobre a cirurgia de abdômen, a abdominoplastia.Estas são as principais perguntas feitas por nossos pacientes, durante a consulta inicial em nossa clínica:</p>
<h3>QUANTOS QUILOS VOU EMAGRECER COM ABDOMINOPLASTIA?</h3>
<p>A <strong>Abdominoplastia</strong> não tem por objetivo a eliminação de peso. Haverá sim uma <strong>redução do volume abdominal</strong>. Quando o paciente está com o peso acima do normal, o resultado também será compensatório e proporcional ao restante do corpo; entretanto, vale a pena lembrar que “excesso de gordura” em outras regiões vizinhas do abdome ainda existirá, como na cintura e flancos.</p>
<h3><strong>A ABDOMINOPLASTIA DEIXA CICATRIZ MUITO GRANDE?</strong></h3>
<p>A cicatriz da Abdominoplastia localiza-se horizontalmente logo acima da implantação dos pelos pubianos, estendendo-se lateralmente, e será maior ou menor dependendo do volume a ser corrigido. Esta cicatriz é desenhada com o objetivo de ficar sob as roupas de banho.As fases da cicatrização são:</p>
<p style="padding-left: 30px;">a) PERÍODO IMEDIATO: Dura até o 30º dia e tem o aspecto excelente e pouco visível. Alguns casos apresentam discreta reação aos pontos ou ao curativo.<br>
b) PERÍODO MEDIATO. Vai do 30º dia até o 12º mês. Neste período acontece um espessamento natural da cicatriz, e mudança na tonalidade de sua cor, passando de “vermelho” para o “marrom”, que vai, aos poucos, clareando. Não temos como apressar o processo natural da cicatrização, mas recomendamos alguns cuidados às pacientes, porém o tempo se encarregará de amenizar os vestígios da cicatriz.<br>
c) PERÍODO TARDIO: Vai do 12º ao 18º mês. A cicatriz começa a tornar-se mais clara e menos consistente chegando, assim no seu aspecto definitivo. Qualquer avaliação do resultado definitivo de uma cicatriz deverá ser feita após esta fase.</p>
<h3><strong>EM QUANTO TEMPO TEREI RESULTADO DEFINITIVO DA ABDOMINOPLASTIA?</strong></h3>
<p>Neste tipo de cirurgia de abdômen, nunca se deve considerar como definitivo qualquer resultado, antes de 12 a 18 meses de cirurgia. Nos primeiros meses, o abdômen apresentará uma insensibilidade relativa, e períodos de “inchaço”, que só regredirá com o passar dos meses. Nesta fase, ficará com aspecto de “esticado” ou “plano” e com o decorrer dos meses vai gradativamente atingindo o resultado definitivo.</p>
<h3><strong>NA CIRURGIA ABDOMINAL, É VERDADE QUE SERÁ FEITO UM UMBIGO NOVO?</strong></h3>
<p>Não. Na Abdominoplastia o seu próprio umbigo é utilizado. Existirá apenas cicatriz circundando o umbigo que estará localizado abaixo de um novo tecido de pele.</p>
<h3><strong>A ABDOMINOPLASTIA CORRIGE AQUELE EXCESSO DE GORDURA NA REGIÃO DO ESTÔMAGO?</strong></h3>
<p>Nem sempre a Abdominoplastia corrige este excesso. Vai depender do seu tipo de tronco (conjunto tórax + abdome). Se ele for do tipo curto, dificilmente será corrigido. Sendo do tipo longo, o resultado será mais favorável. Também tem grande importância no resultado da Abdominoplastia a espessura do panículo adiposo (quantidade de gordura) sobre esta região.A Abdominoplastia não diminui a espessura da gordura que ficará constituindo o novo abdome, porém a perda de peso ou uma lipoaspiração após 6 a 12 meses poderá ser realizada visando deixá-lo menos espesso.</p>
<h3><strong>PODEREI TER FILHOS APÓS PLÁSTICA NO ABDÔMEN? O RESULTADO NÃO FICARÁ PREJUDICADO?</strong></h3>
<p>Sim. A Abdominoplastia não te impedirá de ter outros filhos. Quanto ao resultado, só será preservado se na nova gestação seu peso for controlado. Orientamos, entretanto, que tenha todos os filhos antes de se submeter a uma Abdominoplastia abdominal para se evitar este prejuízo.</p>
<h3><strong>O PÓS-OPERATÓRIO DA ABDOMINOPLASTIA DÓI?</strong></h3>
<p>Não. Uma Abdominoplastia de evolução normal não apresenta dor. O desconforto maior ocorre nos primeiros 3 dias.</p>
<h3><strong>HÁ RISCO NESTA ABDOMINOPLASTIA?</strong></h3>
<p>Na Abdominoplastia, a preparação de cada paciente para o ato operatório, além das ponderações sobre a conveniência da associação desta e outras <a >cirurgias plásticas</a>, reduz consideravelmente os riscos. Riscos de infecção, hemorragia, hematomas, necroses, tromboembolismo, são inerentes a qualquer ato cirúrgico.</p>
<h3><strong>QUE TIPO DE ANESTESIA É UTILIZADO NESTA CIRURGIA?</strong></h3>
<p>O procedimento pode ser feito com Bloqueio (anestesia peridural ou raqui) ou anestesia geral.</p>
<h3><strong>QUANTO TEMPO DURA A CIRURGIA?</strong></h3>
<p>A cirurgia dura em torno de 2 a 3 horas</p>
<p><strong>NA ABDOMINOPLASTIA, QUAL O PERÍODO DE INTERNAÇÃO?</strong></p>
<p>O período de internação é aproximadamente de 24h (em uma evolução normal).</p>
<h3><strong>SÃO UTILIZADOS CURATIVOS NA PLÁSTICA DE ABDÔMEN?</strong></h3>
<p>Sim, são utilizados curativos, mas são retirados após 24h.</p>
<h3><strong>É UTILIZADO DRENO NA ABDOMINOPLASTIA?</strong></h3>
<p>Sim. Na Abdominoplastia utilizamos um dreno que geralmente é retirado quando iniciamos a drenagem linfática. O objetivo do dreno na Abdominoplastia é evitar o acúmulo excessivo de líquidos nos primeiros dias de pós-operatório.</p>
<h3><strong>QUANDO SÃO RETIRADOS OS PONTOS DA CIRURGIA DE ABDÔMEN?</strong></h3>
<p>Na cirurgia de abdômen, geralmente após 15 dias são retirados os pontos do umbigo, no restante não haverá pontos para retirar.</p>
<h3><strong>RETIRAR O DRENO NA ABDOMINOPLASTIA DÓI?</strong></h3>
<p>Não. No pós–operatório da Abdominoplastia é comum uma dormência na área operada, pois isso a retirada do dreno não dói.</p>
<h3><strong>APÓS A CIRURGIA, QUANDO PODEREI TOMAR BANHO COMPLETO?</strong></h3>
<p>No dia seguinte da cirurgia de Abdominoplastia já se pode tomar banho completo. Geralmente isso é feito no próprio hospital antes da alta.</p>
<h3><strong>A DRENAGEM LINFÁTICA É NECESSÁRIA APÓS A CIRURGIA ABDOMINAL?</strong></h3>
<p>Sim. Na Abdominoplastia a drenagem linfática é obrigatória. Iniciamos em torno de 4 dias de pós-operatório.</p>
<h3><strong>NA ABDOMINOPLASTIA, QUAL A EVOLUÇÃO PÓS-OPERATÓRIA?</strong></h3>
<p>O resultado da Abdominoplastia não deverá ser considerado como definitivo antes dos 12 aos 18 meses. Em pacientes obesas, poderá ocorrer após o 8º dia, a “eliminação de líquido amarelado” por um ou mais pontos da cicatriz. Este fenômeno é chamado de “lipólise” e nada mais é do que a liquefação da gordura residual próxima à área da cicatriz que está sendo eliminada, sem que isso venha a se constituir como complicação. Geralmente o dreno é colocado para evitar o acúmulo deste líquido. Quando este líquido forma uma coleção, chamamos de seroma, que pode ser diminuído de tamanho com as drenagens linfáticas e puncionado (sem dor) quando for necessário.</p>
<h2>RECOMENDAÇÕES SOBRE A CIRURGIA DE ABDÔMEN</h2>
<h3><strong>RECOMENDAÇÕES PRÉ-OPERATÓRIAS:</strong></h3>
<p>a) Comunicar-se conosco até 2 dias antes da cirurgia, em caso de gripe, indisposição, etc.<br>
b) Internar-se no hospital indicado e no horário pré-estabelecido, em jejum de 8h, inclusive de água.<br>
c) Evitar bebidas alcoólicas ou refeições muito pesadas, na véspera da cirurgia.<br>
d) Evitar medicamentos para emagrecer, por um período de 10 dias antes do ato cirúrgico.<br>
e) Programar um repouso domiciliar por um período de aproximadamente 2 semanas.</p>
<h3><strong>RECOMENDAÇÕES PÓS-OPERATÓRIAS:</strong></h3>
<p>a) Evitar esforços por 15 a 30 dias. Não pegar peso algum por 30 dias.<br>
b) Retirar os curativos com 24h e tomar banho completo.<br>
c) Em casos de pacientes muito obesas, poderá ocorrer, após o 8º dia, a eliminação de certa quantidade de líquido amarelado por um ou mais pontos de cicatriz. Não se preocupe se isto lhe ocorrer. Chamamos de “lipólise”, que não significa absolutamente complicação.<br>
d) Alimentação normal evitando apenas alimentos que causem acúmulo de gases. Prefira alimentos com fibras que regularizem a função intestinal.<br>
e) Usar a cinta recomendada por 30 dias, retirando-a apenas para o banho.<br>
f) Drenagens linfáticas são recomendadas e indicamos após o 4º dia.</p>
<h3><strong>Passo a passo da abdominoplastia</strong></h3>
<p>A abdominoplastia é feita com anestesia peridural ou raqui com sedação intravenosa para que o paciente durma ou então com anestesia geral quando associada a outras cirurgias, como a lipoaspiração. Por isso, essa cirurgia é sempre feita no hospital.</p>
<p>Depois da assepsia da pele, o cirurgião faz as linhas de incisão: em geral, a primeira é feita no púbis, de um quadril ao outro, e a segunda a partir da primeira em sentido vertical, passando ao redor do umbigo. Em seguida, o tecido é levantado para expor os músculos abdominais.</p>
<p>Dessa maneira, o cirurgião pode costurar os músculos que estejam distendidos. Depois, a pele que estava erguida para expor os músculos é reposicionada, passando por cima do umbigo, que ficará escondido (pois ele está preso à parede abdominal interna).</p>
<p>Para expor o umbigo novamente, o cirurgião faz um orifício no tecido ao seu redor. Em seguida, é feita a remoção da pele e da gordura excedentes a partir da incisão original, de forma a resolver o problema da flacidez.</p>
<p>A próxima etapa consiste em inserir os drenos para evitar o acúmulo de líquidos e fazer as suturas nas incisões. Por fim, são feitos os curativos e o paciente é vestido com a cinta compressora. A cirurgia dura de 2 a 3 horas.</p>
<h3><strong>Tipos de abdominoplastia</strong></h3>
<p>Acima, nós descrevemos o passo a passo da abdominoplastia clássica, mas existem outras variações desse procedimento. Saiba mais sobre elas:</p>
<ul>
<li><strong>Abdominoplastia clássica</strong>: é o método mais tradicional, que tem como objetivo a remoção do excesso de pele e a correção da flacidez muscular. Ela é recomenda para pacientes com grande sobra de pele e um afastamento significativo dos músculos abdominais;</li>
<li><strong>Abdominoplastia extensa</strong>: além da remoção do excesso de pele e da correção da flacidez abdominal, essa cirurgia também remove os excessos localizados nas laterais, quadris e lombar, por isso a incisão é maior. É uma cirurgia bastante procurada depois da gestação;</li>
<li><strong>Miniabdominoplastia</strong>: é uma cirurgia menor em comparação ao método clássico, indicada para pacientes que querem ou precisam eliminar apenas excesso de pele gordura abaixo do umbigo, na região chamada de “pé da barriga”. Sua recuperação é mais rápida;</li>
<li><strong>Lipoabdominoplastia</strong>: associa a abdominoplastia com a lipoaspiração, indicada para pacientes que têm uma camada de gordura mais espessa no abdômen. Remove os excessos de gordura da barriga, cintura e dorso, remodelando a silhueta.</li>
</ul>
<h3><strong>Cuidados antes da cirurgia</strong></h3>
<p>Dez dias antes da abdominoplastia, é necessário interromper o uso de medicamentos para emagrecer e outras substâncias conforme a recomendação médica. Na véspera, deve-se evitar consumir bebidas alcoólicas e refeições pesadas.</p>
<p>No dia da cirurgia, o paciente deve comparecer ao hospital para internamento no horário previamente combinado para fazer o jejum de 8 horas, inclusive de água. Em caso de gripe ou outras indisposições, o paciente deve avisar a equipe até 2 dias antes da cirurgia.</p>
<p>Um detalhe muito importante antes de fazer a abdominoplastia é já estar com tudo devidamente organizado para poder fazer um repouso domiciliar de duas semanas depois do procedimento, permitindo sua recuperação.</p>
<h3><strong>Recuperação da abdominoplastia</strong></h3>
<p>O paciente poderá sentir dores e desconforto nos primeiros três dias, que costumam ser aliviados com analgésicos simples prescritos pelo médico. Não será possível ficar totalmente ereto imediatamente, mas recomenda-se fazer pequenas caminhadas.</p>
<p>Os curativos devem ser retirados em 24 horas, e o paciente poderá tomar um banho completo. Os drenos costumam ser retirados em duas a três semanas. A alimentação pode ser normal, apenas evitando-se alimentos que favorecem o acúmulo de gases.</p>
<p>É essencial que o paciente faça uso da cinta compressora por pelo menos 30 dias.Ela ajuda a manter os tecidos em seus novos locais e facilita a cicatrização, além de dar segurança ao paciente.</p>
<p>O paciente deve evitar fazer esforço e erguer peso por 30 dias, retomando as atividades físicas gradualmente conforme a liberação médica. As sessões de drenagem linfática são recomendadas a partir do quarto dia.</p>
<h2><strong>Riscos da abdominoplastia</strong></h2>
<p>Como em qualquer cirurgia, há riscos de infecção, hemorragia, necrose e tromboembolismo. Mas, se o paciente tomar os devidos cuidados a recuperação ocorrerá de forma saudável e positiva.</p>
<h3><strong>Cicatrizes da abdominoplastia</strong></h3>
<p>A cicatriz se localiza horizontalmente, logo acima da linha dos pelos pubianos, sendo normalmente coberta pelas roupas íntimas e de banho. O tamanho da cicatriz depende do volume a ser corrigido no procedimento.</p>
<p>Nos primeiros 30 dias, a cicatriz será bastante discreta, talvez com algumas reações aos pontos e curativos. A partir do segundo mês, ocorre um espessamento natural e uma mudança de cor, na qual a cicatriz passa do vermelho para o marrom, ficando mais escura.</p>
<p>Entre 12 a 18 meses depois da cirurgia, a cicatriz começa a ficar mais clara e menos consistente de forma gradual, atingindo sua aparência definitiva somente depois desse período.</p>
<h3><strong>Abdominoplastia e lipoaspiração: quais são as diferenças</strong></h3>
<p>Enquanto a abdominoplastia tem como objetivo corrigir a flacidez e reposicionar os músculos, a lipoaspiração promove a remoção da gordura localizada. A lipo é feita por meio da inserção de cânulas que sugam o excesso de tecido adiposo.</p>
<p>Esses dois procedimentos podem ser associados para promover uma cirurgia ainda mais completa, proporcionando resultados melhores aos pacientes quando necessário.</p>
<h3><strong>Quanto custa uma abdominoplastia?</strong></h3>
<p>O Conselho Federal de Medicina e o Regimento Interno da Sociedade Brasileira de Cirurgia Plástica proíbem a divulgação de preços de cirurgias plásticas pela internet. Por isso, os valores devem ser discutidos somente após uma avaliação presencial.</p>









      </div>
    </div>
  </div>          
</div>


  </div>
</div>
      
</div>
  

    <!-- Sart Modal -->
 










     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0a2644" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#75ff02; text-align: left; font-size: 40px">PlásticaNaWeb Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre cirurgias plásticas e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Plástica. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        






    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Plástica Parcelada 36x</h2>
                <p style="height: 150px; font-size: 17px; color:#616a74;"> Plástica parcelada em até 36x. Temos produtos como financiamento plástica, consórcio plástica e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor Valor na Plástica</h2>
                <p style="height: 150px; font-size: 16px; color:#616a74">Batemos seu preço. A Plástica que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor cirurgião plástico</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74">Você encontra o melhor cirurgião plástico. Compare preços, veja fotos de antes e depois de vários cirurgiões, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#75ff02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com cirurgiões plásticos de excelente reputação.
      </p></br>
        </div>
      </div>
    </div>





<footer class="Footer Footer--global" style="background-color: #0a2644; line-height: 70px">
    <div class="container" >
        <div class="row" ">
            <div style="height: 5px">
                <a>
                    <svg class="Iperceptions--icon Icon"><use xlink:href="/build/sprite-critical.svg?c0e4f53c7fb86c64dea3b33c9fc4fbb6#speechBubblePink"></use></svg>
                </a>
            </div>
        </div>

            <div class="col-sm-12" style="color: #fff; text-align: center">
              <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

            </div></br></br>
        <div class="row" style="margin-top: -120px">
            <div class="col-sm-3" style="color: #fff">
                
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Acesso Rápido</h5>
                <nav style="color: #0a2644; margin-top: -120px" >
                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px;">Como Funciona</h2></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Eventos</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">antes e depois cirurgia plástica</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Empréstimo para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Consórcio para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Plástica Parcelada</a></h2>
                  </li>                    


                </nav>


                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02; margin-top: 100px" >Perguntas</h5>
                <nav style="color: #0a2644; margin-top: -120px " >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px">Quanto custa para colocar silicone</h2></p>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Preço para colocar botox no rosto</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Qual valor da cirurgia plástica no nariz</a></h2>
                  </li>                                   

                </nav>

            </div>

            <div class="col-sm-3" style="color: #fff">
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Procedimentos</h5>
                <nav style="color: #0a2644; margin-top: -120px" >

                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/206" style="color:#fff;font-size: 14px">Colocar Silicone</a></h2>
                  </li>          
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/207" style="color:#fff;font-size: 14px">Lipoaspiração</a></h2>
                  </li>                            

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/208" style="color:#fff;font-size: 14px">Toxina Botulínica</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/209" style="color:#fff;font-size: 14px">Preenchimento Facial</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/210" style="color:#fff;font-size: 14px">Rinoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/211" style="color:#fff;font-size: 14px">Lifting Facial</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/212" style="color:#fff;font-size: 14px">Mamoplastia Redutora</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/213" style="color:#fff;font-size: 14px">Mastopexia com Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/214" style="color:#fff;font-size: 14px">Mastopexia sem Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/215" style="color:#fff;font-size: 14px">Abnominoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/216" style="color:#fff;font-size: 14px">Cirurgia Íntima</a></h2>
                  </li>               

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Valor / Preço Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Antes e Depois Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois  Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>


        </div>
    </div>

                <div>
        </div>
    

    <div class="Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 PlásticaNaWeb, Inc. Todos os direitos reservados.
        
    </div>

</footer>










  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="./assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // the body of this function is in assets/js/now-ui-kit.js
      nowuiKit.initSliders();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>











