<!DOCTYPE html>
<html>
  <head> 
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138589882-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138589882-1');
</script>
    
    <title>Doação de Sémen: Como é feita, como escolher, valor e mais</title>
</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://ec2-18-222-94-248.us-east-2.compute.amazonaws.com" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
<p style="font-size: 30px; text-transform: uppercase; color: #ffbc02; font-weight: bold; margin-top: 5px
"> EU </p>          
          <p style="font-size: 30px; text-transform: lowercase; color: #0092a8; font-weight: bold;
"> fértil </p>                    <%# image_tag(("http://ec2-18-217-155-28.us-east-2.compute.amazonaws.com/assets/logo_liquibay_branco-fd00d8005b22ef903bbf567ea3de8e28b5d9548e29a827a14fd3920f7ed6ab8f.png"), style:"width:235px; height: 50px") %>
        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #ffbc02; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0092a8; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#0092a8; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#0092a8; font-weight:bold; font-size:16px; ">Plástica Parcelada</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#0092a8; font-weight:bold">Eventos</a></p>
          </li>          

          <li class="nav-item" style="margin-right: 30px; ">
              <p><a href="#procedimentos" style="color:#0092a8; font-weight:bold; font-size:16px; ">Antes Depois</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#0092a8; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          


        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%" >
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://cdn.glowing.com/fertility-program/website/img/gfp-banner-background.e1ca04a7.jpg') ;" >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0092a8">
                    </div>
                  </div>
                </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h1 class="mt-3" style="color: #fff; font-weight: bold;font-size: 27px; text-align: left;">Doação de Esperma - Quiz com preço, inseminação com doador, banco de sémen</h1>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#fff;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h3 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">De R$7.155 até R$30.000(Tudo)</h3>
                        <h4 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px; margin-top: -12px">Depende da clínica de fertilização</h4>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">Fertilização com doação de sémen parcelada 36x</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">Consulta Gratuíta</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #ffbc02; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0092a8; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0092a8;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero engravidar",  {class: 'btn btn-rose mt-4', style: "background-color:#02dbff; color:#0092a8; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        
        

<div class="container">
  <div class="row">





<div class="col-md-4">
  <div class="card ">
    <div class="col-md-12" style="margin-left: 0px; text-align: center"></br>
    
   

      <div class="col-md-12 mr-auto" style="text-align: left; background-color: #0092a8;height: 100%; margin-top: 0px"></br>

      <h3 style="color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

        <%= form_for ContactMessage.new do |f| %>




          <div class="col-md-12 form-group has-default bmd-form-group" >
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333;">
                  <i class="material-icons" style="color:#fff">face</i>
                </span>
              </div>
              <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
            </div>
          </div> </br>                  
          <div class="col-md-12  form-group has-default bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333">
                  <i class="material-icons" style="color:#fff">mail</i>
                </span>
              </div>
              <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
            </div></br>                  
          </div>
          <div class="col-md-12  form-group has-default bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333">
                  <i class="material-icons"style="color:#fff">phone</i>
                </span>
              </div>
              <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
            </div>
          </div></br>                  



          <div class="text-center" style="margin-top: -20px">
            <%= f.submit "Quero engravidar",  {class: 'btn btn-rose mt-4', style: "background-color:#ffbc02; color:#0092a8; font-weight:bold"} %></br></br>

          </div>

        <% end %>




        </div>


      </div>   





  </div>          
</div>




<div class="col-md-8">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #ffbc02">info</i>
      </div>
      <h4 class="card-title">Informações</h4></br></br>
    </div>
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">
        
<ul class="nav  " role="tablist" style="font-size: 14px; font-weight: bold">


                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #ffbc02; height: 25px;">
                    <a class="nav-link"  href="#quem_pode_doar" role="tablist" style="color:#ffbc02; margin-top: -8px">
                      Quem pode doar
                    </a>
                  </li>


                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #ffbc02; height: 25px;">
                    <a class="nav-link"  href="#caracteristicas_doador" role="tablist" style="color:#ffbc02; margin-top: -8px">
                      Caracteristicas do doador
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #ffbc02; height: 25px;">
                    <a class="nav-link"  href="#exames_doador" role="tablist" style="color:#ffbc02; margin-top: -8px">
                      Exames doador
                    </a>
                  </li>


                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #ffbc02; height: 25px;">
                    <a class="nav-link"  href="#como_e_feita" role="tablist" style="color:#ffbc02; margin-top: -8px">
                      Como é Feita
                    </a>
                  </li>                  



                </ul></br>

<h3> Doação de sémen, como é feita e como funciona </h3>

<p>Você já pensou em doar sêmen? Antes de responder, saiba que esse ato pode ajudar casais que enfrentam a infertilidade (no Brasil, mais de 8 milhões de pessoas estão nessa situação) ou que não podem gestar um bebê por algum outro motivo. Se você ficou interessado saiba que existem regras para doar. De acordo com o Conselho Federal de Medicina (CFM), toda doação de gametas deve ser anônima e sem nenhum tipo de envolvimento financeiro – ao contrário de outros países, como os EUA, por exemplo, em que a identidade do doador pode ser revelada e em algumas circunstancias também pode haver ganho financeiro no processo de doação - recepção. Aqui, os casais que pretendem ter filhos através de técnicas como Inseminação Artificial ou Fertilização In Vitro com sêmen ou óvulos doados não podem conhecer o doador e nem o doador conhecer o receptor. Veja como se dá todo o processo de doação de sêmen no Brasil. </p>

<h3 id="quem_pode_doar"> Quem pode doar semen no Brasil? Qual homem pode ser doador? </h3>
<p>Qualquer pessoa pode se candidatar a ser um doador, desde que seja voluntário, visto que a legislação brasileira não permite o comércio nem a remuneração desse serviço. Porém, existem algumas regras, como em relação à idade, que é de 18 a 40 anos. Também é solicitada uma análise criteriosa da saúde do doador, que não pode ter histórico de doença genética ou crônica própria ou na família, nem de doenças sexualmente transmissíveis e malformações.</p>

<h3 id="caracteristicas_doador"> O que posso saber do doador de semen? Cor de cabelo, olhos, religião etc..?</h3>
<p>
  Se a mulher tiver interesse ela pode saber muito mais sobre o pai biológico do seu futuro filho. No Pro-Seed, por exemplo, um dos maiores bancos de sêmen do Brasil, é possível ter conhecimento sobre as seguintes características do doador: fator ABO, RH, raça, origem étnica, religião, cor de pele, cor e textura dos cabelos, cor dos olhos, altura, peso, ocupação, hobby, signo, comida favorita, cor predileta, se gosta ou tem animal de estimação, se é fumante ou foi, gosto musical, se gosta de viajar muito, se prestou serviço militar, quais idiomas fala, se tem deficiências visual ou auditiva, se tem alguma alergia, se vai ao dentista regularmente, se faz atividades físicas, dieta suplementar e se tem casos de gêmeos na família. Na maioria das clínicas brasileiras, como na Genics Medicina Reprodutiva, também é possível ter acesso a essas informações, além do estado de saúde do doador. "Os processos brasileiros são de excelente qualidade. O que acontece é que não existem campanhas e políticas para doação de gametas. As clínicas no Brasil usam bancos próprios, restritos aos pacientes de cada clínica, e a doação é voluntária, ou seja, não é paga como acontece lá fora, mas o Brasil tem a mesma competência para os processos que envolvem doação de gametas e oferece a mesma segurança", explica Philip Wolff, professor e doutor em Ciências Biomédicas e diretor da Genics Medicina Reprodutiva.
  Exames solicitados para avaliar a saúde do doador
</p>

<h3 id="exames_doador"> Quais são os exames solicitados para a doação de espermatozoides? </h3>

<p> Durante a avaliação clínica do doador, ele é submetido aos seguintes exames: 

Cariótipo, Treponema pallidum (Sífilis), HIV 1, HIV 2, HBV, HCV, HTLV I e II, vírus Zika, Chlamydiatrachomatis (Clamídia) e Neisseriagonorrhoeae (Gonorreia).
Como é o processo de armazenamento do sêmen

</p>

<h3 id="como_e_feita">Como é feita a doação de semen?</h3>
<p>A coleta do esperma para o banco é feita em hospitais e clínicas de reprodução humana, por meio da masturbação masculina, mas existem casos em que pode ser realizada por cirurgia. Após a coleta é feita a análise seminal, que verifica a qualidade dos gametas. Estando dentro dos parâmetros sugeridos pela Organização Mundial de Saúde, o material é armazenado por meio da técnica de criopreservação - processo de congelamento do material em nitrogênio líquido a 196 ºC, o que permite seu uso no futuro em processos de reprodução humana assistida, como a Fertilização In Vitro ou a Inseminação Artificial. Normalmente os médicos procuram oferecer amostras de doadores que tenham características físicas parecidas com a do receptor, como tipagem sanguínea, cor dos olhos, do cabelo e da pele.

Segundo Philip Wolff, a criopreservação também é empregada antes de procedimentos cirúrgicos que possam afetar a capacidade do homem em produzir espermatozoides. Pacientes que serão submetidos à vasectomia ou a tratamentos específicos de quimioterapia e radioterapia, que geralmente causam danos irreparáveis ao tecido germinativo masculino, também se beneficiam com essa técnica.

"Mais recentemente, a criopreservação de espermatozoides tem sido empregada para armazenar células excedentes, provenientes de aspirados do epidídimo ou do testículo, para eventual uso em técnicas de reprodução assistida de alta complexidade (como a Injeção Intracitoplasmática de Espermatozoide - ICSI). Os mesmos métodos também são utilizados para armazenar espermatozoides obtidos durante a reconstrução microcirúrgica do trato genital masculino (Vasovasostomia e Vasoepidídimostomia), como uma provável garantia de resguardar a fertilidade futura do homem", explica Wolff.



</p>



      </div>
    </div>
  </div>          
</div>



  </div>
</div>
      
</div>
  

    <!-- Sart Modal -->
 










     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0092a8" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#ffbc02; text-align: left; font-size: 40px">GrávidaNaWeb Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre tratamentos para engravidar e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Plástica. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        





    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Plástica Parcelada 36x</h2>
                <p style="height: 150px; font-size: 17px; color:#616a74;"> Plástica parcelada em até 36x. Temos produtos como financiamento plástica, consórcio plástica e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor Valor na Plástica</h2>
                <p style="height: 150px; font-size: 16px; color:#616a74">Batemos seu preço. A Plástica que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor cirurgião plástico</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74">Você encontra o melhor cirurgião plástico. Compare preços, veja fotos de antes e depois de vários cirurgiões, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#ffbc02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com cirurgiões plásticos de excelente reputação.
      </p></br>
        </div>
      </div>
    </div>







    
<div id="como_funciona" style="text-align: center; color:#fff; background-color: #ffbc02; margin-top: -30px">
      <div class="container">
        <h2 class="title description" style="color:#0092a8">Notícias Cirurgia Plástica</h2></br>
        <div class="team">
          <div class="row" style="margin-top: -80px">

            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#0092a8;  font-size: 16px; height: 50px; font-weight: bold">Peito de Silicone</h2>
                <% if Product.first %>
                <% Product.first.product_articles.each do |article| %>
                <h2 style="font-size: 14px; color:#0092a8; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> <%=link_to article.title, product_article_path(id: article.id), {style: "color:#0092a8"} %></h2>
                <% end %>
                <% end %>
              </div>


          

          </div>
        <p  style="color:#75ff02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
      </p></br>
        </div>
      </div>
    </div></br>







<footer id="como_funciona" style="text-align: center; color:#fff; background-color: #0092a8; margin-top: 0px">
      <div class="container"></br>

        <div class="col-sm-12" style="color: #fff; text-align: center">
          <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

        </div></br></br>

        <div class="team">
          <div class="row" style="margin-top: -80px">

            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#ffbc02;  font-size: 16px; height: 50px; font-weight: bold">Acesso rápido</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Como Funciona</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Eventos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Empréstimo para Fertilização</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Consórcio para Fertilização</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Fertilização Parcelada</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Notícias Fertilização</h2>

              </div>
  

          </div>




            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#ffbc02;  font-size: 16px; height: 50px; font-weight: bold">Tratamentos</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Fertilização in Vitro</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Taxa de Sucesso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Inseminação Artificial</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Relação Sexual Programada</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Transferência de Embrião Congelado</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Évulos</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Sémen</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Embrião</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Barriga de Aluguel</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Casais Homoafetivos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preservação de Fertilidade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Congelamento de Óvulos</h2>

              </div>
  

          </div>


            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#ffbc02;  font-size: 16px; height: 50px; font-weight: bold">Tratamentos</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Fertilização in Vitro</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Taxa de Sucesso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Inseminação Artificial</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Relação Sexual Programada</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Transferência de Embrião Congelado</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Évulos</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Sémen</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Embrião</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Barriga de Aluguel</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Casais Homoafetivos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Preservação de Fertilidade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Congelamento de Óvulos</h2>

              </div>
  

          </div>


    <div class="col-md-12 Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 PlásticaNaWeb, Inc. Todos os direitos reservados.
        
    </div>





        </div></br>
      </div>
    </footer>
















