<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136930452-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136930452-1');
</script>


    <title>Antes Depois e Preço Lipoaspiração Lipo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://ec2-18-222-94-248.us-east-2.compute.amazonaws.com" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
          <p style="font-size: 40px; text-transform: lowercase; color: #0a2644; font-weight: bold; 
"> plástica </p>
          <h4 style="text-align: right; margin-top: -10px; color:#75ff02;font-weight: bold"> NA WEB </h4>
          <%# image_tag(("http://ec2-18-217-155-28.us-east-2.compute.amazonaws.com/assets/logo_liquibay_branco-fd00d8005b22ef903bbf567ea3de8e28b5d9548e29a827a14fd3920f7ed6ab8f.png"), style:"width:235px; height: 50px") %>
        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#0a2644; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#0a2644; font-weight:bold; font-size:16px; ">Plástica Parcelada</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#0a2644; font-weight:bold">Eventos</a></p>
          </li>          

          <li class="nav-item" style="margin-right: 30px; ">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Antes Depois</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          


        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%" >
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://lovelacemedicalgroup.com/sites/default/files/service-images/plastic_surgery_iStock-685846144.jpg') ; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";" >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0a2644">
                    </div>
                  </div>
                </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h1 class="mt-3" style="color: #0a2644; font-weight: bold;font-size: 27px; text-align: left;"> Antes e Depois e Preço - Lipoaspiração</h1>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#0a2644;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h3 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">De R$6.615 até R$28.000(Tudo)</h3>
                        <h4 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px; margin-top: -12px">Depende do cirurgião escolhido</h4>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Plástica parcelada 36x</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Consulta Gratuíta</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero ficar mais bonita",  {class: 'btn btn-rose mt-4', style: "background-color:#02dbff; color:#0a2644; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        
        

<div class="container">
  <div class="row">




<div class="col-md-4">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">photo_came</i>
      </div>
      <h4 class="card-title">Fotos</h4></br></br>
    </div>
   

   <%= render "antes_depois_lipoaspiracao" %>


  </div>          
</div>



<div class="col-md-8">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">info</i>
      </div>
      <h4 class="card-title">Informações</h4></br></br>
    </div>
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">
        

<h2><strong>Quanto custa uma cirurgia plástica de Lipoaspiração para redução de medidas? </strong></h2>
<p>O preço da lipo varia de R$6.6615 a R$28.000. Tudo vai depender do cirurgião plástico da Lipoaspiração. Se você quer um cirurgião plástico de Lipoaspiração pelo preço de R$6.615, nós temos. Agora se você quer um cirurgião plástico que cobra R$28.000 para fazer sua lipoaspiração, nós também temos. Temos excelentes cirurgiões plásticos que cobram em torno de R$12.000, já incluindo preço de hospital e outras despesas (preço total). Você pode agendar uma consulta gratuíta para conhecer um cirurgião plástico para fazer sua lipoaspiração. Nossas clínicas possuem uma excelente infra-estrutura, são modernas, bonitas e transmitem uma sensação de bem estar e segurança para as pacientes! A chance de você gostar é bem alta, pois trabalhamos apenas com cirurgiões plástico com reputação elevada. O bom é que conosco você pode conversar com vários cirurgiões plásticos gratuitamente até tomar a sua decisão!</p></br>



<p>A Lipoaspiração irá alterar somente seu contorno corporal e não deve ser encarada como método de emagrecimento. Por isso mantenha sempre um estilo de vida saudável com uma alimentação equilibrada e a prática de atividades físicas.</p>
<p>As informações que se seguem irão te ajudar as esclarecer as principais dúvidas sobre a Lipoaspiração</p>
<h2>Existe diferença e se sim qual é a diferença entre a lipoescultura e a lipoaspiração? </h2>
<p>A Lipoaspiração é o nome dado a uma técnica que através da sucção retira o excesso de gordura de uma determinada região do corpo. Por sua vez, a Lipoaspiração ESCULTURA utiliza esta gordura retirada para a injeção em outras partes do corpo para preencher depressões ou modelando. Chamamos de enxerto de gordura.</p>
<h2>Quando a lipoaspiração é indicada? </h2>
<p>a) Pacientes com boa saúde e com pele firme e elástica.<br>
b) Pacientes que tentaram eliminar a gordura através de dietas, exercícios e que ainda continuam com alguns depósitos.<br>
c) Pacientes com áreas distintas de gordura localizada, desproporcionais ao restante do corpo.<br>
d) Pacientes um pouco acima do peso e com expectativas reais de resultado.<br>
e) Pacientes que entendem que a Lipoaspiração não substitui a real perda de peso.</p>
<h3>Quantos litros de gordura é possível eliminar / tirar numa lipoaspiração? </h3>
<p>Nunca programamos uma cirurgia pelo volume a ser retirado e sim pela eliminação do depósito de gordura a ser tratado, com definição do contorno corporal, porém existe sim uma porcentagem segura que não deve ser excedida para segurança do paciente.</p>


<h2>Quanto tempo demora para ter os resultados definitivos da lipoaspiração? </h2>
<p>O resultado final de uma Lipoaspiração é visto após 3 meses, e varia de acordo com o paciente e seus cuidados no pós-operatório (drenagens linfáticas).</p>

<h2>Como é o pós operatório da lipoaspiração? </h2>
<p>Varia muito de pessoa para pessoa, e depende também do volume e das áreas aspiradas, mas em até menos de 7 dias o paciente poderá retornar às suas atividades. O desconforto maior e a dor acontecem nos dois primeiros dias. Após o início das drenagens linfáticas a melhora é importante. O edema (inchaço) e as equimoses (manchas roxas) persistem por até 15 a 21 dias. Este prazo pode ser maior ou até menor dependendo de cada paciente.</p>


<h2>Quais são os riscos da lipoaspiração? </h2>
<p>Cada corpo reage de maneira diferente. A grande maioria dos pacientes atinge um resultado ideal, enquanto outros podem apresentar resultados negativos, em maiores ou menores proporções, independente do trabalho médico ter sido feito com maior zelo, perícia e cautela. São eles:<br>
a) Irregularidades na pele (mais comuns em pacientes com pele flácida)<br>
b) Necrose de pele, por deficiência circulatória (sendo o tabagismo sua maior causa).<br>
c) Embolia pulmonar gordurosa (raríssima).<br>
d) Perfuração de vísceras (raríssima).<br>
e) Flacidez de pele na região Lipoaspirada (pior em pacientes que já se apresentam antes da cirurgia com certo grau de flacidez).</p>

<h2>Como funciona e qual é a anestesia da lipoaspiração</h2>
<p>Anestesia local, bloqueio (raqui ou peri dural) a geral. Irá depender das áreas aspiradas e se haverá associação com outras cirurgias.</p>

<h2>Como é o pós operatório da lipoaspiração? </h2>
<p>a) Repouso relativo por pelo menos 03 dias.<br>
b) Alimentação equilibrada e ingerir muito líquido e isotônicos.<br>
c) Usar a cinta e espuma (placa contensora) por 30 dias.<br>
d) Realizar drenagens linfáticas a partir do 4°dia de pós-operatório.<br>
e) Evitar manter-se deitada ou sentada por muito tempo. Movimentar as pernas caminhando a cada 2 horas pelo menos.</p>
<h3>Como é feita o procedimento de avaliação da lipoaspiração? </h3>
<p>Na avalição médica, além dos exames de saúde, o médico vai entender o que o paciente deseja com a <strong>lipoaspiração</strong>, sendo essencial para que não haja decepções posteriores.</p>
<p>Uma das dúvidas mais frequentes nessa etapa refere-se à diferença entre lipoaspiração e lipoescultura. A primeira consiste na técnica que por meio da sucção retira o excesso de gordura de uma determinada região do corpo.</p>
<p>A lipoescultura, por sua vez, utiliza essa gordura retirada para a injeção em outras partes do corpo para preencher depressões ou fazer uma modelagem, sendo chamada de enxerto de gordura.</p>
<p>Nessa fase, a partir dos desejos do paciente, é definido qual o melhor método e em quais regiões do corpo ele será realizado. Em geral, o procedimento pode ser feito em qualquer área do corpo com gordura localizada, sendo as mais comuns:</p>
<ul>
<li>coxas;</li>
<li>abdômen;</li>
<li>flancos;</li>
<li>costas;</li>
<li>braços;</li>
<li>pescoço (papada);</li>
<li>pernas</li>
</ul>
<p>A realização do procedimento em mais de uma região deve ser conversada com o cirurgião plástico especialista considerando sangramento, logística e tempo de cada técnica.</p>
<p>Assim, destaca-se que a lipoaspiração pode ser usada para combater as gorduras localizadas e proporcionar um contorno corporal mais bem definido. A técnica, no entanto, não é indicada para pacientes que estejam muito acima do peso e não tem como objetivo o emagrecimento.</p>

<h2>Como é e como funciona o procedimento da cirurgia plástica de lipoaspiração? </h2>
<p>O primeiro aspecto da cirurgia plástica é a anestesia que será administrada. No caso da lipoaspiração, o anestesista em conjunto com o cirurgião pode optar pela local com sedação, bloqueio (raqui ou peridural) ou geral. A definição depende das áreas aspiradas e se haverá associação com outros procedimentos.</p>
<p>Muitos pacientes interessados em realizar a lipoaspiração desejam saber previamente quantos quilos poderão ser retirados durante o procedimento.</p>
<p>No entanto, a cirurgia nunca deve ser planejada com base no volume a ser retirado e sim de acordo com a eliminação do depósito de gordura a ser tratado, com definição do contorno corporal.</p>
<p>De acordo com as indicações de segurança do procedimento o limite a ser retirado deve ficar entre 5% e 7% do peso corporal do paciente, não devendo exceder essa quantidade por questões estéticas e de segurança.</p>
<p>O cirurgião realizará uma incisão no local a ser aspirado e com o auxílio de cânulas, a gordura localizada passará por uma sucção. A lipoaspiração é um procedimento bastante complexo e, como tal, pode ocasionar complicações.</p>
<p>Cada corpo reage de maneira diferente. A maioria dos pacientes obtém o resultado desejado, entretanto outros podem apresentar resultados negativos, em maiores ou menores proporções, independente do trabalho médico ter sido feito com maior zelo, perícia e cautela. Algumas ocorrências são:</p>
<ul>
<li>irregularidades na pele (mais comuns em pacientes com pele flácida);</li>
<li>necrose de pele por deficiência circulatória (sendo o tabagismo a causa mais frequente);</li>
<li>embolia pulmonar gordurosa (raríssima);</li>
<li>perfuração de vísceras (raríssima);</li>
<li>flacidez de pele na região lipoaspirada, mais comum em pacientes que já possuíam flacidez antes do procedimento.</li>
</ul>
<p>Apesar dos riscos inerentes a qualquer procedimento cirúrgico, a realização da lipoaspiração por um profissional de confiança e especializado reduz os riscos, assim como os cuidados adequados no pré e pós-operatório.</p>
<h3>Quais os cuidados no pós-operatório?</h3>
<p>O pós-operatório da lipoaspiração pode variar de pessoa para pessoa e depende também do volume de gordura retirada e das áreas aspiradas. Em geral, o paciente pode retornar às atividades cotidianas em até sete dias.</p>
<p>O desconforto maior e a dor acontecem nos dois primeiros dias. O edema (inchaço) e as equimoses (manchas roxas) persistem por até 15 a 21 dias, sendo que esse prazo pode variar dependendo de cada paciente.</p>
<p>Para um pós-operatório melhor é indicado que sejam realizadas sessões de drenagem linfática a partir do 4º dia do pós-operatório. Essa técnica ajuda na eliminação dos líquidos retidos no organismo, diminui o inchaço, alivia os desconfortos e reduz os hematomas, contribuindo enormemente na recuperação do paciente.</p>
<p>Outros cuidados que devem ser tomados pelo paciente visando um pós-operatório mais adequado são:</p>
<ul>
<li>repouso relativo por pelo menos três dias;</li>
<li>alimentação equilibrada e ingerir muito líquido e isotônicos;</li>
<li>usar a cinta e espuma (placa contensora) por 30 dias;</li>
<li>evitar manter-se deitado ou sentado por muito tempo, movimentando as pernas com caminhadas de aproximadamente 2 horas diárias.</li>
</ul>
<p>Os cuidados no pós-operatório são determinantes para resultados mais satisfatórios com a lipoaspiração, sendo que a aparência definitiva pode ser vista após três meses, em média, de acordo com o paciente e os cuidados tomados.</p>
<p>A lipoaspiração é uma técnica complexa, mas bastante segura e que deve ser executada por um cirurgião plástico especializado para obter melhores resultados. A avaliação e alinhamento das expectativas são fases fundamentais para uma maior satisfação com o procedimento.</p>











      </div>
    </div>
  </div>          
</div>



  </div>
</div>
      
</div>
  

    <!-- Sart Modal -->
 










     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0a2644" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#75ff02; text-align: left; font-size: 40px">PlásticaNaWeb Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre cirurgias plásticas e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Plástica. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        






    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Plástica Parcelada 36x</h2>
                <p style="height: 150px; font-size: 17px; color:#616a74;"> Plástica parcelada em até 36x. Temos produtos como financiamento plástica, consórcio plástica e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor Valor na Plástica</h2>
                <p style="height: 150px; font-size: 16px; color:#616a74">Batemos seu preço. A Plástica que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor cirurgião plástico</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74">Você encontra o melhor cirurgião plástico. Compare preços, veja fotos de antes e depois de vários cirurgiões, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#75ff02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com cirurgiões plásticos de excelente reputação.
      </p></br>
        </div>
      </div>
    </div>





<footer class="Footer Footer--global" style="background-color: #0a2644; line-height: 70px">
    <div class="container" >
        <div class="row" ">
            <div style="height: 5px">
                <a>
                    <svg class="Iperceptions--icon Icon"><use xlink:href="/build/sprite-critical.svg?c0e4f53c7fb86c64dea3b33c9fc4fbb6#speechBubblePink"></use></svg>
                </a>
            </div>
        </div>

            <div class="col-sm-12" style="color: #fff; text-align: center">
              <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

            </div></br></br>
        <div class="row" style="margin-top: -120px">
            <div class="col-sm-3" style="color: #fff">
                
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Acesso Rápido</h5>
                <nav style="color: #0a2644; margin-top: -120px" >
                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px;">Como Funciona</h2></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Eventos</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">antes e depois cirurgia plástica</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Empréstimo para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Consórcio para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Plástica Parcelada</a></h2>
                  </li>                    


                </nav>


                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02; margin-top: 100px" >Perguntas</h5>
                <nav style="color: #0a2644; margin-top: -120px " >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px">Quanto custa para colocar silicone</h2></p>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Preço para colocar botox no rosto</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Qual valor da cirurgia plástica no nariz</a></h2>
                  </li>                                   

                </nav>

            </div>

            <div class="col-sm-3" style="color: #fff">
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Procedimentos</h5>
                <nav style="color: #0a2644; margin-top: -120px" >

                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/206" style="color:#fff;font-size: 14px">Colocar Silicone</a></h2>
                  </li>          
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/207" style="color:#fff;font-size: 14px">Lipoaspiração</a></h2>
                  </li>                            

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/208" style="color:#fff;font-size: 14px">Toxina Botulínica</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/209" style="color:#fff;font-size: 14px">Preenchimento Facial</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/210" style="color:#fff;font-size: 14px">Rinoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/211" style="color:#fff;font-size: 14px">Lifting Facial</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/212" style="color:#fff;font-size: 14px">Mamoplastia Redutora</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/213" style="color:#fff;font-size: 14px">Mastopexia com Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/214" style="color:#fff;font-size: 14px">Mastopexia sem Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/215" style="color:#fff;font-size: 14px">Abnominoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/216" style="color:#fff;font-size: 14px">Cirurgia Íntima</a></h2>
                  </li>               

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Valor / Preço Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Antes e Depois Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois  Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>


        </div>
    </div>

                <div>
        </div>
    

    <div class="Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 PlásticaNaWeb, Inc. Todos os direitos reservados.
        
    </div>

</footer>










  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="./assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // the body of this function is in assets/js/now-ui-kit.js
      nowuiKit.initSliders();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>











