<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136930452-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136930452-1');
</script>
    
    <title>Inseminação artificial: O que é, como funciona a fertilização e quanto custa
</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://ec2-18-222-94-248.us-east-2.compute.amazonaws.com" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
          <p style="font-size: 40px; text-transform: lowercase; color: #0a2644; font-weight: bold; 
"> grávida </p>
          <h4 style="text-align: right; margin-top: -10px; color:#f79d94;font-weight: bold"> NA WEB </h4>
          <%# image_tag(("http://ec2-18-217-155-28.us-east-2.compute.amazonaws.com/assets/logo_liquibay_branco-fd00d8005b22ef903bbf567ea3de8e28b5d9548e29a827a14fd3920f7ed6ab8f.png"), style:"width:235px; height: 50px") %>
        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #f79d94; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#0a2644; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#0a2644; font-weight:bold; font-size:16px; ">Plástica Parcelada</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#0a2644; font-weight:bold">Eventos</a></p>
          </li>          

          <li class="nav-item" style="margin-right: 30px; ">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Antes Depois</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          


        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%" >
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://cdn.glowing.com/fertility-program/website/img/gfp-banner-background.e1ca04a7.jpg') ;" >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0a2644">
                    </div>
                  </div>
                </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h1 class="mt-3" style="color: #fff; font-weight: bold;font-size: 27px; text-align: left;">Inseminação artificial - Preço, o que é, quais as chances e mais</h1>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#fff;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h3 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">De R$7.155 até R$30.000(Tudo)</h3>
                        <h4 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px; margin-top: -12px">Depende da clínica de fertilização</h4>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">Fertilização in Vitro parcelada 36x</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">Consulta Gratuíta</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #f79d94; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero engravidar",  {class: 'btn btn-rose mt-4', style: "background-color:#02dbff; color:#0a2644; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        
        

<div class="container">
  <div class="row">





<div class="col-md-4">
  <div class="card ">
    <div class="col-md-12" style="margin-left: 0px; text-align: center"></br>
    
   

      <div class="col-md-12 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 0px"></br>

      <h3 style="color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

        <%= form_for ContactMessage.new do |f| %>




          <div class="col-md-12 form-group has-default bmd-form-group" >
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333;">
                  <i class="material-icons" style="color:#fff">face</i>
                </span>
              </div>
              <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
            </div>
          </div> </br>                  
          <div class="col-md-12  form-group has-default bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333">
                  <i class="material-icons" style="color:#fff">mail</i>
                </span>
              </div>
              <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
            </div></br>                  
          </div>
          <div class="col-md-12  form-group has-default bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333">
                  <i class="material-icons"style="color:#fff">phone</i>
                </span>
              </div>
              <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
            </div>
          </div></br>                  



          <div class="text-center" style="margin-top: -20px">
            <%= f.submit "Quero engravidar",  {class: 'btn btn-rose mt-4', style: "background-color:#f79d94; color:#0a2644; font-weight:bold"} %></br></br>

          </div>

        <% end %>




        </div>


      </div>   





  </div>          
</div>




<div class="col-md-8">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #f79d94">info</i>
      </div>
      <h4 class="card-title">Informações</h4></br></br>
    </div>
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">
        


<h2>Barriga de aluguel no Brasil: como funciona e quais os limites?</h2>

<p> Por aqui, o processo é bem diferente do usado nos EUA por famosas como Kim Kardashian, Ellen Pompeo e Sarah Jessica Parker</p>

<p>Nos Estados Unidos, recorrer a uma barriga de aluguel para realizar o sonho de ser mãe ou pai é algo sem impedimentos. Todo o processo é controlado por agências e não há restrições quanto a quem pode gerar o(s) bebê(s) de quem; havendo um acordo formal – e normalmente financeiro – entre os pais biológicos e a mulher que se propõe a engravidar por eles, tudo é feito tranquilamente desde a inseminação artificial até a entrega do(s) bebê(s).

Essa facilidade faz com que não seja raro sabermos de casos de pessoas famosas que optam por essa modalidade de gestação por lá. Embora ainda não tenham falado oficialmente a respeito, Kim Kardashian e Kanye West estão esperando o terceiro filho por barriga de aluguel. Antes deles, Ellen Pompeo (de “Grey’s Anatomy”), Sarah Jessica Parker (de “Sex and the City”), Lucy Liu (de “As Panteras”) e Ricky Martin foram algumas das celebridades que formaram ou aumentaram a família dessa forma.

No Brasil, o processo é bem diferente e ainda está encontrando seu caminho. Conversamos com as advogadas Claudia Nakano, especialista em direito à saúde do Nakano Advogados Associados, e Chyntia Barcellos, especialista em família, sucessões e consultora em diversidade, com o ginecologista e obstetra Adelino Amaral, membro da Câmara Técnica de Ginecologia e Obstetrícia – Núcleo de Reprodução Assistida do Conselho Federal de Medicina (CFM) e diretor regional Brasil da Rede Latinoamericana de Reprodução Assistida (Redlara), e com Danielle Figueredo, que foi a barriga solidária que permitiu que a amiga Gabriela Carlos e o marido realizassem o sonho de ter filhos, para entender tudo sobre como funciona a barriga de aluguel em nosso país.

<h3> Barriga de aluguel, não: o correto é gestação de substituição</h3>

<p> Embora o nome popular desse processo seja barriga de aluguel (já foi até nome de novela, em 1990), ele não poderia estar mais distante da realidade brasileira. Isso porque é proibido cobrar para emprestar o útero para uma gestação ou querer pagar para convencer uma mulher a fazer isso. O termo correto por aqui é gestação de substituição. Também pode ser barriga solidária, para ficar mais simples.

Não existem leis que guiem o processo de gestação de substituição ou barriga solidária no Brasil: tudo é regido por resoluções do CFM que são seguidas pela Justiça. “Como o CFM sempre foi muito avançado e vanguardista nessa questão, o Conselho Nacional de Justiça (CNJ) acompanha suas decisões. Mas a legislação brasileira em si ainda é muito conservadora”, afirma Chyntia.

As resoluções sobre gestação de substituição vêm sendo criadas e modernizadas desde 1992. A mais recente, de 2015, é a que vale atualmente.

<h3> O que pode e o que não pode em barriga solidária no Brasil</h3>
<p>O ponto principal do processo de gestação de substituição no Brasil é que ele não pode ser tratado como uma transação comercial, ou seja, não pode envolver dinheiro. Além disso, a resolução 2121, de 2015, determina que familiares de até quarto grau (primas) da mulher ou do homem podem ceder o útero para uma gestação e fazer uma FIV (fertilização in vitro) em qualquer clínica de reprodução assistida, sem necessidade de uma autorização do CFM.</p>

“Em situações de gestação de substituição em que não haja parentesco é preciso entrar com um processo e conseguir a autorização da CFM para que a FIV seja feita. Será analisado o histórico do caso e das pessoas envolvidas. Todas, tanto as mulheres quanto seus parceiros ou parceiras, caso eles existam, terão que assinar documentos atestando que estão de pleno acordo para a realização da gestação, e haverá avaliação psicológica”, explica Adelino. “Sem a autorização, nenhuma clínica séria realizará o procedimento. O que guia a gestação de substituição é a ética”.

Fora isso, há dispositivos legais que desestimulam as tentativas de fazer o procedimento por baixo dos panos, como explica Claudia: “O artigo 3º do Código Civil veta a cessão de órgãos e o artigo 15º determina que ninguém pode ser constrangido a um tratamento médico ou cirurgia. Os dois artigos, de certa forma, podem ser usados para coibir uma barriga de aluguel, a comercialização do serviço”.

Um último aspecto burocrático é o registro do(s) bebê(s). Independentemente da origem dos embriões, a Declaração de Nascido Vivo via de regra sai no nome da parturiente, ou seja, da mulher que emprestou a barriga. Para a certidão de nascimento ser feita no nome dos pais biológicos, bastará apresentar no cartório documentos que comprovem a legalidade do procedimento. “A lei de registros, de 1973, não prevê gestação de substituição, mas o CNJ faz valer as resoluções do CFM”, afirma Claudia. E os cartórios seguem as determinações do CNJ.

<h3> “O bebê gerado na barriga solidária não é doado, ele é devolvido”</h3>
As amigas Danielle Figueredo e Gabriela Carlos passaram por todo o processo do CFM para que Dani pudesse gestar os bebês de Gabi. “Quando decidimos realmente fazer a barriga solidária, a primeira coisa que combinamos foi que precisaríamos ter um advogado para fazer tudo certinho”, diz Dani.

O caso delas foi bem interessante. Sabendo que Gabi tinha muita dificuldade para engravidar e que a fila de adoção estava complicada para que a amiga e o marido conseguissem formar uma família, Dani uma noite sonhou que precisava ceder seu útero para gestar um bebê para os dois. Dani já era mãe de José e de Bento, então com 5 e 3 anos, e conversou com o marido sobre o assunto. Ele embarcou no projeto e Dani fez a oferta para Gabi. Duas semanas depois – período de que precisaram para “digerir” a proposta tão generosa –, Gabi e o marido toparam.

Os quatro, então, seguiram todos os trâmites legais. Fizeram todas as avaliações psicológicas e se comprometeram a cumprir, cada lado, a sua parte: Dani e o marido a fazer todos os exames de pré-natal necessários e a não negligenciar nenhum aspecto da gestação, Gabi e o marido a arcar com os custos da FIV, dos exames e do parto. Iniciaram o processo em agosto de 2014 e, em 24 de dezembro daquele ano, fizeram a FIV em Recife. “Foi rápido. Acho que porque nossas intenções eram boas e isso estava bem claro”, afirma Dani.

No dia 15 de agosto de 2015, depois de uma gravidez tranquila passada em Porto Alegre e em que Gabi viajou mensalmente para acompanhar todos os exames do pré-natal, nasceram os gêmeos Martin e Pilar.

“Fiquei com uma sensação de missão cumprida”, lembra Dani. “Durante a gravidez, muita gente me perguntava como eu teria coragem de entregar os bebês para Gabi. Acontece que o bebê gerado na barriga solidária não é doado, ele é devolvido. Quando Martin e Pilar voltaram para Gabi, estavam indo para os braços da mãe deles. Eu os carreguei, mas ela é a mãe”.

A amizade, que antes acontecia mais por meio de amigos em comum, ficou forte. Dani é madrinha de Pilar e as famílias mantêm um vínculo grande.

<h3> A realidade nem sempre é tão ética assim</h3>

Apesar de ser um processo relativamente simples, a prática de barriga solidária no Brasil muitas vezes acontece sem respeitar os limites impostos pelas resoluções do CFM. Não é nem um pouco difícil encontrar pela internet mulheres disponibilizando seus úteros por valores que variam de R$ 5 mil e R$ 30 mil e, na outra ponta, casais oferecendo dinheiro a mulheres com perfis sócio-econômicos que os agradem.


“Alguma clínica pode fazer o procedimento, mas se houver denúncia, ela sofrerá punições e multas por atuação antiética”, afirma Adelino. Criminalmente, no entanto, é difícil haver consequências. “Só haverá punição criminal se alguma paciente recorrer à Justiça”, esclarece Claudia.


Além da questão ética, o problema de procedimentos irregulares é que todas as partes ficam completamente desprotegidas. “É errado e muito arriscado. Um casal pode perder todo seu dinheiro por má-fé de quem diz que quer ajudar, uma mulher que se oferece para ser barriga de aluguel pode ser enganada por desconhecidos. E nenhum deles tem a quem reclamar, porque a lei é omissa nesse assunto e não prevê o que fazer”, explica Claudia.

Havendo vontade ou necessidade de partir para uma gestação de substituição, portanto, o conselho é que a lei seja seguida, obviamente. “É um processo simples. Tanto que é justamente a burocracia da adoção no Brasil que tem empurrado muitos casais a procurarem a barriga solidária nos últimos cinco anos”, finaliza Chyntia.




      </div>
    </div>
  </div>          
</div>



  </div>
</div>
      
</div>
  

    <!-- Sart Modal -->
 










     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0a2644" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#f79d94; text-align: left; font-size: 40px">GrávidaNaWeb Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre tratamentos para engravidar e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Plástica. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        





    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Plástica Parcelada 36x</h2>
                <p style="height: 150px; font-size: 17px; color:#616a74;"> Plástica parcelada em até 36x. Temos produtos como financiamento plástica, consórcio plástica e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor Valor na Plástica</h2>
                <p style="height: 150px; font-size: 16px; color:#616a74">Batemos seu preço. A Plástica que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor cirurgião plástico</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74">Você encontra o melhor cirurgião plástico. Compare preços, veja fotos de antes e depois de vários cirurgiões, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#f79d94; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com cirurgiões plásticos de excelente reputação.
      </p></br>
        </div>
      </div>
    </div>







    
<div id="como_funciona" style="text-align: center; color:#fff; background-color: #f79d94; margin-top: -30px">
      <div class="container">
        <h2 class="title description" style="color:#0a2644">Notícias Cirurgia Plástica</h2></br>
        <div class="team">
          <div class="row" style="margin-top: -80px">

            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#0a2644;  font-size: 16px; height: 50px; font-weight: bold">Peito de Silicone</h2>
                <% if Product.first %>
                <% Product.first.product_articles.each do |article| %>
                <h2 style="font-size: 14px; color:#0a2644; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> <%=link_to article.title, product_article_path(id: article.id), {style: "color:#0a2644"} %></h2>
                <% end %>
                <% end %>
              </div>


          

          </div>
        <p  style="color:#75ff02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
      </p></br>
        </div>
      </div>
    </div></br>







<footer id="como_funciona" style="text-align: center; color:#fff; background-color: #0a2644; margin-top: 0px">
      <div class="container"></br>

        <div class="col-sm-12" style="color: #fff; text-align: center">
          <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

        </div></br></br>

        <div class="team">
          <div class="row" style="margin-top: -80px">

            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#f79d94;  font-size: 16px; height: 50px; font-weight: bold">Acesso rápido</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Como Funciona</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Eventos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Empréstimo para Fertilização</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Consórcio para Fertilização</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Fertilização Parcelada</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Notícias Fertilização</h2>

              </div>
  

          </div>




            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#f79d94;  font-size: 16px; height: 50px; font-weight: bold">Tratamentos</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Fertilização in Vitro</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Taxa de Sucesso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Inseminação Artificial</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Relação Sexual Programada</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Transferência de Embrião Congelado</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Évulos</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Sémen</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Embrião</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Barriga de Aluguel</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Casais Homoafetivos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preservação de Fertilidade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Congelamento de Óvulos</h2>

              </div>
  

          </div>


            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#f79d94;  font-size: 16px; height: 50px; font-weight: bold">Tratamentos</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Fertilização in Vitro</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Taxa de Sucesso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Inseminação Artificial</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Relação Sexual Programada</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Transferência de Embrião Congelado</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Évulos</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Sémen</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Embrião</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Barriga de Aluguel</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Casais Homoafetivos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Preservação de Fertilidade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Congelamento de Óvulos</h2>

              </div>
  

          </div>


    <div class="col-md-12 Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 PlásticaNaWeb, Inc. Todos os direitos reservados.
        
    </div>





        </div></br>
      </div>
    </footer>
















