<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136930452-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136930452-1');
</script>


    <title>Antes Depois e Preço blefaroplastia cirurgia palpebras</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://ec2-18-222-94-248.us-east-2.compute.amazonaws.com" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
          <p style="font-size: 40px; text-transform: lowercase; color: #0a2644; font-weight: bold; 
"> plástica </p>
          <h4 style="text-align: right; margin-top: -10px; color:#75ff02;font-weight: bold"> NA WEB </h4>
          <%# image_tag(("http://ec2-18-217-155-28.us-east-2.compute.amazonaws.com/assets/logo_liquibay_branco-fd00d8005b22ef903bbf567ea3de8e28b5d9548e29a827a14fd3920f7ed6ab8f.png"), style:"width:235px; height: 50px") %>
        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#0a2644; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#0a2644; font-weight:bold; font-size:16px; ">Plástica Parcelada</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#0a2644; font-weight:bold">Eventos</a></p>
          </li>          

          <li class="nav-item" style="margin-right: 30px; ">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Antes Depois</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          


        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%" >
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://lovelacemedicalgroup.com/sites/default/files/service-images/plastic_surgery_iStock-685846144.jpg') ; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";" >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0a2644">
                    </div>
                  </div>
                </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h1 class="mt-3" style="color: #0a2644; font-weight: bold;font-size: 27px; text-align: left;"> Antes e Depois e Preço - blefaroplastia - cirurgia plástica pálpebras</h1>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#0a2644;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h3 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">De R$4.815 até R$30.000(Tudo)</h3>
                        <h4 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px; margin-top: -12px">Depende do cirurgião escolhido</h4>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Plástica parcelada 36x</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Consulta Gratuíta</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero ficar mais bonita",  {class: 'btn btn-rose mt-4', style: "background-color:#02dbff; color:#0a2644; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        
        

<div class="container">
  <div class="row">




<div class="col-md-4">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">photo_came</i>
      </div>
      <h4 class="card-title">Fotos</h4></br></br>
    </div>
   

   <%= render "antes_depois_blefaroplastia" %>


  </div>          
</div>



<div class="col-md-8">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">info</i>
      </div>
      <h4 class="card-title">Informações</h4></br></br>
    </div>
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">
        



<h2>Cirurgia estética das pálpebras</h2>
<p>A <strong>Blefaroplastia</strong> trata o excesso de pele, bolsas de gordura e flacidez muscular da região das pálpebras, podendo, em certos casos, melhorar o aspecto funcional além de estético. Não acarreta prejuízo funcional às pálpebras, desde que a evolução pós-operatória seja normal. As perguntas mais comuns quanto a esta cirurgia são:</p>
<h3>Em que idade é indicada a fazer a Blefaroplastia?</h3>
<p>Não existe uma idade ideal para a Blefaroplastia e sim indicação para a correção do defeito a ser corrigido que poderá ocorrer em qualquer idade.</p>
<h3>Na Blefaroplastia onde se localizam as cicatrizes?</h3>
<p>Como a pele das pálpebras não é espessa, as cicatrizes da Blefaroplastia tendem a ficar bem finas e disfarçadas nos sulcos da pele. Na pálpebra superior ela se mantém escondida no sulco palpebral e na pálpebra inferior, bem abaixo da linha ciliar. Como toda cirurgia, deve ser aguardado o período de amadurecimento da cicatriz (3 meses). Pela sua localização elas podem ser disfarçadas com uma maquiagem leve, desde os primeiros dias.</p>
<h3>Qual a anestesia usada na Blefaroplastia?</h3>
<p>Na Blefaroplastia administramos uma sedação antes da aplicação da anestesia local.</p>
<h3>O pós-operatório da cirurgia de pálpebras dói?</h3>
<p>Geralmente não existe dor na Blefaroplastia. As primeiras 24hs evoluem com um pouco de ardor, mas resolvido com o uso de analgésicos comuns que prescrevemos.</p>
<h3>Na Blefaroplastia os olhos ficam muito inchados e roxos? Por quanto tempo?</h3>
<p>O inchaço e a equimose (manchas roxas) na Blefaroplastia são piores nos primeiros 3 dias, mas varia a cada paciente. Este é o período em que recomendamos o uso de compressas geladas e dormir com travesseiros mais altos evitando assim um aumento do inchaço e ajudando na redução das manchas.</p>
<h3>Quanto tempo ficarei internado após a Blefaroplastia?</h3>
<p>Cerca 3 a 6 horas após a cirurgia.</p>
<h3>Quanto tempo dura a cirurgia de pálpebras?</h3>
<p>Geralmente, em torno de 1 h.</p>
<h3>Em quanto tempo terei o resultado definitivo da Blefaroplastia?</h3>
<p>Após o 1° mês somente, mas irá variar a cada caso, dependendo da evolução do inchaço e cicatrização de cada paciente.</p>
<h3>Os olhos ficarão fechados após a cirurgia de pálpebras?</h3>
<p>Não. Não usamos curativos oclusivos na Blefaroplastia, apenas recomendamos a colocação de compressas frias, várias vezes ao dia, para evitar o edema acentuado.</p>
<h3>A Blefaroplastia também trata os pés de galinha?</h3>
<p>Não. Neste caso somente o toxina botulínica (Botox®) tem como corrigir. A Blefaroplastia não irá alterar a movimentação da musculatura em torno dos olhos, consequentemente não irá corrigir as rugas causadas pelo movimento (pés de galinha).</p>
<h3>Vou dormir com os olhos entreabertos por muito tempo após a Blefaroplastia?</h3>
<p>Não. Após a cirurgia, onde o excesso de pele é retirado, o inchaço propiciará que a pele fique tensa por alguns dias. Por isso com as drenagens linfáticas e a redução progressiva do inchaço aos poucos os olhos voltam a se fechar.</p>
<h3>Preciso fazer drenagens linfáticas após a cirurgia?</h3>
<p>Sim. Recomendamos inicias as drenagens o quanto antes para a regressão rápida do inchado e remodelação das cicatrizes, evitando assim as retrações.</p>
<h3>Quando os pontos são retirados após a cirurgia de pálpebras?</h3>
<p>Em torno de 3 a 5 dias. Os pontos são extremamente finos e dados internamente, mas devem ser retirados para evitarmos reações inflamatórias e consequentemente cicatrizações inadequadas.</p>
<h2>RECOMENDAÇÕES PARA A BLEFAROPLASTIA:</h2>
<h3>PRÉ-OPERATÓRIO:</h3>
<p>a) Comunicar-nos qualquer anormalidade que possa lhe ocorrer, quanto ao seu estado geral e inflamações próximas às pálpebras até a véspera da internação.<br>
b) Não fazer maquiagem no dia da internação e retire toda a maquiagem no dia anterior.<br>
c) Trazer óculos escuros.<br>
d) No dia da cirurgia, venha em jejum de 8hs (inclusive de água).<br>
e) Compareça acompanhado (a) para a internação.<br>
f) Evitar medicações que contenham AAS (ácido acetil salicílico) até 15 dias antes da cirurgia.<br>
g) Tome sua medicação anti-hipertensiva normalmente, inclusive no dia da cirurgia (com o mínimo de água possível).</p>
<h3>PÓS-OPERATÓRIO:</h3>
<p>a) Faça compressas com soro gelado (algodão ou gaze embebida), várias vezes ao dia, durante 20 minutos, nos dois primeiros dias no mínimo.<br>
b) Alimentação livre.<br>
c) Use óculos escuros ao se expor ao sol. Evite sol principalmente enquanto estiver com manchas roxas, pois pode manchar a pele.<br>
d) Durma com travesseiros mais altos ou cabeceira elevada na primeira semana, para evitar um inchaço maior.<br>
e) Não traumatize nem “coce” os olhos.<br>
f) É possível retornar às suas atividades normais após 3 dias.<br>
g) Utilize todas as medicações prescritas.</p>
<h3>Quando a cirurgia das pálpebras é indicada?</h3>
<p>Não existe uma idade ideal para realizar a blefaroplastia. A indicação para a correção do defeito poderá ocorrer em qualquer idade, caso o paciente sinta-se incomodado com a aparência ou funcionalidade das pálpebras. Além da idade, outros fatores impactam essa questão, como:</p>
<ul>
<li>exposição solar sem proteção;</li>
<li>consumo excessivo de bebidas alcoólicas, tabaco ou outras drogas;</li>
<li>predisposição genética;</li>
<li>tendência à flacidez corporal etc.</li>
</ul>
<p>Dessa forma, pacientes que por essas razões apresentam um aspecto indesejado na pálpebra podem optar pela realização do procedimento. Ele pode ser feito em homens e mulheres a partir dos 18 anos, desde que haja uma necessidade real e expectativas alinhadas com as possibilidades do procedimento.</p>
<p>A cirurgia contribui para a elevação da autoestima e bem-estar do paciente, entretanto, existem algumas restrições que devem ser conversadas com o cirurgião plástico escolhido, como:</p>
<ul>
<li>ser fumante;</li>
<li>apresentar problemas oculares graves;</li>
<li>ter doenças que possam interferir na realização da técnica ou recuperação, como diabetes e hipertensão;</li>
<li>apresentar alguma infecção em andamento;</li>
<li>pessoas com expectativas não realistas sobre a técnica e que, portanto, não terão as demandas atendidas com o procedimento.</li>
</ul>
<p>A avaliação do quadro do paciente deve ser realizada pelo cirurgião plástico de forma que esses critérios sejam corretamente analisados e determinem se a blefaroplastia é possível e indicada.</p>
<p>Para pacientes que se queixam dos comuns pés de galinha, por exemplo, a blefaroplastia não é a técnica mais recomendada. Nesse caso somente a toxina botulínica (Botox®) pode corrigir o problema.</p>
<p>A cirurgia das pálpebras não altera a movimentação da musculatura em torno dos olhos, consequentemente não vai corrigir as rugas causadas pelo movimento (pés de galinha) ou outras marcas de expressão da região.</p>
<h3>Quais os benefícios dessa técnica?</h3>
<p>A realização da blefaroplastia proporciona diversos benefícios aos pacientes devido aos resultados que podem ser alcançados com a técnica. Entre eles destacam-se:</p>
<ul>
<li>remoção do depósito de gordura que aparenta ser um inchaço nas pálpebras superiores;</li>
<li>retirada do excesso de pele e flacidez que cria dobras prejudicando o contorno natural das pálpebras superiores;</li>
<li>correção de bolsas sob os olhos que possam incomodar o paciente;</li>
<li>correção das pálpebras inferiores caídas;</li>
<li>melhora da autoestima do paciente e rejuvenescimento facial.</li>
</ul>
<p>Ao verificar que a blefaroplastia é o procedimento mais adequado para atender às demandas estéticas ou funcionais o paciente deve buscar um cirurgião plástico de confiança para dar início ao tratamento.</p>
<h3>Quais as recomendações pré-operatórias?</h3>
<p>O cirurgião plástico deverá avaliar o quadro para determinar se a blefaroplastia será suficiente para atender às necessidades do paciente ou se seria indicado realizar um tratamento complementar, como lifting facial ou aplicação de Botox®.</p>
<p>Além disso, o quadro de saúde do paciente deve ser monitorado a partir de exames de sangue e cardíacos, entre outros que o profissional julgar necessário. As recomendações pré-operatórias também são importantes para essa fase e incluem:</p>
<ul>
<li>comunicar qualquer anormalidade que possa ocorrer, quanto ao estado geral e inflamações próximas às pálpebras até a véspera da internação;</li>
<li>não fazer maquiagem no dia da internação e retirar toda a maquiagem no dia anterior;</li>
<li>levar óculos escuros;</li>
<li>fazer jejum de 8 horas no dia da cirurgia, inclusive de água;</li>
<li>comparecer ao centro médico acompanhado para a internação;</li>
<li>evitar medicações que contenham AAS (ácido acetil salicílico) até 15 dias antes da cirurgia;</li>
<li>caso tome medicação anti-hipertensiva, tomá-la normalmente no dia da cirurgia.</li>
</ul>
<p>Outras recomendações podem ser informadas pelo médico ou equipe antes do procedimento devendo ser acatadas para propiciar mais segurança durante a realização da cirurgia e também no pós-operatório.</p>
<h3>Como é realizado o procedimento?</h3>
<p>Para a realização da blefaroplastia, em geral, utiliza-se a anestesia local com sedação para maior conforto do paciente. Em alguns casos, o especialista pode optar pela anestesia geral.</p>
<p>O procedimento tem como objetivo retirar e redistribuir a gordura das pálpebras e também retirar os excessos de pele e músculos, podendo ser realizado tanto nas pálpebras superiores e inferiores conjuntamente, como em apenas uma delas, de acordo com o desejo do paciente e orientação do cirurgião.</p>
<p>A cirurgia pode demorar de uma a duas horas, dependendo da abrangência. Antes das incisões, as linhas são demarcadas para que acompanhem a forma natural dos olhos e para que as cicatrizes fiquem mais discretas, escondidas nas dobras naturais da pele.</p>
<p>No caso das pálpebras superiores, são realizadas pequenas incisões na membrana chamada septo orbital, que fica depois da camada muscular, para chegar aos depósitos de gordura. Assim, é removida uma camada de pele e gordura.</p>
<p>Caso haja necessidade, também é possível remover uma camada de músculo. Posteriormente, é feita a modelagem dos depósitos de gordura e as incisões são fechadas. Podem ser usados pontos absorvíveis ou não, dependendo do caso.</p>
<p>Em alguns casos, o cirurgião pode usar pomadas protetoras e bandagens esterilizadas sobre os pontos visando proteger o local operado e melhorar a cicatrização.</p>
<p>Finalizado o procedimento, o paciente pode permanecer internado entre 3 e 6 horas até recuperar-se da anestesia e ser avaliado pelo médico, podendo receber alta no mesmo dia.</p>
<h3>Como é a recuperação da blefaroplastia?</h3>
<p>Geralmente, a blefaroplastia não é uma cirurgia dolorida, sendo que nas primeiras 24 horas pode ocorrer um pouco de ardor, mas ele é resolvido com o uso de analgésicos comuns prescritos pelo médico. Alguns cuidados nessa fase ajudam para uma recuperação mais rápida e bem sucedida, como:</p>
<ul>
<li>fazer compressas com soro gelado (algodão ou gaze embebida), várias vezes ao dia, durante 20 minutos, nos dois primeiros dias no mínimo;</li>
<li>ter uma alimentação livre, mas balanceada;</li>
<li>usar óculos escuros para expor-se ao sol, evitando-o principalmente enquanto estiver com manchas roxas, pois pode manchar a pele;</li>
<li>dormir com travesseiros mais altos ou cabeceira elevada na primeira semana para evitar um inchaço maior;</li>
<li>evitar traumas e coceiras nos olhos;</li>
<li>utilizar todas as medicações prescritas pelo médico;</li>
<li>realizar drenagens linfáticas para regressão rápida do inchado e remodelação das cicatrizes, evitando assim as retrações;</li>
<li>retomar às atividades normais após 3 dias.</li>
</ul>
<p>O inchaço e a equimose (manchas roxas) na blefaroplastia são piores nos primeiros três dias, mas variam a cada paciente. Na etapa de recuperação não são usados curativos oclusivos que mantém os olhos fechados por longos períodos.</p>
<p>Uma das dúvidas dos pacientes é quanto ao momento de dormir, com receio de que os olhos fiquem entreabertos. Essa situação pode ocorrer nos primeiros dias, pois o inchaço deixará a pele tensa. Com os cuidados corretos, no entanto, há uma redução progressiva do inchaço e os olhos voltam a se fechar.</p>
<p>Os pontos podem ser retirados entre 3 a 5 dias. Eles são extremamente finos e dados internamente, mas devem ser retirados para evitar reações inflamatórias e, consequentemente, cicatrizações inadequadas.</p>
<h3>Quando os resultados blefaroplastia podem ser vistos?</h3>
<p>No geral, os resultados definitivos da blefaroplastia podem ser vistos após o 1° mês somente, mas depende de cada caso devido à regressão do inchaço e cicatrização do paciente.</p>
<p>No que se refere às cicatrizes, elas tendem a ficar bem finas e disfarçadas nos sulcos da pele. Na pálpebra superior ela se mantém escondida no sulco palpebral e na pálpebra inferior, bem abaixo da linha ciliar.</p>
<p>Como toda cirurgia, deve ser aguardado o período de três meses para amadurecimento da cicatriz. Devido à localização elas podem ser disfarçadas com uma maquiagem leve desde os primeiros dias.</p>
<h3>Quanto custa a cirurgia de blefaroplastia?</h3>
<p>Por determinação expressa em Resolução do Conselho Federal de Medicina (CFM) e ainda pelo Regimento Interno da Sociedade Brasileira de Cirurgia Plástica (SBCP), é PROIBIDA a divulgação de preços de cirurgias plásticas e procedimentos estéticos, como a blefaroplastia, em sites na internet.</p>
<p>“<em>Art. 3º: Cabe ao médico, após os procedimentos de diagnóstico e indicação terapêutica, estabelecer o valor e modo de cobrança de seus honorários, observando o contido no Código de Ética Médica, referente à remuneração profissional</em>.” (Resolução CFM 1836/2008).</p>
<p>Para saber o valor da cirurgia, o primeiro passo é agendar uma avaliação presencial. A Dra. Luciana Pepino vai analisar o seu caso e indicar o procedimento adequado para a insatisfação mencionada.</p>
<p>Havendo indicação para a cirurgia, iremos lhe explicar todos os custos e as várias formas de pagamento disponibilizadas.</p>
<h3>Custo Blefaroplastia</h3>
<p>Para saber o valor de sua cirurgia, o primeiro passo é agendar uma avaliação presencial. A Dra. Luciana Pepino irá analisar o seu caso e indicar o procedimento adequado para a insatisfação mencionada. Havendo indicação para a cirurgia, iremos lhe explicar todos os custos e as várias formas de pagamento que disponibilizamos.</p>











      </div>
    </div>
  </div>          
</div>



  </div>
</div>
      
</div>
  

    <!-- Sart Modal -->
 










     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0a2644" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#75ff02; text-align: left; font-size: 40px">PlásticaNaWeb Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre cirurgias plásticas e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Plástica. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        






    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Plástica Parcelada 36x</h2>
                <p style="height: 150px; font-size: 17px; color:#616a74;"> Plástica parcelada em até 36x. Temos produtos como financiamento plástica, consórcio plástica e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor Valor na Plástica</h2>
                <p style="height: 150px; font-size: 16px; color:#616a74">Batemos seu preço. A Plástica que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor cirurgião plástico</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74">Você encontra o melhor cirurgião plástico. Compare preços, veja fotos de antes e depois de vários cirurgiões, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#75ff02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com cirurgiões plásticos de excelente reputação.
      </p></br>
        </div>
      </div>
    </div>





<footer class="Footer Footer--global" style="background-color: #0a2644; line-height: 70px">
    <div class="container" >
        <div class="row" ">
            <div style="height: 5px">
                <a>
                    <svg class="Iperceptions--icon Icon"><use xlink:href="/build/sprite-critical.svg?c0e4f53c7fb86c64dea3b33c9fc4fbb6#speechBubblePink"></use></svg>
                </a>
            </div>
        </div>

            <div class="col-sm-12" style="color: #fff; text-align: center">
              <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

            </div></br></br>
        <div class="row" style="margin-top: -120px">
            <div class="col-sm-3" style="color: #fff">
                
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Acesso Rápido</h5>
                <nav style="color: #0a2644; margin-top: -120px" >
                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px;">Como Funciona</h2></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Eventos</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">antes e depois cirurgia plástica</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Empréstimo para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Consórcio para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Plástica Parcelada</a></h2>
                  </li>                    


                </nav>


                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02; margin-top: 100px" >Perguntas</h5>
                <nav style="color: #0a2644; margin-top: -120px " >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px">Quanto custa para colocar silicone</h2></p>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Preço para colocar botox no rosto</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Qual valor da cirurgia plástica no nariz</a></h2>
                  </li>                                   

                </nav>

            </div>

            <div class="col-sm-3" style="color: #fff">
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Procedimentos</h5>
                <nav style="color: #0a2644; margin-top: -120px" >

                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/206" style="color:#fff;font-size: 14px">Colocar Silicone</a></h2>
                  </li>          
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/207" style="color:#fff;font-size: 14px">Lipoaspiração</a></h2>
                  </li>                            

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/208" style="color:#fff;font-size: 14px">Toxina Botulínica</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/209" style="color:#fff;font-size: 14px">Preenchimento Facial</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/210" style="color:#fff;font-size: 14px">Rinoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/211" style="color:#fff;font-size: 14px">Lifting Facial</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/212" style="color:#fff;font-size: 14px">Mamoplastia Redutora</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/213" style="color:#fff;font-size: 14px">Mastopexia com Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/214" style="color:#fff;font-size: 14px">Mastopexia sem Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/215" style="color:#fff;font-size: 14px">Abnominoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/216" style="color:#fff;font-size: 14px">Cirurgia Íntima</a></h2>
                  </li>               

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Valor / Preço Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Antes e Depois Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois  Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>


        </div>
    </div>

                <div>
        </div>
    

    <div class="Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 PlásticaNaWeb, Inc. Todos os direitos reservados.
        
    </div>

</footer>










  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="./assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // the body of this function is in assets/js/now-ui-kit.js
      nowuiKit.initSliders();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>











