<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138589882-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138589882-1');
</script>
    
    <title>Doação de óvulos: Ovodoação, o que é, como é feita, valor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://ec2-18-222-94-248.us-east-2.compute.amazonaws.com" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
          <p style="font-size: 30px; text-transform: uppercase; color: #ffbc02; font-weight: bold; margin-top: 5px
"> EU </p>          
          <p style="font-size: 30px; text-transform: lowercase; color: #0092a8; font-weight: bold;
"> fértil </p>          
          <%# image_tag(("http://ec2-18-217-155-28.us-east-2.compute.amazonaws.com/assets/logo_liquibay_branco-fd00d8005b22ef903bbf567ea3de8e28b5d9548e29a827a14fd3920f7ed6ab8f.png"), style:"width:235px; height: 50px") %>
        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #ffbc02; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0092a8; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#0092a8; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#0092a8; font-weight:bold; font-size:16px; ">Plástica Parcelada</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#0092a8; font-weight:bold">Eventos</a></p>
          </li>          

          <li class="nav-item" style="margin-right: 30px; ">
              <p><a href="#procedimentos" style="color:#0092a8; font-weight:bold; font-size:16px; ">Antes Depois</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#0092a8; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          


        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%" >
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://cdn.glowing.com/fertility-program/website/img/gfp-banner-background.e1ca04a7.jpg') ;" >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0092a8">
                    </div>
                  </div>
                </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h1 class="mt-3" style="color: #fff; font-weight: bold;font-size: 27px; text-align: left;">Doação de óvulos - Quiz com preço, quando é preciso, quem pode doar</h1>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#fff;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h3 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">De R$7.155 até R$30.000(Tudo)</h3>
                        <h4 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px; margin-top: -12px">Depende da clínica de fertilização</h4>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">Doação de óvulos parcelada 36x</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">Consulta Gratuíta</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #ffbc02; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0092a8; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0092a8;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero engravidar",  {class: 'btn btn-rose mt-4', style: "background-color:#02dbff; color:#0092a8; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        
        

<div class="container">
  <div class="row">





<div class="col-md-4">
  <div class="card ">
    <div class="col-md-12" style="margin-left: 0px; text-align: center"></br>
    
   

      <div class="col-md-12 mr-auto" style="text-align: left; background-color: #0092a8;height: 100%; margin-top: 0px"></br>

      <h3 style="color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

        <%= form_for ContactMessage.new do |f| %>




          <div class="col-md-12 form-group has-default bmd-form-group" >
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333;">
                  <i class="material-icons" style="color:#fff">face</i>
                </span>
              </div>
              <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
            </div>
          </div> </br>                  
          <div class="col-md-12  form-group has-default bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333">
                  <i class="material-icons" style="color:#fff">mail</i>
                </span>
              </div>
              <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
            </div></br>                  
          </div>
          <div class="col-md-12  form-group has-default bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333">
                  <i class="material-icons"style="color:#fff">phone</i>
                </span>
              </div>
              <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
            </div>
          </div></br>                  



          <div class="text-center" style="margin-top: -20px">
            <%= f.submit "Quero engravidar",  {class: 'btn btn-rose mt-4', style: "background-color:#ffbc02; color:#0092a8; font-weight:bold"} %></br></br>

          </div>

        <% end %>




        </div>


      </div>   





  </div>          
</div>




<div class="col-md-8">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #ffbc02">info</i>
      </div>
      <h4 class="card-title">Informações</h4></br></br>
    </div>
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">
        

<ul class="nav  " role="tablist" style="font-size: 14px; font-weight: bold">

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #ffbc02; height: 25px;">
                    <a class="nav-link"  href="#quando_e_preciso" role="tablist" style="color:#ffbc02; margin-top: -8px">
                      Quando é preciso
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #ffbc02; height: 25px;">
                    <a class="nav-link"  href="#ovodoacao" role="tablist" style="color:#ffbc02; margin-top: -8px">
                      Ovodoação
                    </a>
                  </li>                  


                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #ffbc02; height: 25px;">
                    <a class="nav-link"  href="#legislacao" role="tablist" style="color:#ffbc02; margin-top: -8px">
                      Legislação
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #ffbc02; height: 25px;">
                    <a class="nav-link"  href="#receptora" role="tablist" style="color:#ffbc02; margin-top: -8px">
                      Quem pode ser receptora
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #ffbc02; height: 25px;">
                    <a class="nav-link"  href="#quem_pode_doar" role="tablist" style="color:#ffbc02; margin-top: -8px">
                      Quem pode doar
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #ffbc02; height: 25px;">
                    <a class="nav-link"  href="#estagios_de_doacao" role="tablist" style="color:#ffbc02; margin-top: -8px">
                      Estágios da doação
                    </a>
                  </li>


                </ul></br>



<h2> Doação de óvulos - O que é, quanto custa, como funciona? </h2>


<h3 id="quando_e_preciso"> Quando é preciso de doação de óvulos? Quais mulheres precisam e em quais casos é usado?(óvulos doados)?</h3>

<p>Um mulher em média tem ao redor de 400 mil óvulos quando menstruam na primeira vez. É importante ressaltar que esses óvulos vão sendo perdidos no decorrer do tempo com a ovulações periódicas e por um processo de atresia (que significa a morte celular antes mesmo de ter ovulado). Portanto, o caso das mulheres é bastante diferente dos homes que possuem uma produção de espermatozoides diariamente.

O tempo em que essa perda de óvulos ocorre é bastante varável e único de cada mulher e esta associado a questões ambientais e da idade da pessoa. Normalmente, cerca de 1000 óvulos são perdidos no mês, o que significa que após 400 meses essa população de óvulos está esgotada. Isso corresponde a duração aproximada da idade fértil feminina (menacme).

Há nessa história um agravante: a perda em geral se dá dos melhores para os piores óvulos, que ainda sofrem os danos do envelhecimento. Dessa forma, ao final da vida reprodutiva, têm-se disponível para gerar a gravidez poucos óvulos e, em geral, de baixa qualidade. Chamamos esse estoque de óvulos remanescente de reserva ovariana.

Quando esse estoque se esgota por completo e a mulher não menstrua há pelo menos um ano, chamamos de menopausa. Isso ocorre por volta dos 50 anos, em média. Se ocorrer antes dos 40 anos, consideramos menopausa precoce.

O adiamento da maternidade por questões pessoais ou profissionais, ou mesmo fatalidades, como tratamentos para câncer ou fatores genéticos, faz com que muitas mulheres tentem ter filhos quando já estão num quadro de baixa reserva ovariana. É uma situação crítica cuja solução até alguns anos atrás passava muitas vezes por desistir da gravidez e partir para adoção, ou simplesmente, abdicar do sonho de ser mãe.

Hoje, todas essas situações listadas (menopausa, menopausa precoce, baixa reserva ovariana) podem se beneficiar da ovodoação.



<h3 id="ovodoacao">Ovodoação (doação de óvulos), o que é e significa? </h3>

<p>Consiste em fazer o tratamento para engravidar utilizando os óvulos de outra pessoa. É uma situação análoga ao já conhecido uso do banco de sêmen por casais cujo homem é estéril.

A ideia é simples: uma mulher jovem e que tenha boa reserva ovariana (doadora) doa seus óvulos para uma mulher que não consegue engravidar com seus próprios óvulos (receptora).

É importante ressaltar que ambas, doadora e receptora, precisam se submeter às técnicas de reprodução assistida, não sendo possível gravidez  “em casa” com essa técnica.


 </p>


<h3 id="legislacao">A doação de óvulos é permitida no Brasil?
</h3>
<p>A doação compartilhada é a única forma de ovodoação permitida no Brasil.

Nessa modalidade de tratamento uma mulher que passa por um tratamento de fertilização in vitro, aproveita esse tratamento para doar parte de seus óvulos para a receptora. Portanto, é proibido que mulheres procurem clínicas para doarem seus óvulos, memos que queiram por livre e espontânea vontade fazer essa doação. 

A receptora pode arcar com as despesas do tratamento da doadora. É lembre-se que a clínica escolhida fica como responsável pela mediação dessa relação e o tratamento de ambas, sempre mantendo o anonimato na doação de gametas e embriões no Brasil que é obrigatório.

</p>


<h3 id="receptora">Qualquer pessoa pode ser receptora? Existem alguma regra ou perfil de pessoa? </h3>

<p>
  Havia uma resolução do Conselho Federal de Medicina que limitava a idade da mulher em 50 anos para fazer tratamento com óvulos doados. Atualmente não há mais essa restrição, podendo se submeter ao tratamento mulheres de qualquer idade que tenham condições de saúde adequadas para a gravidez.

</p>

<h3 id="quem_pode_doar">
  Qualquer pessoa pode doar óvulos? Que tipo de pessoa pode ser doadora?
</h3>

<p>Mulheres com menos de 35 anos com reserva ovariana normal que precisem de tratamento de Fertilização in vitro para engravidar podem doar parte de seus óvulos.

Existem algumas restrições clínicas, como ser portadora de doenças genéticas, doenças psiquiátricas graves, endometriose grave e infecções crônicas como HIV, Hepatites B e C e HTLV. Para saber se pode ser doadora ou não, é preciso passar por uma avaliação médica prévia.

</p>


<h3 id="estagios_de_doacao">Quais são os estágios na Doação de Óvulos?</h3>

<p>

– Estimulação dos ovários da mulher que doará óvulos (doadora);

– Captação destes óvulos, através da aspiração dos folículos ovarianos guiado por ultrassom transvaginal (com anestesia);

– Doação de parte dos óvulos para a receptora;

– Fertilização dos óvulos doados com os espermatozoides do casal receptor;

– Transferência dos embriões formados para o útero da mulher receptora.

A primeira pergunta que escutamos é: qual a diferença entre ovodoação e adoção? Apesar de a adoção ser uma opção, existem diferenças importantes que tornam o tratamento com óvulos doados, único. A primeira é que a doadora apresenta características compatíveis com a receptora. A segunda é que há a participação genética do homem e fisiológica da mulher. A mulher que recebe óvulos vive toda gravidez, parto, é capaz de amamentar e sedimenta, intensamente, a ligação com o seu filho. Neste sentido, o tratamento com óvulos doados é muito positivo e gratificante, tanto para a receptora, quanto para a doadora.
</p>


<h3>A lei brasileira permite a doação de óvulos?</h3>

<p>

  No Brasil, a última Resolução do Conselho Federal de Medicina publicada em setembro de 2015 permite a Doação Compartilhada e determina pontos importantes:

– A doação de óvulos não pode ter caráter lucrativo ou comercial;

– Deve ser anônima: doadores e receptores não devem se conhecer. Portanto, se alguma amiga ou parente quiser doar para uma conhecida, isso não é permitido;

– A doadora deve ter no máximo 35 anos. E, para a receptora, não há mais limite de idade (resolução de 2013 determinava limite de 50 anos);

– A escolha da doadora é responsabilidade da Clínica de Reprodução Humana.

– A doadora é uma mulher com características únicas. Primeiramente, precisa ter boa quantidade e alta qualidade de óvulos. Isso é determinado através de exames de estimativa de reserva ovariana e idade materna.

Depois, precisa ser avaliada com cuidado (histórico médico, exames de sangue e de imagem) e consentir que a doação de óvulos seja feita.

Infelizmente, no Brasil, ainda há falta de doadoras. Isto ocorre por diversos motivos, mas o principal é a falta de informação. A doação pode ser uma ótima opção em algumas situações. Um exemplo é quando a mulher tem muitos óvulos, mas não quer ter embriões congelados, por motivos religiosos, financeiros ou outros.

Antes de iniciar esse procedimento, todos os casais envolvidos devem passar por grande reflexão sobre as consequências do tratamento. Muitas clínicas que realizam esse procedimento recomendam acompanhamento psicológico a fim de evitar traumas e arrependimentos. Procure se informar e esgote suas dúvidas em consultas com profissionais especializados. Dessa forma, a ovodoação é um excelente recurso à constituição da família.

</p>



      </div>
    </div>
  </div>          
</div>



  </div>
</div>
      
</div>
  

    <!-- Sart Modal -->
 










     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0092a8" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#ffbc02; text-align: left; font-size: 40px">GrávidaNaWeb Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre tratamentos para engravidar e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Plástica. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        





    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Plástica Parcelada 36x</h2>
                <p style="height: 150px; font-size: 17px; color:#616a74;"> Plástica parcelada em até 36x. Temos produtos como financiamento plástica, consórcio plástica e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor Valor na Plástica</h2>
                <p style="height: 150px; font-size: 16px; color:#616a74">Batemos seu preço. A Plástica que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor cirurgião plástico</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74">Você encontra o melhor cirurgião plástico. Compare preços, veja fotos de antes e depois de vários cirurgiões, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#ffbc02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com cirurgiões plásticos de excelente reputação.
      </p></br>
        </div>
      </div>
    </div>







    
<div id="como_funciona" style="text-align: center; color:#fff; background-color: #ffbc02; margin-top: -30px">
      <div class="container">
        <h2 class="title description" style="color:#0092a8">Notícias Cirurgia Plástica</h2></br>
        <div class="team">
          <div class="row" style="margin-top: -80px">

            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#0092a8;  font-size: 16px; height: 50px; font-weight: bold">Peito de Silicone</h2>
                <% if Product.first %>
                <% Product.first.product_articles.each do |article| %>
                <h2 style="font-size: 14px; color:#0092a8; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> <%=link_to article.title, product_article_path(id: article.id), {style: "color:#0092a8"} %></h2>
                <% end %>
                <% end %>
              </div>


          

          </div>
        <p  style="color:#75ff02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
      </p></br>
        </div>
      </div>
    </div></br>







<footer id="como_funciona" style="text-align: center; color:#fff; background-color: #0092a8; margin-top: 0px">
      <div class="container"></br>

        <div class="col-sm-12" style="color: #fff; text-align: center">
          <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

        </div></br></br>

        <div class="team">
          <div class="row" style="margin-top: -80px">

            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#ffbc02;  font-size: 16px; height: 50px; font-weight: bold">Acesso rápido</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Como Funciona</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Eventos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Empréstimo para Fertilização</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Consórcio para Fertilização</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Fertilização Parcelada</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Notícias Fertilização</h2>

              </div>
  

          </div>




            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#ffbc02;  font-size: 16px; height: 50px; font-weight: bold">Tratamentos</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Fertilização in Vitro</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Taxa de Sucesso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Inseminação Artificial</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Relação Sexual Programada</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Transferência de Embrião Congelado</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Évulos</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Sémen</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Embrião</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Barriga de Aluguel</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Casais Homoafetivos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preservação de Fertilidade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Congelamento de Óvulos</h2>

              </div>
  

          </div>


            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#ffbc02;  font-size: 16px; height: 50px; font-weight: bold">Tratamentos</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Fertilização in Vitro</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Taxa de Sucesso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Inseminação Artificial</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Relação Sexual Programada</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Transferência de Embrião Congelado</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Évulos</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Sémen</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Embrião</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Barriga de Aluguel</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Casais Homoafetivos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Preservação de Fertilidade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Congelamento de Óvulos</h2>

              </div>
  

          </div>


    <div class="col-md-12 Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 PlásticaNaWeb, Inc. Todos os direitos reservados.
        
    </div>





        </div></br>
      </div>
    </footer>
















