<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138589882-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138589882-1');
</script>
    
    <title>Inseminação artificial: O que é, como funciona a inseminação e quanto custa
</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://ec2-18-222-94-248.us-east-2.compute.amazonaws.com" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
          <p style="font-size: 30px; text-transform: uppercase; color: #f79d94; font-weight: bold; margin-top: 5px
"> EU </p>          
          <p style="font-size: 30px; text-transform: lowercase; color: #0a2644; font-weight: bold;
"> fértil </p>          <%# image_tag(("http://ec2-18-217-155-28.us-east-2.compute.amazonaws.com/assets/logo_liquibay_branco-fd00d8005b22ef903bbf567ea3de8e28b5d9548e29a827a14fd3920f7ed6ab8f.png"), style:"width:235px; height: 50px") %>
        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #f79d94; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#0a2644; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#0a2644; font-weight:bold; font-size:16px; ">Plástica Parcelada</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#0a2644; font-weight:bold">Eventos</a></p>
          </li>          

          <li class="nav-item" style="margin-right: 30px; ">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Antes Depois</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          




        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%" >
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://cdn.glowing.com/fertility-program/website/img/gfp-banner-background.e1ca04a7.jpg') ;" >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0a2644">
                    </div>
                  </div>
                </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h1 class="mt-3" style="color: #fff; font-weight: bold;font-size: 27px; text-align: left;">Inseminação artificial - Um quiz com preço, o que é, quais as chances e mais</h1>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#fff;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h3 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">De R$10 mil até R$14 mil</h3>
                        <h4 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px; margin-top: -12px">+Hormônios e medicamentos – de R$ 3 mil a R$ 5 mil
</h4>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">Fertilização in Vitro parcelada 36x</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; font-weight: bold;text-align: left; font-size: 21px">Consulta Gratuíta</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #f79d94; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero engravidar",  {class: 'btn btn-rose mt-4', style: "background-color:#02dbff; color:#0a2644; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        
        

<div class="container">
  <div class="row">





<div class="col-md-4">
  <div class="card ">
    <div class="col-md-12" style="margin-left: 0px; text-align: center"></br>
    
   

      <div class="col-md-12 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 0px"></br>

      <h3 style="color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

        <%= form_for ContactMessage.new do |f| %>




          <div class="col-md-12 form-group has-default bmd-form-group" >
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333;">
                  <i class="material-icons" style="color:#fff">face</i>
                </span>
              </div>
              <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
            </div>
          </div> </br>                  
          <div class="col-md-12  form-group has-default bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333">
                  <i class="material-icons" style="color:#fff">mail</i>
                </span>
              </div>
              <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
            </div></br>                  
          </div>
          <div class="col-md-12  form-group has-default bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="border-style: none; color: #333">
                  <i class="material-icons"style="color:#fff">phone</i>
                </span>
              </div>
              <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
            </div>
          </div></br>                  



          <div class="text-center" style="margin-top: -20px">
            <%= f.submit "Quero engravidar",  {class: 'btn btn-rose mt-4', style: "background-color:#f79d94; color:#0a2644; font-weight:bold"} %></br></br>

          </div>

        <% end %>




        </div>


      </div>   





  </div>          
</div>




<div class="col-md-8">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #f79d94">info</i>
      </div>
      <h4 class="card-title">Informações</h4></br></br>
    </div>
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">
        



 

<ul class="nav  " role="tablist" style="font-size: 14px; font-weight: bold">
                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #f79d94; height: 25px;">
                    <a class="nav-link"  href="#custo" role="tablist" style="color:#f79d94; margin-top: -8px">
                      Quanto custa
                    </a>
                  </li>


                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #f79d94; height: 25px;">
                    <a class="nav-link"  href="#o_que_e" role="tablist" style="color:#f79d94; margin-top: -8px">
                      O que é
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #f79d94; height: 25px;">
                    <a class="nav-link"  href="#nome_correto" role="tablist" style="color:#f79d94; margin-top: -8px">
                      Nome Correto
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #f79d94; height: 25px;">
                    <a class="nav-link"  href="#como_e_feita" role="tablist" style="color:#f79d94; margin-top: -8px">
                      Como é Feita
                    </a>
                  </li>


                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #f79d94; height: 25px;">
                    <a class="nav-link"  href="#tempo_duracao" role="tablist" style="color:#f79d94; margin-top: -8px">
                      Tempo de Duração
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #f79d94; height: 25px;">
                    <a class="nav-link"  href="#quando_e_indicado" role="tablist" style="color:#f79d94; margin-top: -8px">
                      Quando é Indicado
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #f79d94; height: 25px;">
                    <a class="nav-link"  href="#preparacao" role="tablist" style="color:#f79d94; margin-top: -8px">
                      Preparação
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #f79d94; height: 25px;">
                    <a class="nav-link"  href="#taxa_sucesso" role="tablist" style="color:#f79d94; margin-top: -8px">
                      Taxa de Sucesso
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #f79d94; height: 25px;">
                    <a class="nav-link"  href="#riscos" role="tablist" style="color:#f79d94; margin-top: -8px">
                      Riscos
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #f79d94; height: 25px;">
                    <a class="nav-link"  href="#contraindicacoes" role="tablist" style="color:#f79d94; margin-top: -8px">
                      Contraindicações
                    </a>
                  </li>

                  <li class="nav-item" style="border-right-style: solid; border-width: 1px; border-color: #f79d94; height: 25px;">
                    <a class="nav-link"  href="#clinicas" role="tablist" style="color:#f79d94; margin-top: -8px">
                      Clínicas
                    </a>
                  </li>

                </ul></br>



<h2>Inseminação artificial: Quanto custa, como funciona e o que é</h2>

<h3> A inseminação artificial é indicada para problemas leves de mobilidade dos espermatozoides ou para casais homoafetivos</h3>

<h2 id="custo">Qua o valor de uma inseminação artificial? </h2>
<p>Segundo dados da clínica de reprodução assistida Genics, esta é a media de preços para realizar o procedimento:

Inseminação (sem medicamentos inclusos): De R$ 2.500,00 a R$ 3.500,00
Fertilização In Vitro (com medicamentos inclusos): De R$ 15.000,00 a 20.000,00. </p>

<h3 id="o_que_e">O que é uma Inseminação Artificial</h3>

<p> No procedimento de fertilização artificial, aproveita-se o período fértil da mulher para fazer a injeção de espermatozoides dentro do útero da mulher, ou seja, quando ela está ovulando, facilitando assim a união dos gametas para a formação do embrião. O primeiro teste de inseminação artificial foi feito nos Estados Unidos em 1884. Por muito tempo, ela foi a única alternativa de gravidez para casais com algum problema de infertilidade. Aqui no Brasil ele já existe desde a década de 1970. </p>

<h3 id="nome_correto"> Existem outros nomes para inseminação artificial?</h3>
<p>Inseminação intrauterina</p>

<h3 id="como_e_feita"> Como se faz a técnica de Inseminação Artificial? </h3>

<p>Em primeiro lugar o homem por via da masturbação precisará coletar uma porção de sêmen em casa ou no laboratório. As amostras são selecionadas em laboratório, separando os espermatozoides de acordo com sua mobilidade e retirando células imaturas e restos celulares. O espermatozoide também pode ser obtido em um banco de sêmen, caso a doação seja necessária. Quanto à mulher, poderá tomar medicamentos para indução da ovulação (utilizados no coito programado), que podem ser via oral ou via subcutânea através de injeções. Durante a estimulação, são realizadas ultrassonografias seriadas para acompanhamento do crescimento dos folículos (local onde se encontram os óvulos).

Quando os folículos estão prontos, é administrado um medicamento que permite a liberação dos óvulos. No momento em que a mulher estiver ovulando, é marcada a colocação dos espermatozoides dentro do útero da mulher. Trata-se de um procedimento médico realizado em uma clínica de reprodução humana. O processo funciona de forma semelhante ao Papanicolau: é inserido um bico de pato na vagina da mulher e depois um cateter bem fino, por onde passam os espermatozoides. O posicionamento do cateter é feito usando um aparelho de ultrassonografia. Os espermatozóides podem ser depositados no colo do útero, no processo chamado inseminação ultracervical, ou mais próximos às trompas, na inseminação intrauterina. Atualmente o segundo método é o mais utilizado, por ter melhores resultados. Depois de todo esse procedimento, o teste de gravidez é feito com o passar de 12 dias.</p>

<h3 id="tempo_duracao">Quanto tempo dura o tratamento da inseminação artificial? </h3>
<p>O período entre o início do tratamento e a confirmação ou não da gravidez dura em torno de um mês. A mulher começa a medicação no início do ciclo menstrual por cerca de 15 dias e a inseminação é realizada após a liberação dos óvulos, que normalmente coincide com o período fértil da mulher. Após 12 dias é feito o teste de gravidez para verificar o sucesso. Caso não tenha havido fecundação, é possível continuar no próximo ciclo</p>


<h3 id="quando_e_indicado"> Quando é indicada a inseminação artificial? Existe algum tipo de caso onde ela é mais indicada?</h3>
<p> Esse método normalmente é indicado para casais com alguma leve alteração nos espermatozoides (como gametas lentos ou com dificuldades de movimentação), para casos de alteração no útero, como uma endometriose leve ou mesmo quando não há uma razão aparente para a infertilidade.

A inseminação artificial também pode ser feita com espermatozoides doados em casos em que o parceiro da mulher não os possui no seu sêmen ou no caso de casais homoafetivos.</p>

<h2 id="preparacao"> Como é feita a preparação para o procedimento de Inseminação Artificial?</h2>

<p> Para garantir a qualidade é preciso que o homem fique em abstinência sexual de dois a cinco dias antes da coleta do sêmen. É importante também que ele evite estresse excessivo, calor na região genital, consumo exagerado de álcool e o fumo nesse período.
  Já para a mulher, é importante que ela esteja em dia com sua saúde para gestação, com o peso correto, vacinas em dia, sem fumar e se suplementando com ácido fólico. É importante um check-up para verificar se há alguma doença crônica que precise ser controlada na gestação.</p>

<h3 id="taxa_sucesso"> Qual a taxa de sucesso da Inseminação Artificial? Quais são as expectativas? </h3>
<p>A taxa de sucesso por ciclo gira em torno de 20%. No caso de inseminação artificial quanto mais idade tem a mulher, menores são as chances de engravidar. Após os 35 anos, as chances de sucesso desse método ficam cada vez mais reduzidas.

Em caso de insucesso, é sugerido geralmente até duas novas tentativas para esse tratamento, que podem ser feitas em ciclos consecutivos sem prejuízos. Depois disso, o tratamento é considerado inefetivo e é preciso conversar com o especialista para a sugestão de outras opções, como a fertilização in vitro.</p>

<h3 id="riscos"> Existe algum risco no processo de Inseminação Artificial? Quais são esses riscos?</h3>
<p> Nesse método há uma chance de 15% de uma gravidez gemelar. Isso é considerado um risco, pois gestações com mais de um bebê envolvem um maior cuidado pré-natal e normalmente resultam em partos prematuros, que são perigosos tanto para a mãe quanto para o feto.

Outro risco é a Síndrome da Hiperestimulação do Ovário (SHO), quando há uma produção maior do hormônio estradiol, sintetizado nos ovários, o que aumenta o inchaço e as chances da mulher ter trombose durante a gravidez. Porém esse risco é menos frequente na inseminação, pois é um tratamento que utiliza doses baixas de hormônios na maior parte dos casos.</p>

<h3 id="contraindicacoes"> Existe alguma contraindicações na inseminação aritificial? Quais são elas?</h3>
<p> As contraindicações são as mesmas de uma gravidez comum, é preciso que mulheres com problemas de saúde sérios consultem seu médico antes do procedimento. E quando há algum risco de doença hereditária ou infecciosa, torna-se essencial um parecer prévio especializado.

O uso dos medicamentos para indução de ovulação é contraindicado para mulheres com em carcinoma ovariano, uterino ou mamário e tumores do hipotálamo ou da glândula pituitária.</p>

<h3 id="clinicas"> Onde encontro clínicas para fazer inseminação artificial? </h3>
<p>A maior parte das clínicas de fertilização realiza a inseminação artificial. Mas é preciso verificar se o médico que vai realizá-la tenha especialização em medicina reprodutiva. Optar por lugares com indicações de conhecidos ou ligados a grandes centros de medicina também é indicado para ter mais segurança. Você pode falar com uma de nossas consultoras, temos excelentes clínicas é médicos.</p>








      </div>
    </div>
  </div>          
</div>



  </div>
</div>
      
</div>
  

    <!-- Sart Modal -->
 










     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0a2644" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#f79d94; text-align: left; font-size: 40px">GrávidaNaWeb Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre tratamentos para engravidar e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Plástica. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        





    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Plástica Parcelada 36x</h2>
                <p style="height: 150px; font-size: 17px; color:#616a74;"> Plástica parcelada em até 36x. Temos produtos como financiamento plástica, consórcio plástica e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor Valor na Plástica</h2>
                <p style="height: 150px; font-size: 16px; color:#616a74">Batemos seu preço. A Plástica que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor cirurgião plástico</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74">Você encontra o melhor cirurgião plástico. Compare preços, veja fotos de antes e depois de vários cirurgiões, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#f79d94; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com cirurgiões plásticos de excelente reputação.
      </p></br>
        </div>
      </div>
    </div>







    
<div id="como_funciona" style="text-align: center; color:#fff; background-color: #f79d94; margin-top: -30px">
      <div class="container">
        <h2 class="title description" style="color:#0a2644">Notícias Cirurgia Plástica</h2></br>
        <div class="team">
          <div class="row" style="margin-top: -80px">

            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#0a2644;  font-size: 16px; height: 50px; font-weight: bold">Peito de Silicone</h2>
                <% if Product.first %>
                <% Product.first.product_articles.each do |article| %>
                <h2 style="font-size: 14px; color:#0a2644; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> <%=link_to article.title, product_article_path(id: article.id), {style: "color:#0a2644"} %></h2>
                <% end %>
                <% end %>
              </div>


          

          </div>
        <p  style="color:#75ff02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
      </p></br>
        </div>
      </div>
    </div></br>







<footer id="como_funciona" style="text-align: center; color:#fff; background-color: #0a2644; margin-top: 0px">
      <div class="container"></br>

        <div class="col-sm-12" style="color: #fff; text-align: center">
          <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

        </div></br></br>

        <div class="team">
          <div class="row" style="margin-top: -80px">

            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#f79d94;  font-size: 16px; height: 50px; font-weight: bold">Acesso rápido</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Como Funciona</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Eventos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Empréstimo para Fertilização</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Consórcio para Fertilização</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Fertilização Parcelada</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Notícias Fertilização</h2>

              </div>
  

          </div>




            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#f79d94;  font-size: 16px; height: 50px; font-weight: bold">Tratamentos</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Fertilização in Vitro</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Taxa de Sucesso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Inseminação Artificial</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Relação Sexual Programada</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Transferência de Embrião Congelado</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Évulos</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Sémen</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Doação de Embrião</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Barriga de Aluguel</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Casais Homoafetivos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preservação de Fertilidade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Congelamento de Óvulos</h2>

              </div>
  

          </div>


            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                
                

                <h2 class="title description" style="color:#f79d94;  font-size: 16px; height: 50px; font-weight: bold">Tratamentos</h2>

                <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Fertilização in Vitro</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Taxa de Sucesso</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Inseminação Artificial</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Relação Sexual Programada</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Transferência de Embrião Congelado</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Évulos</h2>


                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Sémen</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Doação de Embrião</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Barriga de Aluguel</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Casais Homoafetivos</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Preservação de Fertilidade</h2>

                  <h2 style="font-size: 14px; color:#fff; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;"> Preço Congelamento de Óvulos</h2>

              </div>
  

          </div>


    <div class="col-md-12 Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 PlásticaNaWeb, Inc. Todos os direitos reservados.
        
    </div>





        </div></br>
      </div>
    </footer>
















