<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136930452-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136930452-1');
</script>

    <title>Antes Depois Preço Maxtopexia Flacidez Seios</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://ec2-18-222-94-248.us-east-2.compute.amazonaws.com" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
          <p style="font-size: 40px; text-transform: lowercase; color: #0a2644; font-weight: bold; 
"> plástica </p>
          <h4 style="text-align: right; margin-top: -10px; color:#75ff02;font-weight: bold"> NA WEB </h4>
          <%# image_tag(("http://ec2-18-217-155-28.us-east-2.compute.amazonaws.com/assets/logo_liquibay_branco-fd00d8005b22ef903bbf567ea3de8e28b5d9548e29a827a14fd3920f7ed6ab8f.png"), style:"width:235px; height: 50px") %>
        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-right: : 0px;">
            <%= link_to ("CONSULTA GRATUITA").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px;">
              <p><%= link_to 'Home', root_path, {style:"color:#0a2644; font-weight:bold"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#como_funciona" style="color:#0a2644; font-weight:bold; font-size:16px; ">Plástica Parcelada</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#eventos"style="color:#0a2644; font-weight:bold">Eventos</a></p>
          </li>          

          <li class="nav-item" style="margin-right: 30px; ">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Antes Depois</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px;">
              <p><a href="#procedimentos" style="color:#0a2644; font-weight:bold; font-size:16px; ">Preço</a></p>
          </li>          


        </ul>
      </div>
    </div>
  </nav>     


    <div class="page-header clear-filter " style="height: 100%" >
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://lovelacemedicalgroup.com/sites/default/files/service-images/plastic_surgery_iStock-685846144.jpg') ; -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";" >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #0a2644">
                    </div>
                  </div>
                </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 35px;">              

          <div class="card-body" style="background-color: rgba(0, 0, 0, 0);">
            <div class="row">
              <div class="col-md-6 mr-auto" style="text-align: left;margin-top: 10px">
                <div class="social text-center" >
                  <h1 class="mt-3" style="color: #0a2644; font-weight: bold;font-size: 27px; text-align: left;"> Antes e Depois e Preço - Mastopexia</h1>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -90px; margin-left: -8px">
                    <div class="icon icon-rose" style="color:#0a2644;">
                      <i class="material-icons">attach_money</i>
                    </div>
                      <div class="description">
                        <h3 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">De R$7.155 até R$28.000(Tudo)</h3>
                        <h4 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px; margin-top: -12px">Depende do cirurgião escolhido</h4>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">credit_card</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Plástica parcelada 36x</h2>
                      </div>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#0a2644;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #0a2644; font-weight: bold;text-align: left; font-size: 21px">Consulta Gratuíta</h2>
                      </div>
                    </div>




          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #75ff02; margin-left: -8px; width: 300px">
            <%= link_to ("AGENDE SUA CONSULTA - Grátis ").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#0a2644; font-size:15px; font-weight:bold'}%>        
          </button>         

                  
                  </div>  


                  <div class="col-md-3 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #0a2644;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">AGENDE SUA CONSULTA</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group" >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;" %>
                        </div>
                      </div> </br>                  
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div></br>                  
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div></br>                  



                      <div class="text-center" style="margin-top: -20px">
                        <%= f.submit "Quero ficar mais bonita",  {class: 'btn btn-rose mt-4', style: "background-color:#02dbff; color:#0a2644; font-weight:bold"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        
        

<div class="container">
  <div class="row">






<div class="col-md-4">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">photo_came</i>
      </div>
      <h4 class="card-title">Fotos</h4></br></br>
    </div>
   

   <%= render "antes_depois_mastopexia" %>


  </div>          
</div>




<div class="col-md-8">
  <div class="card ">
    
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons" style="color: #75ff02">info</i>
      </div>
      <h4 class="card-title">Informações</h4></br></br>
    </div>
   

    <div class="col-md-12" style="margin-left: 00px; text-align: left">
      <div href="#pablo">
        



<h2>Conheça a cirurgia estética mamária de correção de flacidez</h2>

<h2><strong>Quanto custa uma Maxtopexia cirurgia plástica para correção de flacidez dos seios ? </strong></h2>
<p>O preço da Mastopexia varia de R$7.155 a R$28.000. Tudo vai depender do cirurgião plástico da Mastopexia. Se você quer um cirurgião plástico de Mastopexia pelo preço de R$7.155, nó temos. Agora se você quer um cirurgião plástico que cobra R$28.000 para fazer sua plástica npara corrigir a flacidez dos peitos, nós também temos. Temos excelentes cirurgiões plásticos que cobram em torno de R$12.000, já incluindo preço de hospital e outras despesas (preço total). Você pode agendar uma consulta gratuíta para conhecer um cirurgião plástico para corrigir a flacidez nas mamas - Mastopexia. Nossas clínicas possuem uma excelente infra-estrutura, são modernas, bonitas e transmitem uma sensação de bem estar e segurança para as pacientes! A chance de você gostar é bem alta, pois trabalhamos apenas com cirurgiões plástico com reputação elevada. O bom é que conosco você pode conversar com vários cirurgiões plásticos gratuitamente até tomar a sua decisão!</p></br>

<h2>A cirurgia de mastopexia deixa cicatriz? </h2>
<p>Podem ser em formato de “T”, em “L”, “I”ou periareolar. Vai depender do tamanho e grau de flacidez de cada mama. Porém qualquer cicatriz passará por diferentes fases:<br>
a) PERÍODO IMEDIATO: Vai até o 30º dia. Apresenta-se pouco visível e algumas apresentam uma reação discreta aos pontos ou ao curativo.<br>
b) PERÍODO MEDIATO: Vai do primeiro ao 12º mês. Neste período acontece um espessamento normal da cicatriz, e mudança na tonalidade da sua cor. Pode passar do “vermelho”para o “marrom” mas, aos poucos, vai clareando.<br>
c) PERÍODO TARDIO: Vai de 1 ano a 1 ano e meio. A cicatriz tornar-se mais clara e menos consistente atingindo, assim, o seu aspecto definitivo. A avaliação do resultado definitivo da cicatriz das mamas deverá ser feita após este período.</p>
<h3>ALGUMAS PACIENTES FICAM COM CICATRIZES BEM VISÍVEIS APÓS A MASTOPEXIA. POR QUE ISSO ACONTECE?</h3>
<p>Certas pacientes apresentam uma tendência à cicatrização hipertrófica ou ao queloide. Pessoas de pele clara têm menor probabilidade de sofrer desta complicação cicatricial. Porém existem diversas opções para a prevenção e o tratamento destas cicatrizes que serão prescritos no seu devido tempo de cicatrização.</p>
<h2>É possivel corrigir essas cicatrizes grossas da mastopexia? </h2>
<p>Existem recursos clínicos e cirúrgicos nos permitem prevenir e melhorar cicatrizes inestéticas, na época adequada. Porém não se deve confundir o “período mediato” da cicatrização normal (do 30º dia até o 12º mês) com uma complicação cicatricial.</p>

<h2>Quais são os resultados e como ficarão os novos seios após a cirurgia de mastopexia? Como fica o tamanho e a consistência das mamas? </h2>
<p>As mamas poderão ter seu volume reduzido, ou aumentado se este for o caso, ou apenas ser remodelada e levantada através da cirurgia; entretanto, passarão por vários períodos evolutivos:<br>
a) PERÍODO IMEDIATO: Vai do primeiro ao 30º dia. As mamas já apresentam um aspecto bem melhorado, sua forma estará aquém do resultado planejado. Nenhuma mama ficará “perfeita” no pós-operatório nesta fase.<br>
b) PERÍODO MEDIATO: Vai do 30º dia até o 8º mês. A mama estará mais próxima da forma definitiva. É comum alguma insensibilidade ou hipersensibilidade do mamilo.<br>
c) PERÍODO TARDIO: Vai do 8º ao 18º mês. Período que a mama atinge seu aspecto definitivo (cicatriz, forma, consistência, volume, sensibilidade). Espera-se sempre uma acomodação da mama (chamamos de báscula) e o grau de elasticidade da pele das mamas tem grande importância no resultado final.</p>
<h2>É necessária a prótese de silicone na mastopexia? </h2>
<p>Nem sempre. Utilizamos as próteses nos casos de volumes reduzidos de mama ou quando a paciente solicita um aumento de mama associado à Mastopexia. Quando já existe um volume razoável, suficiente para um bom resultado final somente com o levantamento, realizamos somente a Mastopexia.</p>
<h3>A colocação de prótese de silicone na mastopexia faz com que a mama fique levantada por mais tempo ? </h3>
<p>Não. Erroneamente as pacientes acreditam que a prótese mantem as mamas erguidas, mas ao contrário do que imaginam, podem acelerar a descida delas dependendo do peso destas próteses.</p>
<h2>Se eu colocar a prótese submuscular em uma cirurgia de mastopexia meus seios ficarão erguidos por mais tempo? </h2>
<p>Não. A colocação da prótese submuscular pode garantir sim a manutenção desta prótese numa posição mais alta, já que estarão sob sustentação dos músculos peitorais, porém as mamas continuarão sofrendo a ação da gravidade e com o tempo poderão gerar o que chamamos de “duplo contorno”: próteses altas e mamas caídas.</p>
<h3>QUANDO ATINGIREI O RESULTADO DEFINITIVO APÓS A MASTOPEXIA?</h3>
<p>Entre o 12º e 18º mês</p>
<h2>Gravidez e mastopexia, o que acontece com os resultados? </h2>
<p>O resultado, poderá ser preservado, desde que não haja um aumento de peso excessivo na nova gestação, nem um aumento excessivo das mamas. Também dependerá do grau de elasticidade desta pele. Quanto à lactação e amamentação, poderá ser prejudicada se a redução da mama na cirurgia tiver sido muito acentuada, ou dependendo da técnica utilizada.</p>

<h2>Existem riscos na cirurgia plástica de mastopexia? </h2>
<p>Raramente a Mastopexia tem complicações sérias, mas intercorrências inerentes a qualquer procedimento cirúrgico podem acontecer como hematomas, seromas, infecção, necrose de pele e de aréola, deiscência de pontos…</p>


<h2>Como é o pós-operatório da mastopexia? Ele é muito dolorido? </h2>
<p>Geralmente não, mas sempre deve ser evitada a movimentação excessiva dos braços e esforços.</p>
<h2>Quanto tempo preciso ficar internado na cirurgia de mastopexia? </h2>
<p>12 horas.</p>

<h2>Como é a anestesia na mastopexia? Qual anestesia é utilizada? </h2>
<p>Local com sedação assistida ou anestesia geral</p>

<h2>Quanto tempo dura uma cirurgia plástica de mastopexia? </h2>
<p>Depende do tipo e tamanho de cada mama. Em média 2 a 3 horas.</p>


<h3>Como são os curaticos da mastopexia? </h3>
<p>Sim. Curativos adaptados a cada tipo de mama que são retirados após 24hs, e uma microporagem da cicatriz que permanecerá por mais tempo, além do soutien adequado para o pós-operatório por 30 dias.</p>
<h3>É preciso tirar os pontos na cirurgia de mastopexia? </h3>
<p>Não. São dados pontos internos que serão absorvidos</p>

<h2>Posso tomar banho depois da cirurgia de mastopexia? Depois de quanto tempo ? O banho pode ser completo? </h2>
<p>Após 24hs</p>
<h2>Posso malhar e ir para a academia depois da cirurgia plástica de mastopexia? Depois de quanto tempo posso ir? </h2>
<p>Após 30 dias com recomendações.</p>
<h2>Posso fazer drenagem linfática depois da cirurdia plástica de mastopexia? </h2>
<p>Sim. Liberamos iniciar as drenagens linfáticas na primeira semana para auxiliar na redução do inchaço e remodelação das cicatrizes.</p>
<h3>RECOMENDAÇÕES PRÉ-OPERATÓRIAS APÓS A MASTOPEXIA:</h3>
<p>Em caso de gripe ou indisposição, avise-nos o quanto antes<br>
Comparecer ao hospital para internação em jejum de 8hs, inclusive de água, obedecendo ao horário estabelecido.<br>
Evite bebidas alcoólicas, drogas ou refeições muito pesadas na véspera da cirurgia.<br>
Programe-se para um repouso relativo de 15 dias.</p>
<h3>RECOMENDAÇÕES PÓS-OPERATÓRIAS DA MASTOPEXIA:</h3>
<p>Evitar esforços nos 15 primeiros dias.<br>
Usar o soutien cirúrgico por 30 dias.<br>
Por 30 dias é proibido: movimentos bruscos com os braços, pegar peso, deitar de lado ou de bruços e elevar os braços acima da linha dos ombros.<br>
Não se exponha ao sol nem retorne as atividades físicas sem liberação médica<br>
Evite as atividades físicas por no mínimo 15 dias.<br>
Alimentação normal<br>
Suas mamas ainda não estarão com o formato definitivo, por isso aguarde o tempo de no mínimo 3 meses para esta melhor definição.</p>
<h3>Cirurgia estética mamária de correção de flacidez – Mastopexia</h3>
<p><em>Saiba como a mastopexia ajuda a obter uma estética mais firme e proporcional das mamas!</em></p>
<p>A mastopexia é uma cirurgia plástica das mamas indicada para reverter o caimento dos seios e reposicionamento da pele flácida de forma a elevar as mamas até a posição inicial e garantir a estética e simetria delas.</p>
<p>O procedimento é indicado para pacientes que, em geral, estão satisfeitas com o volume dos seios, mas descontentes com o excesso de flacidez ou caimento deles. A seguir, entenda melhor como é realizada a mastopexia e quais os benefícios dela.</p>
<h3>Como é realizado o procedimento?</h3>
<p>A mastopexia deve ser realizada por um cirurgião plástico apto e de confiança. O primeiro passo consiste na avaliação clínica, na qual são solicitados exames para verificar o quadro de saúde da paciente.</p>
<p>O procedimento tem uma duração média entre duas ou três horas, de acordo com o tamanho das mamas e a cirurgia pode ser realizada usando anestesia local com sedação, anestesia geral ou peridural.</p>
<p>Durante a consulta pré-operatória, o cirurgião vai apresentar os resultados possíveis com a técnica e os riscos relacionados, que podem incluir hematomas, seromas, infecção, necrose de pele e de aréola e deiscência de pontos, que são intercorrências inerentes a qualquer procedimento cirúrgico, ainda que não consistam em complicações sérias.</p>
<p>Após a avaliação clínica, autorizando a realização do procedimento, a paciente deve apresentar-se no hospital, seguindo as indicações médicas, como:</p>
<ul>
<li>avisar a equipe médica em caso de gripe ou indisposição antes do procedimento;</li>
<li>realizar um jejum de 8 horas antes da cirurgia, inclusive de água;</li>
<li>interromper o consumo de bebidas alcoólicas, drogas ou tabaco;</li>
<li>não fazer refeições pesadas na véspera da cirurgia;</li>
<li>interromper o uso de medicamentos indicados pelo médico.</li>
</ul>
<p>Em geral, a paciente que realiza uma mastopexia deve permanecer internada por um período de 12 horas, entretanto, é necessário realizar um planejamento para que fique de repouso relativo pelos 15 dias subsequentes.</p>
<h3>A prótese é necessária na mastopexia?</h3>
<p>Uma dúvida frequente entre as pacientes interessadas em realizar a mastopexia refere-se ao uso de prótese de aumento. Nem sempre a prótese é utilizada, mas é uma opção em caso de mamas com volumes reduzidos ou quando a paciente solicita um aumento de mama associado à mastopexia.</p>
<p>Quando já existe um volume razoável, suficiente para um bom resultado final somente com o levantamento, o procedimento não é associado à colocação de prótese.</p>
<p>Muitas pacientes que desejam associar a mastopexia com a prótese o fazem por acreditarem que essa opção garantirá uma mama levantada por mais tempo. Entretanto, isso não é verdade. Dependendo do peso da prótese, essa associação pode, inclusive, acelerar o caimento dos seios.</p>
<p>O mesmo ocorre com a colocação de prótese submuscular. Nesses casos, o efeito imediato é de uma mama mais alta, pois ela é sustentada pelos músculos peitorais. No longo prazo, no entanto, os seios continuam sob efeito da gravidade e podem ficar caídos.</p>
<h3>Como é o pós operatório da cirurgia de mastopexia? </h3>
<p>Em geral, o pós-operatório da mastopexia não dói, mas é importante que as recomendações médicas sejam seguidas corretamente e evite-se a movimentação excessiva dos braços ou esforço.</p>
<p>Após a cirurgia são usados curativos adaptados a cada tipo de mama que são retirados após 24 horas. Utiliza-se ainda uma microporagem da cicatriz que permanecerá por mais tempo, além do uso recomendado do sutiã adequado para o pós-operatório durante 30 dias.</p>
<p>Nas primeiras 24 horas não é recomendado que a paciente tome banho completo, esperando esse período para lavar-se totalmente. O retorno às atividades cotidianas pode demorar um pouco mais, sendo que a alimentação deve ser normal no período, optando por uma dieta rica e saudável.</p>
<p>Nos primeiros 15 dias é recomendado que a paciente mantenha-se de repouso e não faça esforço físico. Além disso, movimentos bruscos com os braços, pegar peso, deitar de lado ou de bruços e elevar os braços acima da linha dos ombros são proibidos por 30 dias.</p>
<p>Esse também é o período recomendado para que a paciente fique afastada da academia ou outras atividades físicas, sendo que a retomada depende da autorização médica. A exposição solar também é prejudicial à recuperação, sendo importante aguardar a alta do especialista.</p>
<p>Uma opção para melhorar a recuperação da mastopexia é fazer sessões de drenagens linfáticas na primeira semana, pois elas auxiliam na redução do inchaço e remodelação das cicatrizes.</p>
<h3>Cicatrização da mastopexia</h3>
<p>Um dos aspectos que mais geram dúvidas sobre a mastopexia é a cicatrização. A incisão realizada pelo cirurgião plástico pode ser em formato de “T”, em “L”, “I” ou periareolar. A escolha depende do tamanho e grau de flacidez de cada mama.</p>
<p>Independentemente do formato da cicatriz, são usados pontos internos que são absorvidos pelo organismo. O processo de cicatrização passa por diferentes fases. São elas:</p>
<ul>
<li><strong>período imediato:</strong> dura até o 30º dia. Apresenta-se pouco visível e algumas apresentam uma reação discreta aos pontos ou ao curativo;</li>
<li><strong>período mediato: </strong>vai do primeiro ao 12º mês. Neste período acontece um espessamento normal da cicatriz e mudança na tonalidade, podendo passar do “vermelho” para o “marrom”, mas, aos poucos, vai clareando;</li>
<li><strong>período tardio:</strong> vai de 1 ano a 1 ano e meio. A cicatriz tornar-se mais clara e menos consistente atingindo, assim, o aspecto definitivo. A avaliação do resultado definitivo da cicatriz das mamas deverá ser feita após esse período.</li>
</ul>
<p>Algumas pacientes apresentam uma tendência à cicatrização hipertrófica ou ao queloide. Pessoas de pele clara têm menor probabilidade de sofrer dessas complicações cicatriciais. Existem diversas opções para a prevenção e o tratamento destas cicatrizes que serão prescritos no devido tempo de cicatrização pelo especialista.</p>
<p>Existem recursos clínicos e cirúrgicos que permitem prevenir e melhorar o aspecto das cicatrizes inestéticas. Porém não se deve confundir o “período mediato” da cicatrização normal (do 30º dia até o 12º mês) com uma complicação cicatricial.</p>
<h3>Quais os resultados obtidos com a mastopexia?</h3>
<p>Os resultados finais da mastopexia podem demorar entre 12 e 18 meses devido ao inchaço e cicatrização. Podem ser consideradas três etapas posteriores ao procedimento:</p>
<ul>
<li><strong>período imediato:</strong> vai do primeiro ao 30º dia. As mamas já apresentam um aspecto bem melhorado, mas a forma estará aquém do resultado planejado, pois nenhuma mama ficará “perfeita” no pós-operatório nessa fase;</li>
<li><strong>período mediato:</strong> vai do 30º dia até o 8º mês. A mama estará mais próxima da forma definitiva, sendo comum alguma insensibilidade ou hipersensibilidade do mamilo;</li>
<li><strong>período tardio:</strong> vai do 8º ao 18º mês. Período que a mama atinge seu aspecto definitivo (cicatriz, forma, consistência, volume e sensibilidade). Espera-se sempre uma acomodação da mama (chamada de báscula) e o grau de elasticidade da pele das mamas tem grande importância no resultado final.</li>
</ul>
<p>Em caso de uma gestação posterior à realização do procedimento, o resultado poderá ser preservado, desde que não haja um aumento excessivo de peso ou das mamas.</p>
<p>Os resultados da mastopexia também dependerão do grau de elasticidade da pele. Quanto à lactação e amamentação, essas poderão ser prejudicadas se a redução da mama na cirurgia tiver sido muito acentuada, além de depender da técnica utilizada.</p>
<h3><strong>Quanto custa uma Mastopexia?</strong></h3>
<p>O Conselho Federal de Medicina e o Regimento Interno da Sociedade Brasileira de Cirurgia Plástica proíbem a divulgação de preços de cirurgias plásticas pela internet. Por isso, os valores devem ser discutidos somente após uma avaliação presencial.</p>










      </div>
    </div>
  </div>          
</div>


  </div>
</div>
      
</div>
  

    <!-- Sart Modal -->
 










     





          <div class="col-md-12 ml-auto mr-auto" style="background-color: #0a2644" >

              <div class="card-body" >
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px">
                    <div class="info info-horizontal">
                      <div class="description">
                        <h4 class="info-title" style=" color: #fff; text-align: left; font-size: 20px">Fique por dentro dos fatos</h4>
                        <h4 class="info-title" style=" color:#75ff02; text-align: left; font-size: 40px">PlásticaNaWeb Eventos</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left">
                          Os eventos funcionam para dar informações sobre cirurgias plásticas e dar a você a chance de tirar todas as suas dúvidas conosco e compartilhar suas experências com outras pessoas! Increva-se para o próximo evento.
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px">
                    <p class="mt-3" style="color: #fff; font-size: 24px;"> Próximo evento - Dia 05/04/2019 - Webnário sobre Plástica. Das 9:00 as 12:00. Gratuíto!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
        






    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: -20px">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Benefícios</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#02dbff; font-size: 50px">credit_card</i>
                

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Plástica Parcelada 36x</h2>
                <p style="height: 150px; font-size: 17px; color:#616a74;"> Plástica parcelada em até 36x. Temos produtos como financiamento plástica, consórcio plástica e outros. Nossos coachs irão buscar a solução de pagamento que cabe no seu bolso. </p>
                <p></p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">attach_money</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor Valor na Plástica</h2>
                <p style="height: 150px; font-size: 16px; color:#616a74">Batemos seu preço. A Plástica que cabe no seu bolso! Temos excelentes clínicas conveniadas para todos os bolsos! Todos os dias levamos diversos pacientes para as clínicas conveniadas, por isso recebemos muitos descontos.  </p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#02dbff; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Melhor cirurgião plástico</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74">Você encontra o melhor cirurgião plástico. Compare preços, veja fotos de antes e depois de vários cirurgiões, tenha acesso a experiência de outras pessoas. Nossa equipe ajuda você com todas as suas dúvidas.</p>
              </div>
            </div>

          </div>
        <p  style="color:#75ff02; font-weight: bold; font-size: 24px; margin-top: 20px "> 
          Segurança e Qualidade! Trabalhamos apenas com cirurgiões plásticos de excelente reputação.
      </p></br>
        </div>
      </div>
    </div>





<footer class="Footer Footer--global" style="background-color: #0a2644; line-height: 70px">
    <div class="container" >
        <div class="row" ">
            <div style="height: 5px">
                <a>
                    <svg class="Iperceptions--icon Icon"><use xlink:href="/build/sprite-critical.svg?c0e4f53c7fb86c64dea3b33c9fc4fbb6#speechBubblePink"></use></svg>
                </a>
            </div>
        </div>

            <div class="col-sm-12" style="color: #fff; text-align: center">
              <%= link_to ("<i class='material-icons'>chat</i>Fale com um especialista").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#02dbff;font-size:30px;'} %>

            </div></br></br>
        <div class="row" style="margin-top: -120px">
            <div class="col-sm-3" style="color: #fff">
                
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Acesso Rápido</h5>
                <nav style="color: #0a2644; margin-top: -120px" >
                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px;">Como Funciona</h2></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Eventos</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">antes e depois cirurgia plástica</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Empréstimo para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Consórcio para cirurgia plástica</a></h2>
                  </li>                    
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Plástica Parcelada</a></h2>
                  </li>                    


                </nav>


                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02; margin-top: 100px" >Perguntas</h5>
                <nav style="color: #0a2644; margin-top: -120px " >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#como_funciona" style="color:#fff;font-size: 14px">Quanto custa para colocar silicone</h2></p>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#eventos" style="color:#fff;font-size: 14px">Preço para colocar botox no rosto</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Qual valor da cirurgia plástica no nariz</a></h2>
                  </li>                                   

                </nav>

            </div>

            <div class="col-sm-3" style="color: #fff">
                <h5 style="font-weight: bold; font-size: 14px; color:#75ff02" >Procedimentos</h5>
                <nav style="color: #0a2644; margin-top: -120px" >

                  <li class="nav-item" style="height: 30px; ">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/206" style="color:#fff;font-size: 14px">Colocar Silicone</a></h2>
                  </li>          
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/207" style="color:#fff;font-size: 14px">Lipoaspiração</a></h2>
                  </li>                            

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/208" style="color:#fff;font-size: 14px">Toxina Botulínica</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/209" style="color:#fff;font-size: 14px">Preenchimento Facial</a></h2>
                  </li>               

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/210" style="color:#fff;font-size: 14px">Rinoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/211" style="color:#fff;font-size: 14px">Lifting Facial</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/212" style="color:#fff;font-size: 14px">Mamoplastia Redutora</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/213" style="color:#fff;font-size: 14px">Mastopexia com Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/214" style="color:#fff;font-size: 14px">Mastopexia sem Prótese</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/215" style="color:#fff;font-size: 14px">Abnominoplastia</a></h2>
                  </li>               
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="http://ec2-18-223-28-154.us-east-2.compute.amazonaws.com/products/216" style="color:#fff;font-size: 14px">Cirurgia Íntima</a></h2>
                  </li>               

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Valor / Preço Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="##procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Valor / Preço implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>

            <div class="col-sm-3" style="color: #fff">
                <h2 style="font-weight: bold; font-size: 14px; color:#75ff02" >Antes e Depois Cirurgia Plástica</h2>
                <nav style="color: #0a2644; margin-top: -90px" >
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois  Silicone</a></h2>
                  </li>          

                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Rinoplastia</a></h2>
                  </li>                 
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Abdominoplastia</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Botox</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Preenchimento facial</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Lipoaspiração</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mamoplastia Redutora</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois Mastopexia com prótese</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois silicone bumbum</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois otoplastia orelha</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois cirurgia queixo</a></h2>
                  </li>                                   
                  <li class="nav-item" style="height: 30px">
                    <h2><a href="#procedimentos" style="color:#fff;font-size: 14px">Antes e Depois implante capilar</a></h2>
                  </li>                                   

                </nav>
            </div>


        </div>
    </div>

                <div>
        </div>
    

    <div class="Footer-copyright" style="text-align: center; color: #fff; margin-top: 100px">
        © 2019 PlásticaNaWeb, Inc. Todos os direitos reservados.
        
    </div>

</footer>










  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="./assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // the body of this function is in assets/js/now-ui-kit.js
      nowuiKit.initSliders();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>











